﻿<div class="data-filters">
  <div class="row">

    <div class="col-md-4 col-sm-3 col-xs-6 col-print-12 no-padding">
      <h3>
        <span ng-show="!customerId && version == 'full'" class="visible-print">{{GetPeriod(ReportFilters.PeriodRange)}} </span><span ng-show="!customerId && version == 'full'">{{Translate('Performance')}}</span> <span class="visible-print">for {{AgentAsCustomerInfo.CustomerID}}</span>
          <span ng-show="customerId && version == 'modal'" class="center" >
              <!--ng-bind="Translate('Performance for ') + customerId"-->
              {{Translate('Performance for ')}} {{customerId | RemoveIdString:'TW'}}
          </span>
        <span><a class="print-icon hidden-print hidden-xs" onclick="window.print();"></a></span>
      </h3>
      <span class="title-desc hidden-xs">{{Translate('Highlight Net column figures to get total selected sum.')}}</span>
      <div ng-show="AgentPerformance.length == 0" ng-bind="">{{Translate('No Info To Show')}}</div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 text-right no-padding">
      <form class="form-inline hidden-print">
        <div class="form-group">
          <label class="hidden-xs">{{Translate('Wager Type: ')}}</label>
          <select class="form-control" ng-model="ReportFilters.WagerType" ng-change="GetAgentPerformance()">
            <option value="" selected ng-bind="Translate('All')"></option>
            <option value="S">{{Translate('Straight Bet')}}</option>
            <option value="P">{{Translate('Parlay')}}</option>
            <option value="T">{{Translate('Teaser')}}</option>
            <option value="I">{{Translate('If Bet')}}</option>
            <option value="C">{{Translate('Casino')}}</option>
            <option value="G">{{Translate('Horse Racing')}}</option>
          </select>
          <agent ng-if="AgentAsCustomerInfo.AgentType != 'A' && version == 'full'">
                        <label ng-if="AgentAsCustomerInfo.AgentType != 'A'">{{Translate('Agent:')}} </label>
                        <select  ng-if="AgentAsCustomerInfo.AgentType != 'A'"
                            class="form-control"
                            ng-model="AgentID"
                            ng-change="GetAgentPerformance(null, AgentID)"
                            ng-options="a for a in AgentsList">
                        </select>
                    </agent>
        </div>
      </form>
    </div>

    <div class="col-md-4 col-sm-5 col-xs-12 text-right no-padding">
      <form class="form-inline hidden-print">
        <div class="form-group btn-performance">
          <div class="btn-period-group" class="panel-collapse in" id="subSport_24_periods">
            <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'D'}" type="button" value="{{Translate('Daily')}}" ng-model="ReportFilters.PeriodRange" ng-click="GetAgentPerformance('D')">
            <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'W'}" type="button" value="{{Translate('Weekly')}}" ng-model="ReportFilters.PeriodRange" ng-click="GetAgentPerformance('W')">
            <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'M'}" type="button" value="{{Translate('Monthly')}}" ng-model="ReportFilters.PeriodRange" ng-click="GetAgentPerformance('M')">
            <input class="btn btn-small btn-period" ng-class="{active : ReportFilters.PeriodRange == 'Y'}" type="button" value="{{Translate('Yearly')}}" ng-model="ReportFilters.PeriodRange" ng-click="GetAgentPerformance('Y')">
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="data-component table-performance">
  <form class="form-inline hidden-print hidden-xs">
    <div class="form-group totalselected">
      <label>{{Translate('Total Selected')}} </label>
      <input type="text" class="form-control" id="totalSelected" readonly>
    </div>
  </form>
  <table class="tablesaw" data-tablesaw-mode="swipe" data-tablesaw-minimap cellpadding="0" cellspacing="0" id="performanceTbl" ng-if="!LoadingReportData">
    <thead class='header'>
      <tr>
        <th data-tablesaw-priority="persist">{{Translate('Period')}}</th>
        <th class="text-right">{{Translate('Lost')}}</th>
        <th class="text-right">{{Translate('Won')}}</th>
        <th class="text-right">{{Translate('Net')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aP in AgentPerformance" table-saw>
        <td id="D{{$index}}"><span class="per-dates" ng-bind="DisplayPeriod(aP.period)"></span></td>
        <td id="D{{$index}}1" class="text-right"><span ng-bind="DisplayMyNumber(aP.Lost)"></span></td>
        <td id="D{{$index}}2" class="text-right"><span ng-bind="DisplayMyNumber(aP.Won)"></span></td>
        <td class="text-right" id="N{{$index}}" ng-class="{'num_neg' : aP.Net < 0}" ng-bind="DisplayMyNumber(aP.Net)"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td id="D" colspan="4">
          <form class="form-inline hidden-print hidden-xs">
            <div class="form-group totalselected">
              <label>{{Translate('Total Selected')}} </label>
              <input type="text" class="form-control" id="totalSelectedBottom" readonly>
            </div>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>
</div>