/* AGENTS CUSTOM STYLE */
/*
* {border: 1px solid red;}
*/
/*@import url('/assets/libs/simple-sidebar/simple-sidebar.css') (max-width:1224px);*/
/* oswald-300 - latin-ext_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/oswald-v10-latin-ext_latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Light"), local("Oswald-Light"), url("/assets/fonts/oswald-v10-latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/oswald-v10-latin-ext_latin-300.woff2") format("woff2"), url("/assets/fonts/oswald-v10-latin-ext_latin-300.woff") format("woff"), url("/assets/fonts/oswald-v10-latin-ext_latin-300.ttf") format("truetype"), url("/assets/fonts/oswald-v10-latin-ext_latin-300.svg#Oswald") format("svg");
  /* Legacy iOS */
}
/* oswald-regular - latin-ext_latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/oswald-v10-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oswald Regular"), local("Oswald-Regular"), url("/assets/fonts/oswald-v10-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/oswald-v10-latin-ext_latin-regular.woff2") format("woff2"), url("/assets/fonts/oswald-v10-latin-ext_latin-regular.woff") format("woff"), url("/assets/fonts/oswald-v10-latin-ext_latin-regular.ttf") format("truetype"), url("/assets/fonts/oswald-v10-latin-ext_latin-regular.svg#Oswald") format("svg");
  /* Legacy iOS */
}
/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.woff2") format("woff2"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.woff") format("woff"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.ttf") format("truetype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-regular.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}
/* roboto-condensed-300italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.woff2") format("woff2"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.woff") format("woff"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.ttf") format("truetype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-300italic.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}
/* roboto-condensed-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.woff2") format("woff2"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.woff") format("woff"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.ttf") format("truetype"), url("/assets/fonts/roboto-condensed-v13-latin-ext_latin-700.svg#RobotoCondensed") format("svg");
  /* Legacy iOS */
}
/* ui_icons set */
@font-face {
  font-family: 'ui_icons_agents';
  src: url("/assets/fonts/ui_icons_agents.eot?-i8aukz");
  src: url("/assets/fonts/ui_icons_agents.eot?#iefix-i8aukz") format("embedded-opentype"), url("/assets/fonts/ui_icons_agents.woff?-i8aukz") format("woff"), url("/assets/fonts/ui_icons_agents.ttf?-i8aukz") format("truetype"), url("/assets/fonts/ui_icons_agents.svg?-i8aukz#ui_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'ui_icons_agents';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a, a:hover {
  color: #0F4F73;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.icon-container {
  border: 1px solid #CCC;
  padding: 3px;
  text-align: center;
  border-radius: 6px;
  background: #FFF;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.icon-sports, .icon-horses, .icon-casino, .icon-select, .icon-reports, .icon-settings, .icon-inbox, .icon-rules, .icon-logout {
  /*display: block;*/
}

.icon-sports:before, .icon-horses:before, .icon-casino:before, .icon-select:before, .icon-reports:before, .icon-settings:before, .icon-inbox:before, .icon-rules:before, .icon-logout:before {
  /*display: block;*/
  font-size: 1.5em;
  margin-bottom: 7px;
}

.icon-inbox:before, .icon-rules:before, .icon-logout:before {
  margin-bottom: 3px;
}

.icon-sports:before {
  content: "\e61d";
  font-size: 1.7em;
  /*height: 25px; margin-bottom: 4px; color: #337ab7;*/
}

.icon-horses:before {
  content: "\e90e";
  font-size: 1.8em;
  /*font-size:2.6em;*/
  /*line-height: 0.5;*/
  /*height: 25px;*/
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.icon-casino:before {
  content: "\e910";
  font-size: 1.8em;
  /*font-size:2.7em;*/
  /* line-height: 0.5; height: 25px;*/
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.icon-blackjack:before {
  content: "\e90d";
  font-size: 1.7em;
  /*line-height: 0.5; height: 25px;*/
  height: 25px;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.icon-livedealer:before {
  content: "\e912";
  font-size: 1.9em;
  /*line-height: 0.5; height: 25px;*/
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.icon-select:before {
  content: "\e600";
}

.icon-reports:before {
  content: "\e601";
  font-size: 1.2em;
  margin-right: 8px;
}

.icon-settings:before {
  content: "\e602";
}

.icon-inbox:before {
  content: "\e603";
}

.icon-rules:before {
  content: "\e604";
}

.icon-logout:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e606";
  margin-top: 12px;
  display: block;
  font-size: 1.3em;
}

.icon-more:before {
  content: "\e607";
}

.icon-search:before {
  content: "\e608";
}

.icon-star:before {
  content: "\e609";
}

.icon-dropdown:before {
  content: "\e60a";
}

.icon-arrow-bullet:before {
  content: "\e60b";
  font-size: 0.8em;
  margin-right: 5px;
  color: #FC0;
}

.icon-arrow-down:before {
  content: "\e60c";
}

.icon-arrow-up:before {
  content: "\e60d";
}

.icon-minus:before {
  content: "\e60e";
}

.icon-plus:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e610";
}

.icon-busqueda:after {
  content: "ggg";
  border: 1px solid red;
  color: #FFF;
}

.icon-dashboard:before {
  content: "\e90a";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-cust-maint:before {
  content: "\e909";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-nfl-helmet:before {
  content: "\e908";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-payment:before {
  content: "\e907";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-exit:before {
  content: "\e906";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-whistle:before {
  content: "\e905";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-trending:before {
  content: "\e904";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-perf-up:before {
  content: "\e903";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-perf-down:before {
  content: "\e902";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-ag-dist:before {
  content: "\e901";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-ag-liveticker:before {
  content: "\e913";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-activity-log:before {
  content: "\e913";
  font-size: 1.6em;
  position: relative;
  top: 3px;
}

.icon-ag-livelines:before {
  content: "\e914";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-warning {
  display: block;
  margin-bottom: 5px;
}

.icon-warning:before {
  content: "\e61f";
  font-size: 1.6em;
  color: #D90000;
}

.icon-ag-circle-graph:before {
  content: "\e900";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.icon-lb:before {
  content: "\e911";
  font-size: 1.8em;
  /*font-size:2.5em; margin-right: 10px;  margin-top: 0px; padding-top: 10px;*/
}

.icon-userallow:before {
  content: "\e916";
  font-size: 1.9em;
  /*line-height: 0.5; height: 25px;*/
  /*align-items: stretch;*/
}

.icon-suspendwager:before {
  content: "\e915";
  font-size: 1.6em;
  /*line-height: 0.5; height: 25px;*/
  /*align-items: stretch;*/
}

.icon-openbets:before {
  content: "\e90b";
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

span.icon-text {
  text-indent: -9999em !important;
  display: inline-block;
  white-space: nowrap;
}

@media (max-width: 991.98px) {
  .icon-cust-maint:before {
    margin-right: 5px;
  }
}
.temp_credit {
  position: relative;
  cursor: pointer;
}

tbody i:before {
  content: "";
  background: #B20000;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  position: absolute;
  left: -10px;
  bottom: 4px;
}

tbody .popover {
  min-width: 175px;
  white-space: pre-wrap;
}

tbody .popover-inner {
  min-width: 175px;
  text-align: left;
  margin: 0 auto;
  font-size: 10px;
  white-space: pre-wrap;
}

tbody .popover-content {
  font-size: 12px;
  white-space: pre-wrap;
}

body {
  color: #000;
  background-color: #F1F1F1;
}

/* Button Periods */
.btn-period {
  color: #000;
  background-color: #FFF;
  padding: 3px 7px;
  font-size: 10px;
  text-transform: uppercase;
}

.btn-period:hover {
  color: #000;
  border-color: #6BB2D6;
}

.btn-period:active, .btn-period.active {
  color: #FFF;
  background-color: #3399C9;
  border-color: #3399C9;
}

.btn-graded {
  color: #000;
  background-color: #DDF3FE;
  padding: 3px 7px;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid #3399C9;
}

.modal-content .btn-period {
  background-color: #DDF3FE;
  border-color: #6BB2D6;
}

.modal-content .btn-period:active, .modal-content .btn-period.active {
  color: #FFF;
  background-color: #3399C9;
  border-color: #3399C9;
}

.btn-performance {
  width: 100%;
}

/* Button Reports Modal Box */
.btn-performance .btn-period-group {
  display: inline-block;
  width: 100%;
}

/*@media (max-width: 768px) { */
@media (max-width: 991.98px) {
  .btn-performance .btn-period-group {
    display: block !important;
    width: inherit;
  }

  .btn-performance .btn-period {
    width: 24.4%;
  }

  .btn-performance .btn-period:first-of-type {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .btn-performance .btn-period {
    width: 24%;
  }

  .btn-performance .btn-period:first-of-type {
    width: 24%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 24px;
  padding: 3px 7px !important;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 3em;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.restrictions {
  margin: 0 auto;
}

/* CHECKBOX for SIDEBAR, TEAM TOTAL, PITCHER, PASSWORD N' FREEPLAYS */
.chckbx label, .restrictions label {
  cursor: pointer;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font: normal 0.8em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
}

.sidebar-nav label:after, .chckbx label:after, .restrictions label:after {
  border-radius: 4px;
  border: 1px solid #666;
  /* revisar esto */
  width: 20px;
}

.sidebar-nav label:hover, .chckbx label:hover, .restrictions label:hover {
  cursor: pointer;
  color: #036;
}

.chckbx label:before, .restrictions label:before {
  margin: 0 10px 0 0;
  color: #0280D2;
  font-size: 0.7em;
  text-align: left;
}

.sidebar-nav input.checkbox[type=checkbox], .team-total input[type=checkbox], .pitcher input[type=checkbox], .psswchk input[type=checkbox], .freeplay input[type=checkbox], .chckbx input[type=checkbox], .restrictions input[type=checkbox] {
  display: none;
}

.sidebar-nav input.checkbox[type=checkbox]:checked + label:after, .sidebar-nav input.checkbox[type=checkbox] + label:after,
.chckbx input[type=checkbox]:checked + label:after, .chckbx input[type=checkbox] + label:after {
  font-family: "ui_icons_agents";
  content: "\e600";
  font-size: 1em;
  text-align: center;
  background-color: #EEE;
  padding: 2px;
  line-height: 15px;
  display: block;
}

.restrictions input[type=checkbox]:checked + label:before {
  font-family: "ui_icons_agents";
  content: "\e600";
  font-size: 1em;
  text-align: center;
  background-color: #EEE;
  padding: 2px;
  line-height: 15px;
  display: block;
}

.restrictions input[type=checkbox] + label:before {
  font-family: "ui_icons_agents";
  font-size: 1em;
  text-align: center;
  content: "\e610";
  color: #E50000;
}

.rest_disable input[type=checkbox] + label:before {
  color: #E50000;
  opacity: 0.5;
}

/* red cross */
.restrictions input[type=checkbox]:checked + label:before {
  content: "\e600";
  color: #000;
}

.rest_disable input[type=checkbox]:checked + label:before {
  color: #000;
  opacity: 0.5;
}

/* check */
.sidebar-nav input.checkbox[type=checkbox]:checked + label:after,
.chckbx input[type=checkbox]:checked + label:after,
.restrictions input[type=checkbox]:checked + label:after {
  color: #000;
}

.sidebar-nav input.checkbox[type=checkbox] + label:after,
.chckbx input[type=checkbox] + label:after,
.restrictions input[type=checkbox] + label:after {
  fill: #012F46;
  color: #EEE;
}

.ticket .pitcher input[type=checkbox] + label:after {
  color: #FFF;
  font-weight: normal;
}

.ticket .pitcher input[type=checkbox]:checked + label:after {
  color: #000;
}

/* Checkbox for Restrictions */
.restrictions {
  padding: 0;
  text-align: center;
}

.restrictions label {
  top: 2px;
}

.restrictions label:before {
  border: 1px solid #999;
  margin-left: 0;
  /**/
  padding: 2px;
  line-height: 15px;
  display: block;
  height: 20px;
  width: 20px;
}

.rest_disable label:before {
  border: 1px solid #BBB;
}

.restrictions label:before {
  margin: 0;
}

.restrictions input[type=checkbox]:checked + label:before, .restrictions input[type=checkbox] + label:before {
  margin-right: 0;
  background-color: #FFF;
  float: right;
  border-radius: 4px;
}

.restrictions input[type=checkbox] + label:after {
  color: #FFF;
}

/* Checkbox for sidebar */
.sidebar-nav label {
  cursor: pointer;
  color: #FFF;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  width: 220px;
  text-indent: 0;
}

.sidebar-nav label:after {
  border: none;
}

.sidebar-nav label:hover {
  color: #FC0;
}

.sidebar-nav input.checkbox[type=checkbox]:checked + label:after, .sidebar-nav input.checkbox[type=checkbox] + label:after {
  float: right;
  margin: 7px 0 0 0;
  height: 20px;
  width: 20px;
}

/* Checkbox for BREAKOUT */
.chckbx {
  margin-top: 10px;
}

.chckbx label {
  margin: 0;
  padding: 5px 0 0 0;
  height: 30px;
  font: 0.9em/1.3 Arial,Helvetica,sans-serif;
  text-transform: none;
}

.chckbx label:after {
  border: 1px solid #999;
  margin-left: 10px;
}

.chckbx label:before {
  margin: 0;
}

.chckbx input[type=checkbox]:checked + label:after, .chckbx input[type=checkbox] + label:after {
  margin-right: 0;
  background-color: #FFF;
  float: right;
}

.chckbx input[type=checkbox] + label:after {
  color: #FFF;
}

/* Circled Legend */
.CircleLegend {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

.CircleLegend i {
  display: inline-block;
  padding: 0 0 0 18px;
  position: relative;
  font-size: 12px;
  margin: -10px 0 0 0;
  color: black;
  margin-right: 25px;
}

.CircleLegend i:before {
  content: ".";
  width: 7px;
  height: 7px;
  border-radius: 4px;
  position: absolute;
  left: 4px;
  bottom: 5px;
  color: transparent;
}

.CircleLegend i.CircleLow:before {
  background: #B20000;
}

.CircleLegend i.CircleHigh:before {
  background: #008C00;
}

@media (max-width: 767px) {
  .CircleLegend {
    width: 90px;
  }

  .CircleLegend i {
    margin: 0;
  }

  .CircleLegend i:before {
    bottom: inherit;
    top: 5px;
  }
}
/* Sports Menu */
.sports-container {
  margin: 0 auto;
  width: 95%;
  margin-top: 50px;
}

.sports-container .panel {
  border: none;
  box-shadow: none;
  background: transparent;
}

.sports-container .panel-group {
  margin-bottom: 0;
}

.sports-container .panel-body {
  padding: 0;
  border: none !important;
}

@media only screen and (min-width: 1024px) {
  /* desktop */
  .sports-container {
    margin-top: 0;
  }
}
.sports {
  border: none;
}

.sports .panel {
  border: none;
  box-shadow: none;
  background: transparent;
}

.sports .panel-default {
  margin: 0 !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #DFDFDF;
}

.sports .panel-default:last-of-type {
  border-bottom: none !important;
}

.sports .panel-heading {
  background: transparent !important;
  border: none;
  padding: 4px 10px 4px 0;
  overflow: auto;
}

.sports .panel-heading a {
  font: bold 0.8em/1.4 Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  color: #012F46;
  display: block;
}

.sports .rules-head .panel-body {
  padding-top: 10px;
}

.sports .panel-title:before {
  display: none;
}

.sports .panel-body {
  font: 0.9em/1.4 Arial, Helvetica, sans-serif;
  border-top: none !important;
}

.sports .panel-body {
  padding-top: 0;
  text-align: left;
}

.sports .panel-body ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sports .panel-body ul li {
  padding-top: 5px;
  border-top: 1px solid #DFDFDF;
}

.sports .panel-body ul li .dot {
  margin-left: 25px;
}

.sports .panel-body ul li a {
  color: #06C;
  cursor: pointer;
}

/* sports menu check box */
.sports-container h4 a {
  cursor: pointer;
}

.sports-container h4 a.collapsed:before {
  font-family: "ui_icons_agents";
  content: "\ea0a";
}

.sports-container h4 a:before {
  font-family: "ui_icons_agents";
  content: "\ea0b";
  font-size: 0.8em;
  margin-right: 7px;
  color: #FFF;
  padding: 4px;
  background: #012F46;
  border-radius: 4px;
  height: 20px;
}

.sports-container, .sports-container li ul {
  list-style-position: inside;
}

.sports-container li {
  vertical-align: top;
}

.sports-container li label {
  cursor: pointer;
  color: #000;
  margin: 3px 0 0 0;
  padding: 0;
  height: 20px;
  position: relative;
  letter-spacing: 0.03em;
  /*text-transform: uppercase; */
  width: 180px;
  /*NELSON FIX */
  font: normal 0.95em/1 Arial,Helvetica,sans-serif;
  /*border: 1px solid red; */
  line-height: 14px;
}

.sports-container li ul li label {
  cursor: pointer;
  color: #000;
  margin: 3px 0 0 0;
  padding: 0;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  width: 150px;
  font: normal 0.8em/1.3 Arial,Helvetica,sans-serif;
}

.sports-container li .dot:before {
  background: #999;
}

.sports-container li ul li .dot:before {
  background: #CCC;
}

.sports-container label:after {
  border-radius: 4px;
  border: 1px solid #FFF;
}

.sports-container label:hover {
  cursor: pointer;
  color: #036;
}

.sports-container label:before {
  margin: 0;
  color: #0280D2;
  font-size: 0.7em;
  text-align: left;
}

.sports-container li a, .sports-container li a:visited {
  color: #000 !important;
  /*margin-bottom: 10px; */
  height: 16px;
  display: inline-block;
  width: 200px;
}

a.checkall {
  height: 24px !important;
  display: block;
  font-size: 0.8em;
  width: 80px !important;
  border: 1px solid #BBB;
  margin: 5px 0 7px 25px;
  padding: 3px 8px;
  background: #FFF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: #000;
}

.sports-container li a.checkall {
  margin-left: 55px;
}

a.checkall:after {
  display: none;
}

a.checkall-disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* newwww */
.sports-container .list-one {
  margin: 0;
  padding: 0;
}

.sports-container .list-one label {
  cursor: pointer;
}

.sports-container .list-one input {
  display: none;
  margin: 0;
  padding: 0;
}

.sports-container .list-one .selected {
  list-style-type: none;
}

.sports-container .list-one li {
  padding: 5px 0;
  list-style-type: none;
  margin: 0;
}

/* .sports-container .list-one li.selected { } */
.sports-container .list-one li label {
  padding-left: 10px;
}

.sports-container .list-one li span:before {
  font-family: "ui_icons_agents";
  content: "\e617";
  font-size: 1em;
  color: #FFF;
  float: left;
  margin-left: 25px;
  margin-top: 0px;
  padding: 2px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #6E6E6E;
  height: 20px;
  cursor: pointer;
}

.sports-container .list-one li.selected span:before {
  font-family: "ui_icons_agents";
  content: "\e600";
  font-size: 1em;
  color: #000;
  padding: 0 2px 4px 2px;
  background: #FFF;
  border-radius: 4px;
  height: 20px;
}

.sports-container li .fourlevel > span {
  margin-right: 10px;
}

.sports-container .list-one li.unselected span:before {
  color: #FFF;
}

.sports-container li .fourlevel > span {
  margin-right: 10px;
}

.sports-container li .fourlevel > span.collapsed:before {
  font-family: "ui_icons_agents";
  content: "\ea0a";
}

.sports-container li .fourlevel > span:before {
  background: #DFDFDF;
  font-size: 0.8em;
  color: #5C5C5C;
  border: 1px solid #AAAAAA;
  content: "\ea0b";
  padding: 4px !important;
  /*margin-bottom: 10px;*/
  background: transparent;
  border: none;
}

.sports-container li.unselected .fourlevel > span.collapsed:before {
  font-family: "ui_icons_agents";
  content: "\ea0a";
}

.sports-container li.unselected .fourlevel > span:before {
  background: #DFDFDF;
  font-size: 0.8em;
  color: #5C5C5C;
  border: 1px solid #AAAAAA;
  content: "\ea0b";
  padding: 4px !important;
  /*margin-bottom: 10px;*/
  background: transparent;
  border: none;
}

.sports-container .list-one li.unselected:last-child {
  padding-bottom: 0;
}

.sports-container li.orphaned:first-child {
  padding-top: 0;
  border-top: none !important;
}

.sports-container li .fourlevel ul li span:before {
  background: #FFF;
  color: #FFF;
}

.sports-container li .fourlevel a {
  font-size: 0.8em;
  width: 170px;
}

.sports-container li.fourlevel > span.dot:before {
  font-family: "ui_icons_agents";
  content: "\e617";
  font-size: 1em;
  color: #CCC;
  float: left;
  margin-left: 15px;
  margin-top: 0px;
}

.sports-container .list-two li span:before {
  font-family: "ui_icons_agents";
  content: "\e617";
  font-size: 1em;
  color: #CCC;
  float: left;
  margin-left: 55px;
  margin-top: 0px;
  /*border: 1px solid red;*/
}

.sports-container .list-two li.selected span:before {
  font-family: "ui_icons_agents";
  content: "\e600";
  font-size: 1em;
  color: #000;
}

/* Header */
.navbar {
  background-color: #FFF;
  min-height: 60px;
  border: none;
}

.navbar-default {
  border-color: none;
}

.navbar-header {
  background-color: #023149;
  min-height: 60px;
  color: #FFF;
  padding: 10px;
  width: 100%;
}

.navbar-header h1 {
  font: bold 1.8em/1.2 "Oxygen",sans-serif;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1em;
  float: left;
}

.navbar-header h1 span {
  display: block;
  font-size: 0.55em;
  font-weight: normal;
}

.header-content {
  background-color: #FFF;
  height: 65px;
  border: none;
}

.header-content .menu {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  border-right: 1px solid #CCC;
  margin: 10px 0 0 0;
}

.curr-bal {
  font: bold 1.8em/1.2 "Oxygen",sans-serif;
  text-transform: uppercase;
  margin: 10px 0 0 10px;
  letter-spacing: 0.05em;
  min-width: 200px;
  padding-right: 15px;
}

.curr-bal span {
  display: block;
  font-size: 0.5em;
  font-weight: bold;
}

.navbar-toggle {
  padding: 0;
  border: none;
}

@media (max-width: 1024px) {
  .curr-bal {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 10px 0 0 8px;
    min-width: 125px;
    padding-right: 8px;
  }

  .curr-bal span {
    font-size: 0.5em;
  }

  .icon-exit:before {
    margin-right: 0;
  }

  .print-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .curr-bal {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 10px 0 0 8px;
    min-width: 100px;
    padding-right: 8px;
  }

  .curr-bal span {
    font-size: 0.4em;
  }

  .icon-exit:before {
    margin-right: 0;
  }
}
/*  SEARCH  */
input.search-query {
  padding-left: 40px;
  height: 34px;
  top: 50px;
}

form.form-search {
  position: relative;
  height: 34px;
}

form.form-search:before {
  font-family: "ui_icons_agents";
  content: "\e608";
  display: block;
  color: #0280D2;
  position: absolute;
  top: 8px;
  left: 15px;
  opacity: .7;
}

input.search-query3:before {
  font-family: "ui_icons_agents";
  content: "\e608";
  display: block;
  color: #0280D2;
}

/* Header menu */
.top-menu ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.top-menu ul li {
  display: inline-block;
  padding: 0.2em 0.7em 0 0.7em;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #fff;
  height: 30px;
}

.top-menu ul li:first-child {
  padding-left: 0;
}

.top-menu ul li span:before {
  font-size: 1.6em;
  display: block;
  margin-top: 8px;
  cursor: pointer;
}

.top-menu ul li span.icon-settings:before {
  color: #7FCCE5;
}

.top-menu ul li span.icon-exit:before {
  color: #DC1717;
}

#page-content-wrapper {
  padding: 0;
}

.live-bet-ticker #page-content-wrapper {
  padding: 0 10px;
}

/*.dashboard #wrapper, .dashboard #page-content-wrapper { height: 100%; }*/
#wrapper, #page-content-wrapper {
  height: 100%;
}

h3 {
  font: bold 1.3em/1.2 "Oxygen",sans-serif;
  margin: 0;
  letter-spacing: 0.05em;
}

#containerFluid {
  height: calc(100% - 65px);
}

#containerFluid > .ng-scope {
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.dashbwrapper {
  height: 100%;
  overflow: auto;
}

.dashbleft {
  height: 100%;
  float: left;
  overflow-y: auto;
  padding: 0 10px 10px 10px;
  width: calc(100% - 260px);
}

.dashbleft > .row {
  margin-right: 0;
}

.dashbright {
  height: 100%;
  width: 260px;
  float: right;
  /*overflow-y: auto;*/
  background: #EEE;
}

@media (max-width: 1024px) {
  .dashbwrapper {
    overflow: visible;
  }

  .dashbleft {
    width: 100%;
    /*padding: 0 0 10px 0;*/
  }

  .dashbright {
    display: none !important;
  }

  .data-chart {
    display: none !important;
  }
}
.allscrll {
  height: 100%;
  float: left;
  overflow-y: auto;
  padding: 0 10px 10px 10px;
  width: 100%;
}

.allscrll div > .row {
  margin: 0;
}

/* Live Lines */
.livelines {
  background: #E1E1E1;
  padding: 1px 10px;
  font: normal 1.2em/1.2 "Oxygen",sans-serif;
  /*margin: 0 0 15px 0;*/
  letter-spacing: 0.1em;
  height: 35px;
  display: none;
}

.livelines ul {
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.livelines ul li {
  display: inline-block;
  padding: 0.1em 0.7em 0 0.7em;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #fff;
  height: 30px;
}

.livelines ul li:first-child {
  padding-left: 0;
}

.livelines ul li a {
  color: #000;
  text-decoration: none;
  font-size: 0.65em;
}

.livelines ul li span {
  padding-top: 10px;
  font-size: 0.65em;
  font-weight: bold;
}

.livelines ul li a:hover {
  /*font-weight: bold;*/
  color: #000;
}

@media (max-width: 768px) {
  .livelines {
    display: none !important;
  }
}
.color-ranges option:hover, .color-ranges option:focus {
  background: red !important;
}

.color-ranges option:nth-child(3) {
  background: #A4FCD0;
  /* green */
}

.color-ranges option:nth-child(4) {
  background: #FCB0B0;
  /* red */
}

.amount-low {
  /*background-color: #FF9;  yellow */
}

.amount-middle {
  background: #A4FCD0;
  /* green */
}

.amount-high {
  background: #FCB0B0;
  /* red */
}

.color-ranges option.null-one:hover {
  background: red !important;
}

/* Agents View Lines */
.agent-view-lines .wtype, .agent-view-lines .livebetting {
  display: none;
}

.agent-view-lines .wrapper {
  height: 100%;
}

.agent-view-lines .page-content-wrapper {
  width: calc(100% - 260px);
}

.agent-view-lines .page-content-wrapper {
  width: calc(100% - 260px);
}

.agent-view-lines .bettinglines li .gameLineInfo button i:before {
  bottom: 10px !important;
}

/* Live Ticker */
.LiveTicker .row-header {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #F6F6F6;
  padding: 10px 0;
  font-weight: bold;
}

.LiveTicker .row {
  margin: 0;
}

.LiveTicker .row .row div {
  font-size: 0.9em;
}

.row-striped {
  padding: 7px 0;
  border-bottom: 1px solid #CCC;
}

.row-striped:nth-of-type(odd) {
  background-color: #fff;
}

.row-striped:nth-of-type(even) {
  background-color: #efefef;
}

.livetick_details {
  list-style: none;
  padding: 0;
  margin-right: 10px;
}

.livetick_details span {
  display: block;
}

.livetick_details li {
  color: #666;
  padding: 10px 0 0 0;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.livetick_details li:first-of-type {
  border-top: none;
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
}

.livetick_details li span:last-of-type {
  margin-bottom: 15px;
  padding-left: 15px;
}

#wrapper.live-bet-ticker {
  padding-left: 0;
}

.live-bet-ticker .livetick_details {
  margin-top: unset;
  margin-bottom: 0;
}

.live-bet-ticker .sidebar-wrapper {
  display: none;
}

.LiveTickerInfo-date, .LiveTickerInfo-time {
  display: block;
  font-size: 0.85em;
  white-space: nowrap;
}

.live-bet-ticker .tablesaw tbody td {
  vertical-align: middle;
}

.live-bet-ticker table td span {
  font-size: 0 0.95em;
}

@media (min-width: 768px) {
  #wrapper.live-bet-ticker {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .LiveTicker .row {
    margin: 0 10px;
  }

  .cust-data {
    color: #666;
    font-size: 0.9em;
  }

  .wg-desc {
    padding: 10px;
  }

  .LiveTicker .cust-data .visible-xs {
    display: inline-block !important;
    color: #000;
    width: 40px;
  }

  .LiveTickerInfo-date, .LiveTickerInfo-time {
    display: inline-block;
    font-size: 1em;
  }
}
/* Sidebar */
#sidebar-wrapper {
  background: #0F4F73;
}

.sidebar-nav {
  top: 70px;
}

.sidebar-nav li {
  border-bottom: 1px solid #023149;
}

.sidebar-nav li.active {
  background: #70B7DB;
}

.sidebar-nav li a {
  border-radius: none;
  border-left: #0F4F73 2px solid;
  color: #FFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  border-radius: none;
  color: #fff;
  border-left: #70B7DB 2px solid;
}

@media (max-width: 768px) {
  .btn-performance .btn-period:first-of-type
  #simple-sidebar {
    width: 0 !important;
  }
}
.curr-bal {
  border-right: 1px solid #CCC;
}

/* Data */
.data-filters {
  margin: 15px 0 10px 0;
}

.data-filters p {
  font-size: 0.85em;
  margin-top: 8px;
  line-height: 1.7em;
}

.data-filters p a {
  display: block;
}

.data-filters .form-group {
  margin-bottom: 0;
}

.title-desc {
  font-size: 0.9em;
  margin-bottom: 10px;
  display: block;
}

#ModalDailyFig .cust-content-body .data-filters {
  margin-top: 0;
  margin-bottom: 15px;
}

.data-component-summary {
  background-color: none;
  padding: 8px;
  border-top: 1px solid #CCC;
  font-size: 0.85em;
}

.data-component-summary h2 {
  margin: 0;
  font-size: 2em;
}

.data-component-summary .d-numb {
  font-size: 1.5em;
  margin-right: 5px;
}

.data-component-summary [class*="col"] {
  border-right: 1px solid #CCC;
  margin-bottom: 10px;
}

.data-component-summary [class*="col"]:last-of-type {
  border-right: none;
}

.cust-maint .data-component-summary {
  border-top: none;
  font-size: 0.85em;
  padding: 0;
}

.cust-maint .data-component-summary [class*="col"] {
  margin-bottom: 0;
}

.cust-maint .data-component-summary h2 {
  margin-bottom: 0 !important;
}

.data-component-summary h2.agents {
  font-size: 1.8em !important;
  margin: 0;
}

.cust-maint .collapse table {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  /*.data-component-summary [class*="col"] { border-right: 1px solid #CCC; }*/
}
@media (max-width: 769px) {
  .data-component-summary [class*="col"] {
    margin-bottom: 10px;
  }

  .data-component-summary [class*="col"]:nth-child(2) {
    border-right: none;
    margin-bottom: 10px;
  }

  .settlefig [class*="col"]:nth-child(2) {
    border-right: 1px solid #CCC;
  }

  .data-component-summary h2 {
    font-size: 1.4em;
  }
}
.data-filters label {
  font-weight: normal;
  font-size: 0.9em;
  padding: 0 5px 0 10px;
}

.data-component {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 25px;
}

.data-component .data-filters {
  margin-top: 0;
}

.data-component h2 {
  font: bold 1.2em/1.2 "Oxygen",sans-serif;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  letter-spacing: 0.1em;
  color: #337ab7;
}

.data-component > h2 {
  float: left;
}

.dashboard .data-component > h2 {
  float: none;
  margin: 0;
}

.data-component input {
  margin-left: 8px;
  font-size: 1em;
}

.data-component form {
  margin-bottom: 10px;
}

.data-component .date-picker {
  float: none;
}

@media (max-width: 991.98px) {
  .data-component {
    padding: 5px;
    margin-bottom: 5px;
  }

  .data-component-summary {
    padding: 8px 0 0 0;
  }
}
.form-horizontal .form-group {
  margin: 0;
}

.ag-transactions {
  margin-top: 20px;
}

/* Dashboard */
.chart-casino {
  margin-left: 15px;
}

.chart-winloss:before, .chart-casino:before {
  width: 25px;
  background: #337ab7;
  height: 12px;
  display: inline-block;
  content: "";
  margin-right: 6px;
}

.chart-casino:before {
  background: #99D199;
}

.data-component .tab-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

/* Data Modal */
.tab-pane .data-component {
  background-color: #FFF;
  padding: 0;
  margin-bottom: 25px;
}

/* Tablesaw Modified */
thead tr {
  background-color: #FFF;
}

.tablesaw-bar {
  float: right;
  clear: none;
}

.tablesaw-all-cols-visible {
  display: none;
}

.tablesaw thead tr {
  /*background-color: #F6F6F6;*/
  background-color: #0F4F73;
  color: #FFF;
}

.tablesaw thead tr [class^="icon-"], .tablesaw thead tr [class*=" icon-"] {
  color: #0F4F73;
}

.tablesaw thead tr:first-of-type {
  /*border-top: 2px solid #000;*/
}

.tablesaw thead tr:last-of-type {
  /*border-bottom: 2px solid #000;*/
  padding-top: 0;
}

.tablesaw tfoot tr {
  border-top: 2px solid #000;
}

/*.tablesaw tbody { background-color: transparent !important; border-top: 2px solid red; }*/
.tablesaw tbody tr {
  border-bottom: 1px solid #CCC;
}

.tablesaw tbody tr:nth-child(even) {
  background-color: #eaeaea;
}

/*.tablesaw tbody tr:hover { background: #e5f3f7;  }*/
/*.tablesaw tbody tr:last-of-type { border-bottom: none;  }*/
.tablesaw tbody tr:last-of-type {
  border-bottom: none;
}

.tablesaw tbody td {
  padding: .5em .7em;
  font-size: 0.9em;
  vertical-align: top;
}

.cust-maint .tablesaw thead th {
  /*height: 20px;*/
}

.cust-maint .tablesaw tbody td {
  padding: .3em .7em;
  font-size: 0.9em;
}

.tablesaw-swipe .tablesaw-cell-persist {
  border-right: 1px solid #CCC;
}

.tablesaw th, .tablesaw td {
  text-align: start;
}

.tablesaw .highlighted {
  background-color: #3399C9;
  color: #FFF;
}

.tablesaw .highlighted .num_neg {
  color: #FFF;
}

.tablesaw-swipe .tablesaw-cell-persist:first-child {
  border-right: none;
}

td.tablesaw-cell-persist {
  font-style: italic;
  color: #666;
}

.cell-divider {
  border-right: 1px solid #CCC;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.tablesaw-sortable .tablesaw-sortable-head button {
  min-width: 0;
  text-align: right;
}

.text-right .tablesaw-sortable-arrow:after {
  float: left;
  margin-left: 0;
  margin-right: .3125em;
}

.text-right .tablesaw-sortable-arrow:after {
  display: inline-block;
  width: 10px;
  height: 14px;
  content: " ";
  margin-left: .3125em;
}

.tablesaw-sortable thead tr th {
  vertical-align: middle;
  height: 50px;
}

.tablesaw-advance.minimap {
  margin-bottom: 10px;
}

/*
.daily-fig table { background-color: transparent !important; }
.daily-fig table tbody { background-color: transparent !important; }
.daily-fig table tbody + tr { border-top: 2px solid red !important; }
.daily-fig table td {  position: static; }
*/
@media (max-width: 991.98px) {
  .tablesaw-bar {
    margin-bottom: 10px;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
    width: 2.5em;
    height: 2.5em;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    left: .8em;
    border-left: 9px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
    left: .7em;
    border-right: 9px solid #808080;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before, .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
    top: .55em;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn:last-of-type {
    margin-left: .6em;
  }
}
/* Master Agents row */
.agent-table-spacer td {
  padding: 50px 0 0 0 !important;
}

.agent-title {
  border-bottom: 2px solid #3395c4 !important;
  border-top: 2px solid #3395c4 !important;
  background: #87beda !important;
}

.agent-title h2 {
  color: #FFF;
  margin-left: 8px;
  font-size: 1.3em;
}

#dailyFiguresDiv .agent-title {
  border-bottom: 2px solid #666 !important;
  border-top: none !important;
}

tbody:first-of-type .agent-title {
  border-top: none !important;
}

tbody:first-of-type .agent-table-spacer td {
  padding: 0 !important;
}

.agent-title td {
  padding: 7px 0 0 0 !important;
}

tbody:first-of-type .agent-title td {
  padding: 7px 0 0 0 !important;
}

.tablesaw tbody tr.agent-title:hover {
  background: #87beda !important;
}

.tablesaw tbody tr.agent-table-spacer:hover {
  background: #FFF !important;
}

.agent-title .tablesaw-swipe .tablesaw-swipe-cellpersist, .sum-total .tablesaw-swipe .tablesaw-swipe-cellpersist,
.agent-table-spacer .tablesaw-swipe-cellpersist {
  border-right: none !important;
}

/* POSITION BY GAME */
.pg-report-cont {
  overflow: auto;
  overflow-x: hidden;
}

.pg-leftmenu {
  width: 240px;
  float: left;
}

.pg-content {
  width: calc(100% - 240px);
  float: left;
}

@media (max-width: 1024px) {
  .pg-leftmenu {
    display: none;
  }

  .pg-content {
    width: 100%;
  }
}
.pg-content .gameLineInfo {
  font-size: 0.85em !important;
}

.pg-content .panel-default .panel-heading {
  padding-bottom: 0;
}

@media (max-width: 1024px) {
  .pg-content .panel-default .panel-heading {
    padding-bottom: 1px;
  }
}
/* BETTING LINES */
.panel-group .panel + .panel {
  margin-top: 12px;
}

.panel-group .btn-period {
  margin-top: -6px;
  margin-right: 8px;
}

.panel-default .panel-heading {
  color: #333;
  border-color: #DDD;
  background-color: #ddf3fe;
  padding-bottom: 8px;
}

.data-component .panel-default .panel-heading a {
  font: normal 1em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #036;
}

.sports-container .panel-heading a {
  font: normal 0.8em/1.5 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
}

.panel-heading-sub {
  color: #333333;
  border-color: #dddddd;
  padding: 0 15px 0 15px;
  border-bottom: 1px solid #036;
  background: #ddf3fe;
  height: 40px;
}

h3.panel-title, span.panel-title {
  font: normal 1.1em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  color: #036;
}

a.collapsed .panel-title {
  font: normal 1.1em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
}

.bettinglines {
  margin: 0;
  padding: 0;
}

.bettinglines li {
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
  border-top: 1px solid #0F4F73;
}

.bettinglines li:first-of-type {
  border-top: none;
}

.bettinglines li:nth-child(odd) {
  background: #EDEDED;
}

.bettinglines li:nth-child(even) {
  background: #FFF;
}

/* Wager Limits */
.wager-limits .highlighted {
  background-color: #FF9;
  color: #000;
}

.wager-limits .highlighted:hover {
  background-color: #FF9;
  color: #000;
}

.wag-limits {
  display: inline-block;
}

.wag-limits input {
  width: 70px;
  margin-left: 8px !important;
}

/* DAY PERIODS */
.bettinglines li h3 {
  color: #FFF;
  font: lighter 1em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  background-color: #0F4F73;
  padding: 5px 0;
}

.bettinglines li .gameLineInfo {
  padding: 3px 5px 0px 5px;
}

.bettinglines li h4 {
  color: #000;
  font: normal 0.8em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 0;
}

.bettinglines li .gameLineInfo i {
  display: block;
  padding-left: 30px;
}

.panel-heading {
  padding: 10px 10px 0 10px;
}

.btn-period-group {
  display: inline-block;
  margin-top: 0;
  /*margin-bottom: 8px;*/
  min-width: 80px;
}

.pan-heading {
  /*float: left;*/
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 8px;
}

.pan-options {
  float: right;
}

@media only screen and (max-width: 1024px) {
  .panel-heading {
    padding: 8px;
    position: relative;
  }

  .pan-heading {
    width: 85%;
    margin-bottom: 0;
  }

  .pan-options {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .btn-period-group {
    /*margin-top: 10px;*/
    margin-bottom: 0;
  }

  .bettinglines li {
    border-top: none;
  }

  h3.panel-title, span.panel-title, a.collapsed .panel-title {
    font: normal 1em/1.5 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  }

  .gameLineInfo .row .row .row div {
    padding-right: 2px;
  }

  .wagertypetitle-divider {
    padding-right: 2px;
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .btn-period-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.tooltip {
  width: 220px;
}

#custContainer .tooltip {
  width: 80px;
}

.tooltip-inner {
  text-align: center;
  margin: 0 auto;
}

/* Modal Dialog Box */
.modal-header {
  background-color: #F4F4F4;
  border-bottom: 1px solid #CCC;
  padding: 15px 15px 5px 15px;
}

.modal-header .close {
  opacity: 1;
  margin-top: -5px;
  font-size: 35px;
  font-weight: normal;
}

.bootstrap-dialog-title {
  color: #000;
  font: 1em/1.4 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px;
}

.bootstrap-dialog-header {
  overflow: auto;
}

.modal-footer {
  padding: 0 20px 20px;
  margin-top: 0;
  text-align: right;
  border-top: none;
}

.bootstrap-dialog-title {
  float: left;
}

.bootstrap-dialog-close-button {
  float: right;
}

/* hide label on mobile */
@media (max-width: 768px) {
  .hidelabel-xs, .hidelabel-xs input {
    display: block !important;
  }

  .hidelabel-xs .input-group-addon {
    display: none !important;
  }
}
/* kill default bootstrap padding on columns */
.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.padding-left {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .no-padding-xs {
    padding: 0;
  }

  .no-padding-xs-left {
    padding-left: 0;
  }

  .no-padding-xs-right {
    padding-right: 0;
  }
}
.modal-wide .modal-header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 15px;
}

.modal-wide h1, .modal-wide h2 {
  font: 1.4em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  /*margin-right: 7px;*/
}

.modal-wide h2 {
  font-size: 1.3em;
  margin-top: 0;
}

.modal-wide .nav > li > a {
  padding: 5px 10px;
}

.modal-wide .nav {
  display: inline-block;
  margin-bottom: -5px;
}

.modal-wide .tab-content {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .modal-wide .modal-dialog {
    width: 96%;
    max-height: calc(100vh - 12px);
    overflow-y: auto;
  }

  .modal-wide .modal-body {
    height: calc(92vh - 64px);
    overflow-y: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1224px) {
  .modal-inbox .modal-dialog, .modal-settings .modal-dialog {
    width: 50%;
  }
}
/* Rules Content */
.rules-content {
  font: 0.9em/1.4 Arial, Helvetica, sans-serif;
  padding: 10px;
}

.cust-sidebar {
  overflow-y: auto;
  height: 100%;
  float: left;
  width: 230px;
}

.cust-content-body {
  overflow-y: auto;
  height: 100%;
  float: left;
  width: calc(100% - 230px);
  /*font: 0.9em/1.4 Arial, Helvetica, sans-serif;*/
  padding-left: 15px;
  padding-right: 15px;
}

#ModalDailyFig .cust-content-body {
  width: 100%;
}

.bs-rules {
  padding: 10px 10px 0 10px;
  margin: 0px 0px 15px 0;
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  border-width: 1px 1px 1px 5px;
  border-left-color: #DDF3FE;
}

.bs-rules h3 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  font-size: 1.2em;
  color: #036;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #DDF3FE;
}

.bs-rules h3 {
  position: relative;
}

.bs-rules h3 span {
  position: absolute;
  top: -65px;
}

@media only screen and (min-width: 1224px) {
  /* desktop */
  .bs-rules h3 span {
    position: absolute;
    top: -85px;
  }
}
.bs-rules h4 {
  margin: 20px 0 7px 0;
  font: 0.9em/1.4 Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

.bs-rules h5 {
  margin: 20px 0 7px 0;
  font: 0.7em/1.4 Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

.bs-rules table {
  font-size: 0.8em;
  margin-bottom: 10px;
  width: 100%;
}

.bs-rules table tr {
  width: 100% !important;
}

.bs-rules table tr th {
  text-transform: uppercase;
  font-weight: bold;
  /*text-align: left;*/
  color: #636363;
  padding: 25px 10px 6px 0;
}

.bs-rules table tr td {
  text-transform: capitalize;
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

.bs-rules ul, .bs-rules ol {
  margin: 10px 0;
}

.bs-rules ul li, .bs-rules ol li {
  margin-bottom: 12px;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  border-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Rules Menu */
.cust-list {
  margin: 0 auto;
  width: 90%;
}

.cust-sublist span {
  /*background: #337ab7;*/
  display: block;
  padding: 0.25em 0.25em 0.25em 0.5em;
  color: #FFF;
  size: 2.5em;
  font-weight: bold;
  background-color: #F6F6F6;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
}

.cust-sublist ul {
  padding-left: 0;
  margin-left: 0;
  border-bottom: 1px solid #CCC;
}

.cust-sublist ul li {
  list-style: none;
  margin: 0;
  padding: 0.25em;
  border-top: 1px solid #CCC;
}

.cust-sublist ul li.selected {
  background: #DDF3FE;
  color: #337ab7;
}

.cust-sublist li.selected a:after {
  font-family: 'ui_icons_agents';
  content: "\e600";
  display: block;
  float: right;
  margin-right: 7px;
}

.cust-sublist ul li:first-of-type {
  border-top: none;
}

.cust-sublist ul li a {
  text-decoration: none;
  display: block;
}

.cust-sublist ul li a:hover {
  font-weight: bold;
}

.cust-list .search {
  position: relative;
  margin-bottom: 15px;
}

.cust-list .search input[type="text"] {
  border-color: #CCC;
  font: 12px Arial,Helvetica,Sans-serif;
  color: #CCC;
  padding: 6px 15px 6px 30px !important;
  border-radius: 7px;
  height: 30px;
}

.cust-list .glyphicon {
  left: 0px;
}

.cust-list .glyphicon {
  position: absolute;
  padding: 7px 0 0 8px;
  pointer-events: none;
}

span.teaserInfo {
  float: right;
}

span.teaserInfo:before {
  font-family: "ui_icons_agents";
  content: "\e620";
  font-size: 1em;
  text-align: center;
  /*background-color:#3399C9;*/
  color: #0F4F73;
  padding: 2px;
  line-height: 15px;
  display: block;
}

/*g-lines*/
.wagertypetitle {
  color: #FFF;
  background-color: #3399C9;
  font-size: 12px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.wagertypetitle-divider {
  border-right: 1px solid #FFF;
}

.wagertypetitle-divider-data {
  border-right: 1px solid #CCC;
}

.wagertypetitle-divider-data:last-of-type {
  border-right: none;
}

.wagertypetitle-divider:last-of-type {
  border-right: none;
}

.bettinglines li {
  margin: 0;
  padding: 0;
}

.gameLineInfo {
  font-size: 12px;
  background: #FFF;
  border-bottom: 1px solid #EEE;
  padding: 8px 0 0 0 !important;
}

.gameLineInfo:hover {
  background: #F9F9F9;
}

.game-date {
  white-space: nowrap;
  /*line-height: 1.9;*/
}

.game-date span {
  margin-left: 10px;
  /*width: 80px;*/
}

.game-date span {
  margin-left: 0;
  /*width: 80px;*/
  display: block;
  padding: 0;
}

.line-rot-num {
  color: #666;
  margin-left: 8px;
}

.graded-data .line-rot-num {
  color: #666;
  margin-left: 0;
}

.line-rot-num:after {
  color: #666;
  content: ' - ';
}

.game-line {
  /*border-left: 1px solid #6BB2D6;*/
}

.game-line > .row {
  padding-bottom: 0;
}

.game-line > .row:first-of-type {
  padding-bottom: 5px;
}

.game-line > .row:nth-child(3) {
  padding-top: 5px;
}

.gameTitle {
  background: #EDEDED !important;
  padding: 4px 9px;
  font-family: Arial;
  font-size: 13px;
  /*text-transform: uppercase;*/
  color: #000 !important;
}

.gameTitle span {
  font-style: italic;
}

.gameTitle span:before {
  content: " - ";
}

@media (max-width: 767px) {
  .wagertypetitle {
    font-size: 0.85em;
  }

  .wagertypetitle-divider, .wagertypetitle-divider-data {
    border-right: none;
  }
}
/*
  input[type="checkbox"] { display: none; }
  :not(p) { }
*/
.contests-lines {
  margin: 0;
  padding: 0;
  border: none;
}

.game-line .contests-lines .row {
  border-bottom: 1px solid #EEE;
  padding: 5px 0;
  margin: 0px -10px 0px 0px;
}

.game-line .contests-lines .row:last-of-type {
  border-bottom: none;
}

.game-note {
  font-size: 10px;
  color: #999;
  margin: 0 -10px 0 -5px;
  display: block;
  /*border: 1px solid red;*/
}

.game-note i {
  margin: 0;
  padding: 0 !important;
}

.game-note i:before {
  margin: 0;
  content: none !important;
}

.game-note:before {
  /*content:" * "; */
}

/*
}
*/
.line_limit {
  display: block;
  color: #FFF;
  /*font-size: 14px;*/
  font-weight: normal !important;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 0.05em;
}

.game-line {
  /*border-left: 1px solid #CCC;*/
}

.gameTitle {
  background: none !important;
  /*padding: 2px 0; font-size: 0.8em;*/
}

.bettinglines li {
  border-top: 1px solid #CCC;
}

.gameLineInfo {
  font-size: 0.65em !important;
}

.btn-xs, .btn-group-xs > .btn {
  font-size: 0.9em !important;
}

.gameLineInfo section, .bettinglines li .gameLineInfo i {
  display: inline-block;
}

.bettinglines li .gameLineInfo i {
  padding-left: 5px;
}

.bettinglines li .gameLineInfo i:before {
  content: " / ";
  color: #CCC;
}

/* g-lines end */
/* REPORTS */
.daily_figures *, .open_bets *, .graded_results *, .inbox * {
  font-family: "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.num_pos, .num_pos a {
  color: #055985;
}

.num_neg, .num_neg a {
  color: #C00;
}

.num_black, .num_black a {
  color: #000;
}

.num_zero, .num_zero a {
  color: #919191;
  pointer-events: none;
  cursor: default;
}

.breakoutcasino {
  display: block;
}

.tablesaw tbody tr.sum-total, .tablesaw tbody tr.sum-total:hover {
  background-color: #EEF3F9 !important;
  border-top: 2px solid #000 !important;
}

/* ACTIONS */
.form-row {
  overflow: hidden;
  border-bottom: 1px solid #EFEFEF;
}

.data-component .form-row:first-of-type .form-group {
  margin-top: 0px;
  margin-bottom: 10px;
}

.data-component .form-row .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row:last-of-type {
  border-bottom: none;
}

.form-row:last-of-type .form-group {
  margin-bottom: 0px;
}

.form-row span.hidden {
  display: none !important;
}

#menu3 .restrictions:nth-child(1), #menu3 .restrictions:nth-child(2), #menu3 .restrictions:nth-child(3) {
  margin-bottom: 25px;
}

#menu3 table {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  #menu3 table {
    width: 80%;
  }
}
#modal-actions .nav-tabs {
  width: 100%;
  margin-top: 10px;
}

#modal-actions .tab-content {
  padding: 20px 15px 15px 15px;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

.data-actions div > .form .form-group {
  margin-top: 0px !important;
}

.data-actions .custom-select {
  width: 280px;
}

.data-actions .btn-primary {
  padding: 15px;
  color: #FFF;
}

.data-actions input::-webkit-input-placeholder {
  color: #333;
}

.data-actions input::-moz-placeholder {
  color: #333;
}

.data-actions input:-ms-input-placeholder {
  color: #333;
}

.data-actions input::placeholder {
  color: #333;
}

.data-actions .dropdown-menu ul {
  margin: 4px 4px 4px 8px !important;
}

.data-actions .dropdown-menu ul li {
  border-bottom: 1px solid #ddd !important;
}

.cust_dropdown, .cust-bal {
  display: inline-block;
}

@media (max-width: 992px) {
  .nav > li > a {
    padding: 10px 8px;
  }
}
.actions_cust_data {
  display: block;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .data-actions .nav-tabs > li {
    margin-bottom: 7px;
  }

  .data-actions .nav > li > a {
    padding: 4px 6px;
  }

  .data-actions .nav-tabs > li > a {
    border-radius: 4px;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    border-bottom: 1px solid #ddd;
    background-color: #204d74;
    border-color: #122b40;
  }
}
.cust_dropdown div span {
  display: inline-block;
  width: 48%;
  white-space: nowrap;
}

.cust_dropdown div span:last-of-type {
  color: CCC;
  font-style: italic;
}

.cust_dropdown div span:last-of-type:before {
  content: "/ ";
  color: #ddd;
}

.data-component .nav-tabs {
  width: 100%;
  margin-top: 10px;
}

.data-component .form-group {
  margin-top: 15px;
  margin-bottom: 0;
}

.totalselected {
  float: right;
  margin-bottom: 10px !important;
}

.data-chart .form-group {
  margin-top: 0;
}

.data-chart .form-group label {
  font-weight: normal;
  margin-bottom: 0;
  margin-right: 10px;
}

.data-component input {
  margin-left: 0;
  font-size: 1em;
  color: #000;
  line-height: 0;
}

.data-component input:placeholder, .data-component input::-webkit-input-placeholder-shown {
  color: red !important;
  line-height: 0;
  border: 1px solid red;
}

.data-component input:placeholder, .data-component input::-moz-placeholder-shown {
  color: red !important;
  line-height: 0;
  border: 1px solid red;
}

.data-component input:placeholder, .data-component input:-ms-input-placeholder-shown {
  color: red !important;
  line-height: 0;
  border: 1px solid red;
}

.data-component input:placeholder, .data-component input::placeholder-shown {
  color: red !important;
  line-height: 0;
  border: 1px solid red;
}

.data-component .btn {
  margin-bottom: 0;
}

.data-component .btn-limits {
  margin-top: 15px;
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

@media (max-width: 768px) {
  select, textarea {
    margin-bottom: 14px;
  }
}
/* PERFORMANCE */
.per-dates {
  font-size: 0.92em;
}

@media (max-width: 991.98px) {
  .table-performance td {
    font-size: 0.8em;
  }
}
@media (min-width: 767px) {
  .table-performance .tablesaw-bar {
    display: none;
  }
}
/* POSITION BY GAME */
.pg-content [class^="col-"] {
  /*padding-left: 10px;*/
}

.pg-content .gameLineInfo .game-line {
  padding-left: 10px;
}

.pg-content .gameTitle {
  background: #EDEDED !important;
}

/* DAILY FIGURES with SETTLE */
@media (max-width: 767px) {
  .settlefig [class^="icon-"], .settlefig [class*=" icon-"] {
    display: block;
  }
}
.settlefig [class*="col-xs"]:nth-child(2), .settlefig [class*="col"]:nth-child(3) {
  padding-left: 10px;
}

/* DAILY FIGURES */
.daily_figures {
  background-color: #F4F4F4;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
}

.dailyfig-options {
  margin-top: 0px;
  display: inline-block;
}

.dailyfig-options label {
  padding: 0 0 0 28px;
  margin-top: 10px;
}

.dailyfig-options input[type=checkbox]:checked + label:after, .dailyfig-options input[type=checkbox] + label:after {
  margin-left: -28px;
}

.dailyfig-options .chckbx input[type=checkbox]:checked + label:after, .dailyfig-options .chckbx input[type=checkbox] + label:after {
  float: left !important;
}

.chckbx input[type=checkbox]:checked + label:after, .chckbx input[type=checkbox] + label:after {
  float: left !important;
}

.dailyfig-options .chckbx label {
  margin: 0 0 0 25px;
}

.agent-summary {
  border: 2px solid #0F4F73;
}

.agent-summary tfoot {
  background-color: #EEF3F9;
}

@media (max-width: 767px) {
  .dailyfig-options input[type=checkbox]:checked + label:after, .dailyfig-options input[type=checkbox] + label:after {
    margin-top: -15px;
  }
}
ul.menu_weeks {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
}

.menu_weeks li {
  float: left;
  list-style-type: none;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.menu_weeks li:first-of-type {
  border-left: none;
}

.menu_weeks li:last-of-type {
  border-right: none;
}

.menu_weeks li a {
  display: block;
  padding: 7px 0;
  color: #707070;
}

.menu_weeks li a:hover, .menu_weeks li.active a {
  color: #000;
  background: #e5e5e5;
}

.report_dates {
  color: #333;
  border-color: #ddd;
  text-align: center;
  padding: 12px 10px;
  border-bottom: 1px solid #b4dbfc;
  background: #DDF3FE;
}

.arrow_left:before, .arrow_right:before {
  font-family: "ui_icons_agents";
  content: "\e60c";
  color: #036;
  font-size: 1.6em;
  margin-top: -7px;
}

.arrow_left:before {
  float: left;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow_right:before {
  float: right;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.arrow_disabled {
  cursor: default;
}

.arrow_disabled:before {
  color: #DDF3FE;
}

hr.divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.report-tab-content * {
  font: normal 1em/1.3 'Roboto Condensed', sans-serif;
}

.report-tab-content, .report-content {
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 0;
}

.report-tab-content > .tab-pane {
  display: none;
  overflow: hidden;
  font-size: 1em;
  padding: 10px;
  font-size: 0.8em;
}

.report-tab-content > .active {
  display: block;
}

.report-tab-content > .tab-pane > .verticalspace {
  margin-bottom: 7px;
}

.rep_day {
  color: #919191;
  display: inline-block;
  width: 25px;
}

.num_pos, .num_pos a {
  color: #055985;
}

.num_neg, .num_neg a {
  color: #C00;
}

.num_zero, .num_zero a {
  color: #919191;
  pointer-events: none;
  cursor: default;
}

/* OPEN BETS */
.ticket {
  border-top: 1px solid #b4dbfc;
  margin-bottom: 10px;
}

.ticket > .row {
  margin: 10px 0 0 0;
}

.ticket:first-of-type {
  border-top: none;
}

.ticket-header {
  background-color: #fff;
  padding: 10px 0 0 0;
}

.ticket-header h3 {
  font: normal 1.3em/1.3 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  color: #036;
}

.ticket-header h3 span {
  font-weight: 300;
}

.ticket-header h3 span:before {
  content: " - ";
  font-weight: 300;
}

.risk-amount {
  font-size: 1.3em;
  display: inline-block;
  margin-right: 15px;
  font-weight: 300;
  color: #036;
}

.win-amount {
  font-size: 1.3em;
  display: inline-block;
  font-weight: 300;
  color: #036;
}

.win-amount:before {
  content: " / ";
  margin-right: 10px;
  color: #0280D2;
}

.risk-amount span, .win-amount span {
  font-weight: 400;
}

.ticket-header a .collapse_btn:before {
  font-family: "ui_icons_agents";
  content: "\e60c";
  float: right;
  margin: 0;
  color: #036;
  font-size: 1.8em;
  text-align: right;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ticket-header a.collapsed .collapse_btn:before {
  font-family: "ui_icons_agents";
  content: "\e60c";
  float: right;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.ticket-header .row, .ticket-body {
  font-size: 0.8em;
  color: #666;
}

.ticket-body {
  padding: 7px 0 0 0;
}

.ticket-body * {
  font: normal 1em/1.3 'Roboto Condensed', sans-serif;
}

.open_bets p.win-risk-amount {
  font-size: 0.8em;
  color: #8ECDF9;
  font-weight: 300;
}

.ticket-amounts {
  width: 100%;
  position: relative;
  float: right;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  text-align: right;
  padding: 10px 10px 7px 0;
}

.icon_viewresults {
  color: #999;
  float: left;
}

.icon_viewresults:before {
  font-family: "ui_icons_agents";
  content: "\e60f";
  margin: 0 7px 0 0;
  color: #0280D2;
  font-size: 1em;
  text-align: center;
}

.icon_viewresults_minus {
  color: #999;
  height: 22px;
  float: left;
}

.icon_viewresults_minus:before {
  font-family: "ui_icons_agents";
  content: "\e60e";
  margin: 0 7px 0 0;
  color: #0280D2;
  font-size: 1em;
  text-align: center;
}

.pendingWager {
  float: left;
}

.pendingWager:before {
  font-family: "ui_icons_agents";
  content: "\e60f";
  margin: 0 7px 0 0;
  color: #CCC;
  font-size: 1em;
  text-align: center;
}

.team_rot {
  display: inline-block;
  margin-top: 0;
  float: left;
  color: #000;
}

.team_line {
  display: inline-block;
  margin: 0 0 0 5px;
  float: left;
}

.team_line:before {
  content: "/";
  color: #0280D2;
  font-weight: 300;
  margin-right: 5px;
}

.open-bets-p .panel-body {
  padding: 10px;
}

.gamenote span {
  display: block;
  color: #666;
  font-style: italic;
}

/* DAILY FIGURES DESKTOP */
@media (max-width: 992px) {
  .btn-is-disabled {
    pointer-events: none;
  }
}
.modal-wide .modal-header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 15px;
}

.modal-wide h1, .modal-wide h2 {
  font: 1.4em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  /*margin-right: 7px;*/
}

.modal-wide h2 {
  font-size: 1.3em;
  margin-top: 0;
}

.modal-wide .nav > li > a {
  padding: 5px 10px;
}

.modal-wide .nav {
  display: inline-block;
  margin-bottom: -5px;
}

.modal-wide .tab-content {
  padding: 0;
}

@media only screen and (min-width: 1224px) {
  .modal-gameposition {
    width: 50%;
  }
}
.reports {
  font: normal 0.75em/1.3 Arial,Helvetica,sans-serif;
}

/*
.reports * { border: 1px solid red; } */
.figures-header {
  border-top: 1px solid #DDF3FE;
  border-bottom: 1px solid #DDF3FE;
  margin-top: 15px;
}

.figures-header div {
  text-transform: uppercase;
  color: #0099CC;
  text-align: right;
}

.figures-header .row .row div, .figures-header .num-totals-title {
  padding: 15px 0;
}

.figures-header span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: #000;
  font-size: 1.4em;
}

.day_selected {
  background-color: #F4FCFF;
  display: inline-block;
  padding: 5px !important;
  margin-top: -5px;
  border-radius: 3px;
  border: 1px solid #DDF3FE;
}

.day_unselected {
  display: inline-block;
  padding: 5px !important;
  margin-top: -5px;
  border: 1px solid #FFF;
}

.font-bigger {
  font: 1.3em/1 "Oswald","League Gothic","Arial Narrow",Arial,Helvetica,sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: normal !important;
  color: #0099CC !important;
}

.figures-data .row .row div, .figures-data .num-totals {
  text-align: right;
  padding: 5px 0;
}

.casino-breakout {
  font-style: italic;
}

.casino-breakout b {
  color: #999;
}

.highlighted {
  background-color: #F4FCFF;
}

.day-bal {
  border-top: 1px solid #DDF3FE;
}

.date-picker {
  width: 150px;
  /*float: right;*/
}

#all-transactions .date-picker {
  width: 300px;
  margin-bottom: 10px;
  float: right;
}

#all-transactions .date-picker .form-control {
  width: 170px;
  float: right;
  margin-left: 10px;
}

#all-transactions .date-picker .glyphicon {
  color: #0099CC;
  float: right;
  margin-left: 10px;
  font-size: 1.4em !important;
  margin-top: -2px;
}

#all-transactions .date-picker span {
  float: right;
  color: #0099CC;
}

#all-transactions .date-picker .caret {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  #all-transactions .graded-data {
    font-size: 0.85em;
  }
}
.col-division-right {
  border-right: 1px solid #DDF3FE;
  padding-right: 30px;
}

.reports .arrow_left, .reports .arrow_right {
  display: block;
  font-size: 1.4em;
  padding-top: 25px;
  color: #0099CC;
}

.reports .arrow_left:before, .reports .arrow_right:before {
  color: #0099CC;
}

.reports b {
  text-transform: uppercase;
}

.report-detail {
  border-top: 1px solid #DDF3FE;
  border-bottom: 1px solid #DDF3FE;
  padding: 25px 0 0 0;
}

.print-icon:before {
  font-family: "ui_icons_agents";
  content: "\e61c";
  color: #0F4F73;
  font-size: 1em;
  margin-top: -7px;
  margin-left: 10px;
}

.graded-header {
  border-bottom: 1px solid #DDF3FE;
  margin-top: 0;
}

.graded-header h2 {
  font-size: 1em;
  margin-top: 0;
}

.graded-data {
  border-bottom: 1px solid #B0E4FD;
  padding: 0 0 10px 0;
  margin-bottom: 10px !important;
  font: normal 0.9em/1.3 Arial,Helvetica,sans-serif;
}

.graded-data:last-of-type {
  border-bottom: none;
  margin-bottom: 0 !important;
}

#ModalDailyFig .cust-content-body .graded-header, #ModalDailyFig .cust-content-body .graded-data {
  margin-right: 0;
}

.graded-data-detail {
  display: block;
  border: 1px solid #FFF;
  margin-top: 10px;
}

.graded-data-detail div {
  margin-left: 18px;
  margin-bottom: 10px;
}

.graded-data-detail div b {
  text-transform: capitalize;
  color: #337AB7;
  padding: 3px 0 0 0;
  display: block;
}

.graded-data-detail .btn {
  margin-top: 5px;
}

.reports .report-detail {
  padding: 15px 30px 5px 30px;
  border: 3px solid #DDF3FE;
  margin-bottom: 20px;
}

.reports .report-detail-open-bets {
  border: none;
  padding: 15px 30px 5px 30px;
}

.report-detail > h2:first-child {
  margin: 0 0 20px -15px;
}

.reports .report-detail .close {
  margin: -5px -15px 0 0;
}

.reports .icon_viewresults, .icon_viewresults_minus {
  height: 16px;
}

.report-detail-daily-fig {
  border: 2px solid #DDF3FE;
}

.report-detail-daily-fig .graded-main-header {
  margin: 10px;
}

.report-detail-daily-fig .graded-header {
  margin: 0 10px;
}

.report-detail-daily-fig .graded-data {
  margin: 0 10px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #DDF3FE;
  margin-right: 15px;
  float: right;
}

.btn-report-modal {
  margin-left: 10px;
}

.btn-report-modal {
  color: #000;
  background-color: #DDF3FE;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: -8px;
  font-weight: bold;
}

.btn-report-modal:hover {
  color: #000;
  background-color: #DDF3FE !important;
}

.btn-report-modal:active, .btn-report-modal.active, .open .dropdown-toggle.btn-report-modal {
  background-image: none;
}

.btn-report {
  margin-left: 10px;
}

.btn-report {
  color: #000;
  background-color: #FFF;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: -8px;
  font-weight: bold;
  border-color: #CCC;
}

.btn-report:hover {
  color: #000;
  background-color: #DDF3FE !important;
}

@media (min-width: 992px) {
  .graded-data-detail {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .graded-header + .graded-data {
    margin-top: 10px !important;
  }

  .modal-wide .modal-dialog {
    width: 96%;
    max-height: calc(100vh - 12px);
    overflow-y: auto;
  }

  .modal-wide_agposition .modal-dialog {
    width: 50%;
    max-height: calc(100vh - 12px);
    overflow-y: auto;
  }

  .modal-wide .modal-body {
    height: calc(92vh - 64px);
    overflow-y: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1224px) {
  .modal-inbox .modal-dialog, .modal-settings .modal-dialog {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .modal-dialog {
    height: 96%;
  }

  .modal-content {
    height: 100%;
  }

  .modal-body {
    height: 90%;
  }

  .cust-content-body {
    padding-left: 0;
  }

  .graded-data > div[class^="col"] {
    padding-left: 0;
  }

  .graded-gap {
    margin-top: 10px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .modal-dialog {
    height: 96%;
  }

  .modal-content {
    height: 100%;
  }

  .modal-body {
    height: 90%;
  }

  .cust-content-body {
    padding-left: 0;
  }

  .graded-data > div[class^="col"] {
    padding-left: 0;
  }

  .graded-gap {
    margin-top: 10px;
    padding: 0;
  }
}
/* Activity Log  */
.activity-log {
  background: #FAFAFA;
  padding: 0;
  margin: 0;
  height: 100%;
}

.activity-log-cont {
  border: 1px solid green;
  padding: 0;
  margin: 0;
}

.log-header {
  background: #86CEE6;
  padding: 7px 10px 10px 10px;
  height: 65px;
}

.log-header h2 {
  font: bold 1.2em/1.2 "Oxygen",sans-serif;
  margin: 0;
  letter-spacing: 0.05em;
}

.log-header p {
  font-size: 0.8em;
  margin: 3px 0 0 0;
}

.log-header .dropdown {
  border: 1px solid #BFE6F2;
  background: #9CD7EA;
  margin: 5px 0 0 0;
  border-radius: 4px;
  float: right;
}

.log-header li {
  cursor: pointer;
}

.log-header li.selected {
  background-color: #DDF3FE;
}

.log-header li.selected a:before {
  font-family: 'ui_icons_agents';
  content: "\e600";
  display: block;
  float: left;
}

.log-header .btn {
  padding: 2px 5px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.log-body {
  height: calc(100% - 65px);
  overflow-y: auto;
}

.log-body .log-tik {
  border-left: 5px solid #99D199;
}

.log-body .log-tik > div {
  border-bottom: 1px solid #86CEE6;
  font-size: 0.8em;
  margin: 0 10px;
  padding: 10px 0;
  color: #666;
}

.log-body .log-tik .userid {
  /*font-weight: bold;*/
  font-style: italic;
  display: block;
  color: #666;
  font-size: 0.9em;
}

.log-body .log-tik b {
  color: #000;
}

.log-body .log-tik-team {
  display: block;
}

.log-body .log-tik .row {
  margin-right: 0;
}

.log-tik .log-tik-detail {
  border: 1px solid #E1E1E1;
  padding: 10px;
  margin-top: 8px;
  background: #FFF;
  border-radius: 5px;
}

.log-tik .log-tik-detail div {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.log-tik .log-tik-detail div b {
  display: block;
}

.log-tik .log-tik-detail div:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/*
.log-tik-detail hr { margin: 5px 0; }*/
.log-body div.log-new {
  border-left: 5px solid #99D199;
  background-color: #FF9;
  transition: background-color 1000ms linear;
}

.data-component tr.log-new, .data-component tr.log-new:hover {
  background-color: #FF9;
}

.log-body div.log-warning {
  border-left: 5px solid #D90000;
  background: #FFF;
}

.log-body div.log-suspicious {
  border-left: 5px solid #D90000;
  background: #FFF;
}

/* BOOTSTRAP */
/* Button Bootstrap overwrite */
.btn:active, .btn.active {
  box-shadow: none;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 0;
}

@media (max-width: 767px) {
  .text-xs-right {
    text-align: right !important;
  }
}
/* Button Betlines */
.gameLineInfo .row {
  /*margin: 0 -10px 0 -5px; padding-bottom: 5px;*/
  /*margin-left: -5px;*/
}

.gameLineInfo > .row {
  margin: 0 -10px 0 -5px;
  padding-bottom: 5px;
}

.game-line > .row {
  padding-bottom: 0;
}

.game-line > .row:first-of-type {
  padding-bottom: 5px;
}

.game-line > .row:nth-child(3) {
  padding-top: 5px;
}

/* dropdown-submenu */
.log-header .dropdown-menu {
  text-align: right;
}

.dropdown-menu > li > a {
  padding: 3px 10px;
  font-size: 12px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:before {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #86CEE6;
  margin-top: 3px;
  /*margin-right:-10px;*/
  margin-left: 60px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 100%;
}

/*
.dropdown-submenu>.dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
-webkit-border-radius: 0 6px 6px 6px;
-moz-border-radius: 0 6px 6px;
border-radius: 0 6px 6px 6px;
}
*/
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*-webkit-border-radius: 10px; border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*-webkit-border-radius: 10px; border-radius: 10px;*/
  background: rgba(15, 79, 115, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(15, 79, 115, 0.4);
}

@-moz-document url-prefix(http://),url-prefix(https://) {
  scrollbar {
    -moz-appearance: none !important;
    background: lime !important;
  }

  thumb, scrollbarbutton {
    -moz-appearance: none !important;
    background-color: blue !important;
  }

  thumb:hover, scrollbarbutton:hover {
    -moz-appearance: none !important;
    background-color: red !important;
  }

  scrollbarbutton {
    display: none !important;
  }

  scrollbar[orient="vertical"] {
    min-width: 15px !important;
  }
}
/* Custom Style for Sidebar behavior */
.tablesaw-columntoggle td.title a,
.tablesaw-swipe td.title a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10em;
  max-width: 40vw;
}

@media (min-width: 40em) {
  td.title {
    max-width: 12em;
  }
}
/* n-changes */
/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*/
/*
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: block !important;
}
*/
/*  MEDIUM COLUMNS FIX */
@media (max-width: 991.98px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }

  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-pull-12 {
    right: 100%;
  }

  .col-xl-pull-11 {
    right: 91.66666667%;
  }

  .col-xl-pull-10 {
    right: 83.33333333%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-pull-8 {
    right: 66.66666667%;
  }

  .col-xl-pull-7 {
    right: 58.33333333%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-pull-5 {
    right: 41.66666667%;
  }

  .col-xl-pull-4 {
    right: 33.33333333%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-pull-2 {
    right: 16.66666667%;
  }

  .col-xl-pull-1 {
    right: 8.33333333%;
  }

  .col-xl-pull-0 {
    right: auto;
  }

  .col-xl-push-12 {
    left: 100%;
  }

  .col-xl-push-11 {
    left: 91.66666667%;
  }

  .col-xl-push-10 {
    left: 83.33333333%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-push-8 {
    left: 66.66666667%;
  }

  .col-xl-push-7 {
    left: 58.33333333%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-push-5 {
    left: 41.66666667%;
  }

  .col-xl-push-4 {
    left: 33.33333333%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-push-2 {
    left: 16.66666667%;
  }

  .col-xl-push-1 {
    left: 8.33333333%;
  }

  .col-xl-push-0 {
    left: auto;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .visible-xl {
    display: block !important;
  }

  table.visible-xl {
    display: table;
  }

  tr.visible-xl {
    display: table-row !important;
  }

  th.visible-xl, td.visible-xl {
    display: table-cell !important;
  }

  .visible-xl-block {
    display: block !important;
  }

  .visible-xl-inline {
    display: inline !important;
  }

  .visible-xl-inline-block {
    display: inline-block !important;
  }

  .hidden-xl {
    display: none !important;
  }
}
/*
 #agentListDiv .tablesaw tbody tr:last-of-type { border-top: 2px solid green !important;  }
*/
@media print {
    @page {
        size: A4;
        margin: 0mm;
    }
    html, body {
        width: 1024px;
    }

    body {
        margin: 0 auto;
        line-height: 1em;
        word-spacing: 1px;
        letter-spacing: 0.2px;
        font: 14px "Times New Roman", Times, serif;
        background: white;
        color: black;
        width: 100%;
        float: none;
    }

  html, body {
    height: 100%;
    overflow: visible !important;
  }

  header {
    height: 0;
  }

  .wrapper {
    height: auto !important;
  }

  .test_warning {
    border: none;
  }

  .hidden-print {
    display: none !important;
  }

    .no-printable {
        display: none !important;
    }

    .graded-header h2 {
        font-size: 0.8em;
    }

  .modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: visible !important;
  }

  /*.page-content-wrapper, */
  .printable .modal-header, #betSlipController, .BettingOptions, .BettingOptions_foo {
    display: none !important;
  }

  .headnav, .headuinfo, .headmisc {
    display: none !important;
  }

  .printable {
    display: block !important;
    font-size: 1em;
    height: 100%;
    overflow: visible !important;
    background: #FFF !important;
  }

  .printable .modal-body {
    display: block !important;
    font-size: 1em;
  }

  .printable .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .printable .modal-content {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none !important;
  }

  .printable .modal-body {
    padding: 0;
    margin: 0;
  }

  .printable .modal-body .reports {
    padding: 0 !important;
    margin: 0 !important;
    font: 0.6em/1.3 Arial,Helvetica,sans-serif;
  }

  .printable .modal-body .reports .tab-content {
    padding: 0 !important;
    margin: 0 !important;
    top: 0;
  }

  .cust-sidebar {
    display: none !important;
  }

  .cust-content-body {
    width: 100%;
  }

  .page-content-wrapper {
    width: 100%;
    padding: 0;
  }

  .panel-heading {
    padding-left: 0;
  }

  .wagertypetitle {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 0.7em;
    padding: 2px 0;
  }

  .wagertypetitle span.line_limit {
    display: none !important;
  }

  .game-line {
    border-left: 1px solid #CCC;
  }

  .gameTitle {
    background: none !important;
    padding: 2px 0;
    font-size: 0.8em;
  }

  .bettinglines li {
    border-top: 1px solid #CCC;
  }

  .gameLineInfo {
    font-size: 0.65em !important;
  }

  .btn-xs, .btn-group-xs > .btn {
    font-size: 0.9em !important;
  }

  .gameLineInfo section, .bettinglines li .gameLineInfo i {
    display: inline-block;
  }

  .bettinglines li .gameLineInfo i {
    padding-left: 5px;
  }

  .bettinglines li .gameLineInfo i:before {
    content: " / ";
    color: #CCC;
  }

    .open-bets-p .panel-body {
        padding: 10px 0 0 0;
    }

  .gameLineInfo .btn-default, .gameLineInfo .btn-default.active {
    border: none;
  }

  .CircleLegend, .btn-period-group, .pan-options {
    display: none !important;
  }

  .panel-default {
    border: none;
  }

  .visible-print {
    display: inline-block !important;
  }

  .reports .report-detail {
    padding: 15px 15px 5px 15px;
    border: 3px solid #CCC;
    margin-bottom: 20px;
  }

  .report-detail > h2:first-child {
    margin: 0 0 20px 0px;
  }

  .icon_viewresults:before, .icon_viewresults_minus {
    display: none;
  }

  .day-bal {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }

  .tab-pane .row div h2.RepTitle {
    font-size: 2em;
  }

  .tab-pane .row div h2.RepTitle span {
    display: inline-block !important;
  }

  .tab-pane .graded-header h2 {
    line-height: 0.7em;
  }

  .tab-content, .reports, .tab-pane, .modal-body {
    border: none !important;
  }

  .col-sm-offset-12, .col-sm-offset-11, .col-sm-offset-10, .col-sm-offset-9, .col-sm-offset-8, .col-sm-offset-7, .col-sm-offset-6,
  .col-sm-offset-5, .col-sm-offset-4, .col-sm-offset-3, .col-sm-offset-2, .col-sm-offset-1, .col-sm-offset-0 {
    margin-left: 0 !important;
  }

  .no-padding-print {
    padding: 0;
  }

    .no-padding-print-left {
        padding-left: 0;
    }

    .no-padding-print-right {
        padding-right: 0;
    }

  .col-division-right {
    border-right: 1px solid #CCC;
    padding-right: 10px;
  }

  .graded-header, .graded-data {
    border-bottom: 1px solid #CCC;
        margin-bottom: 10px !important;
    }

    .panel-default .panel-heading {
        border-bottom: 2px solid #000;
    }

    .graded-header {
        border-bottom: 2px solid #000;
    }

    .agent-summary {
        border: 2px solid #000;
  }

  .reports .report-detail-open-bets {
    padding: 0;
    margin-top: 15px;
  }

    .col-print-pull-12 {
        right: 100%;
    }

    .col-print-pull-11 {
        right: 91.66666667%;
    }

    .col-print-pull-10 {
        right: 83.33333333%;
    }

    .col-print-pull-9 {
        right: 75%;
    }

    .col-print-pull-8 {
        right: 66.66666667%;
    }

    .col-print-pull-7 {
        right: 58.33333333%;
    }

    .col-print-pull-6 {
        right: 50%;
    }

    .col-print-pull-5 {
        right: 41.66666667%;
    }

    .col-print-pull-4 {
        right: 33.33333333%;
    }

    .col-print-pull-3 {
        right: 25%;
    }

    .col-print-pull-2 {
        right: 16.66666667%;
    }

    .col-print-pull-1 {
        right: 8.33333333%;
    }

    .col-print-pull-0 {
        right: auto;
    }

    .col-print-push-12 {
        left: 100%;
    }

    .col-print-push-11 {
        left: 91.66666667%;
    }

    .col-print-push-10 {
        left: 83.33333333%;
    }

    .col-print-push-9 {
        left: 75%;
    }

    .col-print-push-8 {
        left: 66.66666667%;
    }

    .col-print-push-7 {
        left: 58.33333333%;
    }

    .col-print-push-6 {
        left: 50%;
    }

    .col-print-push-5 {
        left: 41.66666667%;
    }

    .col-print-push-4 {
        left: 33.33333333%;
    }

    .col-print-push-3 {
        left: 25%;
    }

    .col-print-push-2 {
        left: 16.66666667%;
    }

    .col-print-push-1 {
        left: 8.33333333%;
    }

    .col-print-push-0 {
        left: auto;
    }

  @page {
    size: auto;
    margin: 0.5cm 0.2cm 0.5cm 0.2cm;
  }
  #containerFluid {
    /*display: inline-block;*/
    height: 100%;
    /* overflow-y: auto;*/
    overflow: visible !important;
  }

  #wrapper {
    padding-left: 0;
  }

  h3 .visible-print {
    display: inline-block !important;
    margin-right: 7px;
  }

  .btn-report {
    display: none !important;
  }

  #sidebar-wrapper {
    display: none !important;
  }

  .tablesaw-bar {
    display: none !important;
  }

  .dashbleft {
    width: 100% !important;
  }

  .allscrll {
    overflow: visible !important;
  }

  #containerFluid > .ng-scope {
    height: 100%;
    /*overflow-y: auto; display: block;*/
    overflow: visible !important;
  }

  .dashbwrapper {
    height: 100%;
    /*overflow-y: auto;*/
    overflow: visible !important;
  }

  /*  SM COLUMNS FIX */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .visible-xs {
    display: none !important;
  }

  .hidden-xs {
    display: block !important;
  }

  table.hidden-xs {
    display: table;
  }

  tr.hidden-xs {
    display: table-row !important;
  }

  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }

  .hidden-xs.hidden-print {
    display: none !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  /*  LARGE COLUMNS FIX */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .visible-xs {
    display: none !important;
  }

  .hidden-xs {
    display: block !important;
  }

  table.hidden-xs {
    display: table;
  }

  tr.hidden-xs {
    display: table-row !important;
  }

  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }

  .hidden-xs.hidden-print {
    display: none !important;
  }

  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  /*  PRINT COLUMNS  */
  .container {
    max-width: none !important;
    width: 100% !important;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-hidden-print {
    display: none !important;
  }

  .col-print-12 {
    width: 100%;
  }

  .col-print-11 {
    width: 91.66667%;
  }

  .col-print-10 {
    width: 83.33333%;
  }

  .col-print-9 {
    width: 75%;
  }

  .col-print-8 {
    width: 66.66667%;
  }

  .col-print-7 {
    width: 58.33333%;
  }

  .col-print-6 {
    width: 50%;
  }

  .col-print-5 {
    width: 41.66667%;
  }

  .col-print-4 {
    width: 33.33333%;
  }

  .col-print-3 {
    width: 25%;
  }

  .col-print-2 {
    width: 16.66667%;
  }

  .col-print-1 {
    width: 8.33333%;
  }
}
/*Tables fixed table*/
.fixed {
  top: 0px;
  position: fixed;
  width: auto;
  display: none;
  border: none;
}