﻿@font-face {
  font-family: 'ui_icons';
  src: url("/assets/fonts/ui_icons.eot?-i8aukz");
  src: url("/assets/fonts/ui_icons.eot?#iefix-i8aukz") format("embedded-opentype"), url("/assets/fonts/ui_icons.woff?-i8aukz") format("woff"), url("/assets/fonts/ui_icons.ttf?-i8aukz") format("truetype"), url("/assets/fonts/ui_icons.svg?-i8aukz#ui_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ui_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #ddd;
}

h1, h2 {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  font: normal 1.4em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
}

h2, h3 {
  font: normal 1.2em/1 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 15px;
}

p {
  color: #FFF;
  text-align: center;
  padding: 10px 0 0 0;
  font: normal 0.9em/1.3 'Open Sans', sans-serif;
}

.wrap {
  position: relative;
  width: 250px;
  margin: auto;
  margin-top: 10%;
  padding: 15px;
  background-color: #8C0000;
  border-radius: 7px;
  background: #000;
  /*background: #8C0000 url(../assets/img/login_bew_bg.png) top left no-repeat;*/
}

.wrap input {
  border: none;
  background: #fff;
  font: 300 0.9em/1 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  height: 40px;
  outline: none;
  width: calc(100% - 24px);
  margin: auto;
  padding: 10px 12px 10px 12px;
}

.bar {
  width: 100%;
  height: 1px;
  background: #fff;
}

.bar i {
  width: 88%;
  margin: auto;
  height: 1px;
  display: block;
  background: #d1d1d1;
}

.wrap input[type="text"] {
  border-radius: 7px 7px 0px 0px;
}

.wrap input[type="password"] {
  border-radius: 0px 0px 7px 7px;
}

.wrap button {
  width: 100%;
  border-radius: 7px;
  background: #D90000;
  border: none;
  color: #FFF;
  padding: 14px 0;
  outline: none;
  cursor: pointer;
  font: bold 1.2em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 15px;
}

.icon-alert {
  display: block;
  margin-top: 7px;
}

.icon-alert:before {
  display: block;
  font-size: 1.5em;
  margin-bottom: 7px;
  content: "\e61f";
  height: 25px;
  margin-bottom: 4px;
  color: #FFF;
}

.loginError {
  transition: height 0.3s linear;
}

.loginError {
  /*height: 340px;*/
}

.errmsg {
  color: #FFF;
  text-align: center;
  padding: 10px 0 0 0;
  font: normal 0.8em/1.3 'Open Sans', sans-serif;
}

a.classicsite {
  font: normal 0.8em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #FFF;
  margin: 30px auto 0 auto;
  padding: 6px 12px;
  background: #B20000;
  border-radius: 30px;
  border: 1px solid #8C0000;
  display: block;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background: #8C0000;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

#outdated {
  background-color: #000 !important;
}

/*$codepen-logo-path: url('logo.png');*/
.trdwd {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.trdwd {
  width: 90px;
  height: 119px;
  margin: 0 auto;
  background: #226395 url(/assets/img/pmax_logo.png) top left no-repeat;
  color: rgba(255, 255, 255, 0.1);
  /*
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;*/
  z-index: 100;
  /*
  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width; 
    animation: clipMe $anime-time linear infinite;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
  }

  &::before {
    animation-delay: $anime-time * -.5;
  }
*/
}

/*
@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}*/
