@font-face {
  font-family: 'ui_icons';
  src: url("/assets/fonts/ui_icons.eot?-i8aukz");
  src: url("/assets/fonts/ui_icons.eot?#iefix-i8aukz") format("embedded-opentype"), url("/assets/fonts/ui_icons.woff?-i8aukz") format("woff"), url("/assets/fonts/ui_icons.ttf?-i8aukz") format("truetype"), url("/assets/fonts/ui_icons.svg?-i8aukz#ui_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ui_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #2A6FA1;
}

h1, h2 {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0 0 0;
  font: normal 1.4em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
}

h2, h3 {
  font: normal 1.2em/1 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h3 {
  margin-top: 15px;
}

p {
  color: #FFF;
  text-align: center;
  padding: 10px 0 0 0;
  font: normal 0.9em/1.3 'Open Sans', sans-serif;
}

.wrap {
  position: relative;
  width: 250px;
  /*height: 250px;*/
  margin: auto;
  margin-top: 10%;
  padding: 85px 15px 15px 15px;
  background-color: #226395;
  border-radius: 7px;
  background: #226395 url(/assets/img/login_bg.png) top left no-repeat;
}

.wrap input {
  border: none;
  background: #fff;
  font: 300 0.9em/1 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  height: 40px;
  outline: none;
  width: calc(100% - 24px);
  margin: auto;
  padding: 10px 12px 10px 12px;
}

.bar {
  width: 100%;
  height: 1px;
  background: #fff;
}

.bar i {
  width: 88%;
  margin: auto;
  height: 1px;
  display: block;
  background: #d1d1d1;
}

.wrap input[type="text"] {
  border-radius: 7px 7px 0px 0px;
}

.wrap input[type="password"] {
  border-radius: 0px 0px 7px 7px;
}

.wrap button {
  width: 100%;
  border-radius: 7px;
  background: #F9BC09;
  border: none;
  color: #51771a;
  padding: 14px 0;
  outline: none;
  cursor: pointer;
  color: #000;
  font: bold 1.2em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 15px;
}

.icon-alert {
  display: block;
  margin-top: 7px;
}

.icon-alert:before {
  display: block;
  font-size: 1.5em;
  margin-bottom: 7px;
  content: "\e61f";
  height: 25px;
  margin-bottom: 4px;
  color: #FFF;
}

.loginError {
  transition: height 0.3s linear;
}

.loginError {
  /*height: 340px;*/
}

.errmsg {
  color: #FFF;
  text-align: center;
  padding: 10px 0 0 0;
  font: normal 0.8em/1.3 'Open Sans', sans-serif;
}

a.classicsite {
  font: normal 0.8em/1 'Open Sans', sans-serif;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #012F46;
  margin: 30px auto 0 auto;
  padding: 6px 12px;
  background: #6BB2D6;
  border-radius: 30px;
  border: 1px solid #3399C9;
  display: block;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background: #FFF;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

/*$codepen-logo-path: url('logo.png');*/
.trdwd, .trdwd::before, .trdwd::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.trdwd {
  width: 80px;
  height: 80px;
  margin: 20px auto 0 auto;
  background: #226395 url(/assets/img/trdwd_logo.png) top left no-repeat;
  color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
}

.trdwd::before, .trdwd::after {
  content: '';
  z-index: -1;
  margin: -10%;
  box-shadow: inset 0 0 0 3px;
  animation: clipMe 8s linear infinite;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
}

.trdwd::before {
  animation-delay: -4s;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 96px, 3px, 0px);
  }
  25% {
    clip: rect(0px, 3px, 96px, 0px);
  }
  50% {
    clip: rect(93px, 96px, 96px, 0px);
  }
  75% {
    clip: rect(0px, 96px, 96px, 93px);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}