﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>
<!DOCTYPE html>
<html>
	<head></head>
	<body onLoad="document.Form1.submit();">
	<form name="Form1" action="https://racing.trdwd.ec/BOSSWagering/Racebook/InternetBetTaker/" method="GET">
			<input type="hidden" value="<%= ViewData["SBUserName"] %>" name="SBUserName">
			<input type="hidden" value="<%= ViewData["SBPassword"]%>" name="SBPassword">
			<input type="hidden" value="<%= ViewData["SiteId"]%>" name="SiteId">
	</form>
	</body>
</html>