﻿<div class="dashbwrapper">
  <div class="dashbleft" id="div_dashbox">

    <div class="row">
      <div class="col-lg-12 no-padding-right">
        <div class="data-filters">
          <div class="row">
            <div class="col-sm-6">
              <h3>{{Translate('Dashboard')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID}}</span></h3>
            </div>
            <div class="col-sm-6 text-right">
            </div>
          </div>
        </div>

        <div class="data-component-summary">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 col-print-3">
              <span ng-class="{'icon-perf-down': ThisWeekTotal < 0, 'icon-perf-up': ThisWeekTotal >= 0}"></span>{{Translate('Net this week')}}
                            <h2 ng-bind="ThisWeekTotal | formatNumber: false" ng-class="{'num_neg' : ThisWeekTotal < 0}"></h2>
              <!--span class="summary-details">Total Win Loss</span-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-print-3">
              <span ng-class="{'icon-perf-down': LastWeekTotal < 0, 'icon-perf-up': LastWeekTotal >= 0}"></span>{{Translate('Net last week')}}
                            <h2 ng-bind="LastWeekTotal | formatNumber: false" ng-class="{'num_neg' : LastWeekTotal < 0}"></h2>
              <!--span class="summary-details">Total Win Loss</span-->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-print-3">
              <span class="icon-ag-circle-graph"></span>{{Translate('Total Volume')}}
                            <h2 ng-bind="VolumeAmount | formatNumber: false" ng-class="{'num_neg' : VolumeAmount < 0}"></h2>
              <span class="summary-details"></span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-print-3">
              <span class="icon-cust-maint"></span>{{Translate('Total Head Count')}}
                            <h2 ng-bind="TotalPlayers"></h2>
              <span class="summary-details"></span>
            </div>
          </div>
        </div>

        <div class="data-component data-chart" style="border: 1px solid #CCC;">
          <div class="row">
            <div class="col-sm-6">
              <!--h2 class="">Weekly Net Figures Chart</h2-->
              <h2 class="">{{Translate(GetPeriod(Week.val))}} {{Translate('Net Figures Chart')}}</h2>
              <div>
                <span class="chart-winloss">{{Translate('Total Net')}}</span>
                <span class="chart-casino">{{Translate('Total Casino Net')}}</span>
              </div>
              <!--p>Data for this week</p-->
            </div>
            <div class="col-sm-6 text-right hidden-print">
              <form class="form-inline">
                <div class="form-group">
                  <label for="exampleInputName2">{{Translate('Chart Reporting Period')}}</label>
                  <select class="form-control" ng-change="UpdateChart()" ng-model="Week.val">
                    <option value="0">{{Translate('This Week')}}</option>
                    <option value="1">{{Translate('Last Week')}}</option>
                    <option value="2">{{Translate('Two weeks ago')}}</option>
                  </select>
                </div>
              </form>
            </div>
          </div>

          <div id="morris-bar-chart"></div>
        </div>

        <div class="row hidden-print">

          <div class="col-sm-12" ng-show="AgentInfo.EnterTransactionFlag=='Y' || AgentInfo.ChangeCreditLimitFlag=='Y' || AgentInfo.ChangeTempCreditFlag =='Y' || AgentInfo.SuspendWageringFlag=='Y' || AgentInfo.UpdateCommentsFlag=='Y' || AgentInfo.AddNewAccountFlag=='Y' || AgentInfo.ChangeWagerLimitFlag == 'Y'">
            <div class="data-component data-actions">
              <h2>{{Translate('Account Actions')}}</h2>
              <p>{{Translate('Payments and Quick Actions Module')}}</p>
              <div>

                <div class="form">
                  <div class="form-group col-xs-6 no-padding" id="div_customer">
                    <label for="">{{Translate('Choose an account:')}}</label>
                    <div custom-select="t as t.CustomerId for t in ActionCustomers | filter : $searchTerm" ng-model="customer" ng-change="GetCustomerBalance(customer.CustomerId)" custom-select2="p as p.password for p in ActionCustomers | filter : $searchTerm" id="custActionList">
                      <div>
                        <span>{{ t.CustomerId }}</span>
                        <span>{{ t.password }}</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>


                  </div>
                  <div class="form-group col-xs-6"></div>
                </div>
                <div class="clearfix"></div>

                <div class="cust_dropdowooon">
                  <div class="actions_cust_data"><span ng-bind="Translate('Current balance: ')"></span><strong ng-bind="customer.CurrentBalance | formatNumber"></strong></div>
                  <div class="actions_cust_data"><span ng-bind="Translate('Available balance: ')"></span><strong ng-bind="CustomerBalance.AvailableBalance | formatNumber"></strong></div>
                </div>
                <cust-actions customer="customer" agent-info="AgentInfo" update-customer-balance="UpdateCustomerBalance(customerId, currentBalance)" update-customer-password="UpdateCustomer(customer)"></cust-actions>
              </div>
            </div>
          </div>
          <!--<div class="col-sm-6 text-right">
                            <h2>Performance for this Week</h2>
                            <p>Daily Data</p>name
                        <performance></performance>
                    </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="dashbright hidden-print">
    <div class="activity-log no-padding">

      <div class="log-header">
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-dropdown"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
            <li id="betOption_0" class="selected"><a ng-click="SetMaxBet(0)">{{Translate('All')}}</a></li>
            <li id="betOption_20000"><a ng-click="SetMaxBet(20000)">{{Translate('Over 200')}}</a></li>
            <li id="betOption_50000"><a ng-click="SetMaxBet(50000)">{{Translate('Over 500')}}</a></li>
            <li id="betOption_200000"><a ng-click="SetMaxBet(100000)">{{Translate('Over 1,000')}}</a></li>
            <li id="betOption_500000"><a ng-click="SetMaxBet(500000)">{{Translate('Over 5,000')}}</a></li>
            <li id="betOption_1000000"><a ng-click="SetMaxBet(1000000)">{{Translate('Over 10,000')}}</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu dropdown-menu-left">
              <a>Wager Type</a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li id="wagerOption_All" class="selected"><a ng-click="SetWagerType('All')">{{Translate('All Bets')}}</a></li>
                <li id="wagerOption_Straight_Bet"><a ng-click="SetWagerType('Straight_Bet')">{{Translate('Straight')}}</a></li>
                <li id="wagerOption_Parlay"><a ng-click="SetWagerType('Parlay')">{{Translate('Parlays')}}</a></li>
                <li id="wagerOption_Teaser"><a ng-click="SetWagerType('Teaser')">{{Translate('Teasers')}}</a></li>
                <li id="wagerOption_If_Bet"><a ng-click="SetWagerType('If_Bet')">{{Translate('If Bet')}}</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <h2><span class="icon-activity-log"></span>{{Translate("Today's Action Log")}}</h2>
        <!--p ng-bind="TotalPlayers + ' Players connected'"></p-->
        <p>{{Translate('Current activity and all pending wagers')}}</p>
      </div>
      <div class="log-body">
        <div ng-repeat="lT in  (sortedTickets = (LiveTickerInfo | filter:Filters.BetLog(LiveTickerInfo, lT)))">
          <div id="{{lT.TicketNumber}}_{{lT.WagerNumber}}_liveTicket" class="log-tik">
            <div>
              <span class="userid" ng-bind="lT.CustomerId" style="float: left"></span>
              <span ng-bind="FormatDateTime(lT.PostedDateTimeString, 8)" style="float: right"></span>
              <div class="clear" style="clear: both;"></div>
              <span ng-bind="lT.FreePlayFlag == 'Y' ? Translate('***Free PLay***') : ''"></span>
              <b ng-show="ShowWagerType(lT.WagerType) " ng-bind="Translate(GetWagerType(lT, lT.WagerItems.length))"></b><a ng-show="lT.WagerItems.length > 1" href="#log-tik_Xnumb{{$index}}" data-toggle="collapse" onclick="return false;">/ {{Translate('View more')}}</a>
              <div ng-show="lT.WagerItems.length == 1">
                <b class="log-tik-team" ng-bind="GetChosenTeamId(lT.WagerItems[0], true)"></b>
                <span ng-bind="GetWagerDescription(lT.WagerItems[0])"></span>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <b>{{Translate('Risk:')}}</b> <span ng-bind="lT.AmountWagered | formatNumber"></span>
                </div>
                <div class="col-sm-6">
                  <b>{{Translate('Win:')}}</b> <span ng-bind="lT.ToWinAmount | formatNumber"></span>
                </div>
              </div>
              <div id="log-tik_Xnumb{{$index}}" class="log-tik-detail collapse">
                <div ng-repeat="wI in lT.WagerItems">
                  <b ng-bind="GetChosenTeamId(wI, true)"></b>
                  <span ng-bind="GetWagerDescription(wI)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
