﻿<div class="dashbwrapper">
    <div class="allscrll">
        <div class="data-filters" ng-show="AgentDistribution != null">
            <div class="row">
                <div class="col-sm-12 no-padding">
                    <h3>{{Translate('Agent Distribution')}} / <span>{{Translate('last')}} {{Period.val}} {{Translate('days')}}</span> <span><a class="print-icon hidden-print hidden-xs" onclick="window.print();"></a></span></h3>
                </div>
            </div>
        </div>
        <div class="data-component" ng-class="{'ag-transactions': SummaryOnly}">
            <div class="" ng-show="OpenBets.length == 0">
                {{Translate('No Info To Show')}}
            </div>

            <div class="data-filters">
                <div class="row">
                    <div class="col-sm-6" ng-if="!SummaryOnly">
                        <h2>{{Translate('Summary')}} <span class="visible-print">{{Translate('for')}} {{Translate('last')}} {{Period.val}} {{Translate('days')}}</span></h2>
                    </div>
                    <div class="col-sm-6" ng-if="SummaryOnly">
                        <h2>{{Translate('Transactions')}} <span class="visible-print">{{Translate('for')}} {{Translate('last')}} {{Period.val}} {{Translate('days')}}</span></h2>
                    </div>
                    <div class="col-sm-6 text-right hidden-print">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">{{Translate('Transaction Type')}}</label>
                                <select class="form-control" ng-model="DDBox.TranType">
                                    <option value="ALL">{{Translate('All')}}</option>
                                    <option value="TUZ">{{Translate('CashTransactions')}}</option>
                                </select>
                                <label for="exampleInputName2">{{Translate('Reporting Period')}}</label>
                                <select class="form-control" ng-model="Period.val" ng-change="UpdateSummary()" ng-init="Period.val = '7'">
                                    <option value="7">{{Translate('Last 7 days')}}</option>
                                    <option value="14">{{Translate('Last 14 days')}}</option>
                                    <option value="30">{{Translate('Last 30 days')}}</option>
                                    <option value="45">{{Translate('Last 45 days')}}</option>
                                    <option value="90">{{Translate('Last 90 days')}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--<form class="form-inline hidden-print">
            <div class="form-group totalselected">
                <label>Total Selected </label>
                <input type="text" class="form-control" id="totalSelected" readonly>
            </div>
        </form>-->

            <table id="agentSummaryTbl" class="tablesaw" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap>
                <thead class="header">
                    <tr>
                        <th data-tablesaw-priority="persist">{{Translate('Date')}}</th>
                        <th class="text-right">{{Translate('Description')}}</th>
                        <th class="text-right">{{Translate('Credit')}}</th>
                        <th class="text-right">{{Translate('Debt')}}</th>
                        <th class="text-right">{{Translate('Balance')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tS in (sortedTS = (TransactionSumamry | filter: Filters.TranType(TransactionSumamry, ts)))" table-saw>
                        <td><span ng-bind="tS.TranDateTimeString"></span></td>
                        <td id="D_1{{$index}}" class="text-right"><span ng-bind="ShortDescription(tS.ShortDesc)"></span></td>
                        <td id="N_{{$index}}" class="text-right"><span ng-bind="tS.Won | formatNumber"></span></td>
                        <td id="P_{{$index}}" class="text-right"><span ng-bind="tS.Lost  | formatNumber"></span></td>
                        <td id="N1_{{$index}}" class="text-right"><span ng-bind="tS.CurrentBalance | formatNumber" ng-class="{'num_neg' : tS.CurrentBalance < 0}"></span></td>
                    </tr>
                </tbody>
                <tfoot class="hidden-print">
                <tr>
                    <td id="D2" colspan="5">
                        <form class="form-inline">
                            <div class="form-group totalselected">
                                <label>Total Selected </label>
                                <input type="text" class="form-control" id="totalSelectedBottom" readonly>
                            </div>
                        </form>
                    </td>
                </tr>
            </tfoot>

            </table>
        </div>

    <div ng-repeat="aD in AgentDistribution" ng-if="!SummaryOnly">
            <div class="data-component">
                <div class="" ng-show="OpenBets.length == 0">
                    {{Translate('No Info To Show')}}
                </div>
        <h2 ng-bind="aD.AgentID | RemoveIdString:'TW'"></h2>
                <table id="agentDistTbl" class="tablesaw" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap>
                    <thead class="header">
                        <tr>
                            <th data-tablesaw-priority="persist">{{Translate('Date')}}</th>
                            <th class="text-right">{{Translate('Sportsbook')}}<br />
                                {{Translate('Win/Loss')}}</th>
                            <!--<th class="text-right">Sportsbook<br />Adj</th>-->
                            <th class="text-right">Casino<br />
                                {{Translate('Win/Loss')}}</th>
                            <!-- <th class="text-right">Casino<br />Adj</th>-->
                            <th class="text-right">{{Translate('Net')}}<br />
                                {{Translate('Amount')}}</th>
                            <th class="text-right">{{Translate('Commission')}}<br />
                                {{Translate('Amount')}}</th>
                            <th class="text-right">{{Translate('Previous')}}<br />
                                {{Translate('Makeup')}}</th>
                            <th class="text-right">New<br />
                                {{Translate('Makeup')}}</th>
                            <th class="text-right">{{Translate('CU Head')}}<br />
                                {{Translate('Count')}}</th>
                            <th class="text-right">{{Translate('Inet Head')}}<br />
                                {{Translate('Count')}}</th>
                            <th class="text-right">{{Translate('Previous')}}<br />
                                {{Translate('Balance')}}</th>
                            <th class="text-right">{{Translate('Dist')}}</th>
                            <th class="text-right">{{Translate('New')}}<br />
                                {{Translate('Balance')}}</th>
                        </tr>
                    </thead>
          <tbody>
                        <tr ng-repeat="aI in aD.Items" table-saw>
                            <td><span ng-bind="FormatDateTime(aI.DistributionDate, 4)"></span></td>
                            <td class="text-right"><span ng-bind="(aI.WinAmount - aI.LossAmount) + (aI.CreditAdjustments - aI.DebitAdjustments) | formatNumber" ng-class="{'num_neg' : aI.WinAmount - aI.LossAmount < 0}"></span></td>
                            <!-- <td class="text-right"><span ng-bind="aI.CreditAdjustments - aI.DebitAdjustments | formatNumber" ng-class="{'num_neg' : aI.CreditAdjustments - aI.DebitAdjustments < 0}"></span></td> -->
                            <td class="text-right"><span ng-bind="(aI.CasinoWinAmount - aI.CasinoLossAmount) + (aI.CasinoCreditAdjustments - aI.CasinoDebitAdjustments) | formatNumber" ng-class="{'num_neg' : aI.CasinoWinAmount - aI.CasinoLossAmount < 0}"></span></td>
                            <!-- <td class="text-right"><span ng-bind="aI.CasinoCreditAdjustments - aI.CasinoDebitAdjustments  | formatNumber" ng-class="{'num_neg' : aI.CasinoCreditAdjustments - aI.CasinoDebitAdjustments < 0}"></span></td> -->
                            <td class="text-right"><span ng-bind="aI.NetAmount | formatNumber" ng-class="{'num_neg' : aI.NetAmount < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.CommissionAmount | formatNumber" ng-class="{'num_neg' : aI.CommissionAmount < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.PrevMakeup | formatNumber" ng-class="{'num_neg' : aI.PrevMakeup < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.NewMakeup | formatNumber" ng-class="{'num_neg' : aI.NewMakeup < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.HeadCount"></span></td>
                            <td class="text-right"><span ng-bind="aI.InetHeadCount"></span></td>
                            <td class="text-right"><span ng-bind="aI.PrevBalance | formatNumber" ng-class="{'num_neg' : aI.PrevBalance < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.DistributionAmount | formatNumber" ng-class="{'num_neg' : aI.DistributionAmount < 0}"></span></td>
                            <td class="text-right"><span ng-bind="aI.NewBalance | formatNumber" ng-class="{'num_neg' : aI.NewBalance < 0}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>