﻿<div id="betSlipDiv" class="betslip" ng-controller="betSlipController">

  <div class="modal-header" ng-show="IsMobileDevice">
    <h2><span ng-bind="Translate('Bet Slip')"></span><span ng-show="!IsWebSocketConnected()">*</span>
    </h2>
    <button type="button" class="close" ng-click="CancelAction(false)" data-dismiss="modal" id="closeButton">&times;</button>
    <span ng-bind="Translate(wagerTypesServiceView.Selected.name)"></span><span ng-show="!ticketServiceView.IsOpenPlays()" ng-bind="' (' + ticketServiceView.Ticket.WagerItems.length + ' ' + Translate('selections') + ')'"></span>
  </div>

  <div ng-class="{'modal-body':IsMobileDevice}" id="betSlipBody">
    <div ng-class="{'modal-body-inner':IsMobileDevice}">
      <div ng-show="!IsMobileDevice" class="row">
        <div class="col-sm-6">
          <h2><span ng-bind="Translate('Bet Slip')"></span><span ng-show="!IsWebSocketConnected()">*</span>
          </h2>
        </div>
      </div>

      <div class="alert alert-success" ng-show="ticketServiceView.Ticket.Posted()" id="alertSuccess">
        <span class="glyphicon glyphicon-ok"></span>
        <h1 ng-bind="Translate('Wager has been accepted!')"></h1>
        <p ng-bind="Translate('Ticket') + ' ' + ticketServiceView.Ticket.TicketNumber"></p>
      </div>

      <div class="ticket confirmed" ng-animate=" 'animate' " ng-repeat="wagerItem in ticketServiceView.Ticket.OpenWagerItems">
        <div class="tik-head">
          <div ng-bind="GetWagerItemTitle(wagerItem)"></div>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'S' " ng-bind="Translate('Spread') + ' ' + GetGameWagerItemInfo(wagerItem,'SO') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'M'" ng-bind="Translate('Money Line') + ' ' + GetGameWagerItemInfo(wagerItem,'MO') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'L'" ng-bind="GetGameWagerItemInfo(wagerItem,'OU') + ' ' + GetGameWagerItemInfo(wagerItem,'LO') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
        </div>
      </div>

      <div class="ticket" ng-animate=" 'animate' " ng-repeat="wagerItem in ticketServiceView.Ticket.WagerItems" id="wagerItem_{{wagerItem.ChosenTeamId.RemoveSpecials()}}_{{wagerItem.ControlCode}}_{{wagerItem.Loo.PeriodNumber}}"
        ng-class="{confirmed : ticketServiceView.Ticket.Posted(), 
        'wi-change' : !ticketServiceView.Ticket.Posted() && WagerChanged(wagerItem), 'wi-not-available' : !ticketServiceView.Ticket.Posted() && !wagerItem.Available}"
        ng-show="!(ticketServiceView.Ticket.Posted() && !wagerItem.Available)">

        <h2 ng-show="IsMobileDevice" class="line_title"><span class="selection" ng-bind="Translate('Selection #') + ($index+1) + ' ' + wagerItem.Loo.SportType + ' ' + wagerItem.Loo.SportSubType"></span><a href="" class="cancelselection" ng-show="!ticketServiceView.Ticket.Posted()" ng-click="RemoveWagerItem(wagerItem, $index)"></a>
          <!-- button type="button" class="tik-close" aria-hidden="true" ng-show="!ticketServiceView.Ticket.Posted()" ng-click="RemoveWagerItem(wagerItem, $index)"> &times;</button-->
        </h2>

        <div class="tik-head">
          <button type="button" class="tik-close" data-dismiss="modal" aria-hidden="true"
            ng-show="!ticketServiceView.Ticket.Posted()"
            ng-click="RemoveWagerItem(wagerItem, $index)">
            &times;</button>
          <div ng-bind="GetWagerItemTitle(wagerItem)"></div>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'S' && (ticketServiceView.Ticket.Posted() || !AllowBuyPoints(wagerItem))" ng-bind="Translate('Spread') + ' ' + GetGameWagerItemInfo(wagerItem,'S') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'M'" ng-bind="Translate('Money Line') + ' ' + GetGameWagerItemInfo(wagerItem,'M') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'L' && (ticketServiceView.Ticket.Posted() || !AllowBuyPoints(wagerItem))" ng-bind="GetGameWagerItemInfo(wagerItem,'OU') + ' ' + GetGameWagerItemInfo(wagerItem,'L') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
          <span ng-show="SubString(wagerItem.ControlCode, 0, 1) == 'E'" ng-bind="Translate('Team Totals') + ' ' + GetGameWagerItemInfo(wagerItem,'OU') + ' ' + GetGameWagerItemInfo(wagerItem,'E') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
        </div>
        <div class="tik-body" ng-if="wagerItem.Type == 'G' && !wagerItem.Available">
          <div class="msg">Line Not Available</div>
        </div>
        <div class="tik-body" ng-if="wagerItem.Type == 'G' && wagerItem.Available">

          <div ng-switch on="SubString(wagerItem.ControlCode, 0, 1)">
            <div ng-show="wagerItem.HalfPointAdded" class="freepoints" ng-bind="Translate('Free ½ point applied')"></div>

            <div ng-switch-when="S" ng-class="{buypoints : AllowBuyPoints(wagerItem) }">
              <div class="title">
                <span ng-show="!ticketServiceView.Ticket.Posted() && AllowBuyPoints(wagerItem)" ng-bind="Translate('Spread') + ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
              </div>
              <div class="buypoints-dropdown" ng-show="AllowBuyPoints(wagerItem)">
                <select class="form-control"
                  ng-model="wagerItem.SelectedLine"
                  ng-options="item as item.strPoints + ' ' + item.cost for item in wagerItem.BuyPoints"
                  ng-change="BuyPointsOnChange(wagerItem)">
                </select>
              </div>
            </div>
            <div ng-switch-when="L" ng-class="{buypoints : AllowBuyPoints(wagerItem) }">
              <div class="title" ng-show="AllowBuyPoints(wagerItem)">
                <section ng-bind="Translate('Total Points') + ' '+ GetGameWagerItemInfo(wagerItem,'OU')"></section>
                <span ng-show="!ticketServiceView.Ticket.Posted() && AllowBuyPoints(wagerItem)" ng-bind=" ' ' + Translate('FOR') + ' ' + GetGameWagerItemInfo(wagerItem,'period')"></span>
              </div>
              <div class="buypoints-dropdown" ng-show="AllowBuyPoints(wagerItem)">
                <select class="form-control"
                  ng-model="wagerItem.SelectedLine"
                  ng-options="item as item.strPoints + ' ' + item.cost for item in wagerItem.BuyPoints"
                  ng-change="BuyPointsOnChange(wagerItem)">
                </select>
              </div>
            </div>
            <span ng-show="ticketServiceView.Ticket.UseFreePlay && ticketServiceView.Ticket.Posted()">**Free Play**</span>
          </div>

          <div class="pitcher" ng-class="{listed_pitcher: wagerItem.WagerType != 'M' || wagerItem.Loo.PeriodNumber != 0}" ng-show="ShowPitchers(wagerItem)">
            <input ng-if="!ticketServiceView.Ticket.Posted()" id="pitcher1_{{$index}}" type="checkbox" ng-disabled="wagerItem.WagerType != 'M' || wagerItem.Loo.PeriodNumber != 0" ng-model="wagerItem.Pitcher1ReqFlag" />
            <label for="pitcher1_{{$index}}" ng-bind="PitcherDetail(wagerItem.Loo.ListedPitcher1, wagerItem.Pitcher1ReqFlag)"></label>
            <input ng-if="!ticketServiceView.Ticket.Posted()" id="pitcher2_{{$index}}" type="checkbox" ng-disabled="wagerItem.WagerType != 'M' || wagerItem.Loo.PeriodNumber != 0" ng-model="wagerItem.Pitcher2ReqFlag" />
            <label for="pitcher2_{{$index}}" ng-bind="PitcherDetail(wagerItem.Loo.ListedPitcher2, wagerItem.Pitcher2ReqFlag)"></label>
          </div>

          <div class="tik-amount" ng-show="ShowWagerItemAmountFields()" ng-class="{'tik-amount-error' : !wagerItem.IsOk && !ticketServiceView.Ticket.Posted()}">
            <p ng-show="!ticketServiceView.Ticket.Posted()">
              <i ng-class="{CircleLow:CircledVal(wagerItem) == 'L', CircleHigh: CircledVal(wagerItem) == 'H'}"></i>
              <span ng-bind="Translate('Enter Amount')"></span>
            </p>
            <div class="tik-risk-amount">
              <input type="tel" class="form-control" id="R_{{$index}}" name="R_{{$index}}"
                placeholder="{{wagerItem.RiskPlaceHolder}}"
                ng-show="!ticketServiceView.Ticket.Posted()"
                ng-model="wagerItem.RiskAmt"
                ng-focus="WagerAmoutOnFocus('R', wagerItem, false)"
                ng-blur="WagerAmountOnBlur('R', wagerItem, $index)"
                ng-change="WagerAmountOnChange(wagerItem, 'R', $index)"
                ng-disabled="IsWagerItemAmountDisabled($index)"
                format-number />
              <span ng-bind="Translate('Risk')" ng-show="ticketServiceView.Ticket.Posted()"></span>
              <span ng-bind="wagerItem.RiskAmt * 100 | formatNumber" ng-show="ticketServiceView.Ticket.Posted()"></span>
            </div>
            <div class="tik-win-amount">
              <input type="tel" class="form-control" id="W_{{$index}}" name="W_{{$index}}"
                placeholder="{{wagerItem.WinPlaceHolder}}"
                ng-show="!ticketServiceView.Ticket.Posted()"
                ng-model="wagerItem.ToWinAmt"
                ng-focus="WagerAmoutOnFocus('W', wagerItem, false)"
                ng-blur="WagerAmountOnBlur('W', wagerItem, $index)"
                ng-change="WagerAmountOnChange(wagerItem, 'W', $index)"
                ng-disabled="IsWagerItemAmountDisabled($index)"
                format-number />

              <span ng-bind="Translate('To_Win')" ng-show="ticketServiceView.Ticket.Posted()"></span>
              <span ng-bind="wagerItem.ToWinAmt * 100 | formatNumber" ng-show="ticketServiceView.Ticket.Posted()"></span>
            </div>
            <span ng-show="!ticketServiceView.Ticket.Posted() && !wagerItem.IsOk && (wagerItem.RiskAmt && wagerItem.RiskAmt < customerServiceView.MinimumWagerAmt / 100)  " ng-bind="Translate('Amount entered is below limit, wager will not be accepted.')"></span>
            <span ng-show="!ticketServiceView.Ticket.Posted() && !wagerItem.IsOk && (wagerItem.RiskAmt > wagerItem.MaxWagerLimit / 100)" ng-bind="Translate('Amount entered exceeds limit, wager will not be accepted.')"></span>
          </div>

        </div>

        <div class="tik-body" ng-if="wagerItem.Type == 'C'">
          <div class="title" ng-bind="GetContestantLine(wagerItem)"></div>
          <div class="tik-amount" ng-show="ShowWagerItemAmountFields()" ng-class="{'tik-amount-error' : !ticketServiceView.Ticket.Posted() && !wagerItem.IsOk}">
            <p ng-show="!ticketServiceView.Ticket.Posted()">
              <i ng-class="{CircleLow:CircledVal(wagerItem) == 'L', CircleHigh: CircledVal(wagerItem) == 'H'}"></i>
              <span ng-bind="Translate('Enter Amount')"></span>
            </p>
            <div class="tik-risk-amount">
              <input type="tel" class="form-control" id="contestantRiskAmount_{{$index}}" placeholder="{{wagerItem.RiskPlaceHolder}}"
                ng-show="!ticketServiceView.Ticket.Posted()"
                ng-model="wagerItem.RiskAmt"
                ng-disabled="wagerItem.Loo.MoneyLine < 0"
                ng-focus="WagerAmoutOnFocus('R', wagerItem, true)"
                ng-blur="WagerAmountOnBlur('R', wagerItem, $index)"
                ng-change="WagerAmountOnChange(wagerItem, 'R', $index)" />
              <span ng-bind="Translate('Risk')" ng-show="ticketServiceView.Ticket.Posted()"></span>
              <span ng-bind="wagerItem.RiskAmt" ng-show="ticketServiceView.Ticket.Posted()"></span>
            </div>
            <div class="tik-win-amount">
              <input type="tel" class="form-control" id="contestantToWinAmount_{{$index}}" placeholder="{{wagerItem.WinPlaceHolder}}"
                ng-show="!ticketServiceView.Ticket.Posted()"
                ng-model="wagerItem.ToWinAmt"
                ng-disabled="wagerItem.Loo.MoneyLine > 0"
                ng-focus="WagerAmoutOnFocus('W', wagerItem, true)"
                ng-blur="WagerAmountOnBlur('W', wagerItem, $index)"
                ng-change="WagerAmountOnChange(wagerItem, 'W', $index)" />
              <span ng-bind="Translate('To_Win')" ng-show="ticketServiceView.Ticket.Posted()"></span>
              <span ng-bind="wagerItem.ToWinAmt" ng-show="ticketServiceView.Ticket.Posted()"></span>
            </div>
            <span ng-show="!ticketServiceView.Ticket.Posted() && !wagerItem.IsOk" ng-bind="Translate('Amount entered exceeds limit, wager will not be accepted.')"></span>
          </div>
        </div>

      </div>
      <div class="bet-count" ng-if="ticketServiceView.Ticket.Posted() && (ticketServiceView.Ticket.KeepOpenPlay || ticketServiceView.IsOpenPlays())" ng-bind="Translate('Open play confirmed')"></div>
      <div class="bet-count" ng-if="(ticketServiceView.Ticket.KeepOpenPlay || ticketServiceView.IsOpenPlays())" ng-bind="BetCount()"></div>
      <div class="ticket ticket-total-bet" ng-class="{'confirmed-total' : ticketServiceView.Ticket.Posted()}" ng-if="ticketServiceView.Ticket.WagerItems.length > 0 || ticketServiceView.Ticket.OpenWagerItems.length > 0">
        <div class="tik-body">
          <div class="freeplay" ng-show="!ticketServiceView.Ticket.Posted() && customerServiceView.Info.FreePlayBalance > 0 && wagerTypesServiceView.IsStraightBet()">
            <input type="checkbox" id="FreePlayAvail" ng-model="ticketServiceView.Ticket.UseFreePlay" ng-change="FreePlayAction()">
            <label for="FreePlayAvail">
              <span ng-bind="customerServiceView.Info.FreePlayBalance | dollar"></span>
              <span ng-bind="Translate('Free Play Available')"></span>
            </label>
          </div>

          <div ng-show="!wagerTypesServiceView.IsAccumWager() || ticketServiceView.Ticket.Posted()">
            <div class="total-numbers">
              <div class="title" ng-bind="Translate('Total_Bet')"></div>
              <div class="value" ng-bind="TotalRiskFix(ticketServiceView.Ticket.TotalRiskAmount) | dollar"></div>
            </div>
            <div class="total-numbers">
              <div class="title" ng-bind="Translate('Total possible Winning')"></div>
              <div class="value" ng-bind="ticketServiceView.Ticket.TotalToWinAmount * 100 | dollar"></div>
            </div>
          </div>

          <div class="tik-amount tik-open-spot" ng-show="(!IsMobileDevice && OpenAllowed() && !ticketServiceView.Ticket.Posted()) || (IsMobileDevice && OpenAllowed() && !ticketServiceView.Ticket.Posted() && !ticketServiceView.IsOpenPlays())">
            <p ng-bind="Translate('Add Open Spot')"></p>
            <div class="buypoints">
              <div class="buypoints-dropdown">
                <select id="ckOpenPlays" class="form-control"
                  ng-change="ChangeMaximunPicks()"
                  ng-model="ticketServiceView.openPlaysVal"
                  ng-options="o.name for o in ticketServiceView.OpenPlayDropDown track by o.value"
                  ng-disabled="ticketServiceView.IsOpenPlays() || ticketServiceView.OpenDisable">
                </select>
              </div>
            </div>
            <div class="text-center" ng-if="wagerTypesServiceView.IsParlay()" ng-bind="Translate('Available only for single parlays')"></div>
          </div>

          <div class="tik-amount" ng-show="wagerTypesServiceView.IsAccumWager() && !ticketServiceView.Ticket.Posted()" ng-class="{'tik-amount-error' : !ticketServiceView.Ticket.Posted() && !ticketServiceView.Ticket.WagerItems[0].IsOk}">
            <div class="buypoints" ng-show="wagerTypesServiceView.IsParlay() && ticketServiceView.Ticket.WagerItems.length > 2">
              <div class="buypoints-dropdown">
                <select class="form-control"
                  ng-model="ticketServiceView.Ticket.RoundRobin.Selected"
                  ng-options="rro.name for rro in ticketServiceView.Ticket.RoundRobin.Options"
                  ng-change="OnRoundRobinChange()"
                  ng-disabled="ticketServiceView.Ticket.KeepOpenPlay || ticketServiceView.IsOpenPlays()">
                </select>
              </div>
            </div>

            <p ng-show="!ticketServiceView.Ticket.Posted()">
              <i ng-class="{CircleLow:CircledVal(wagerItem) == 'L', CircleHigh: CircledVal(wagerItem) == 'H'}"></i>
              <span ng-bind="Translate('Enter Amount')"></span>
            </p>
            <p ng-show="wagerTypesServiceView.IsActionReverse()">
              <input class="form-control" type="tel" id="arWagerAmount" placeholder="{{ReversePlaceHolder}}"
                ng-model="ticketServiceView.Ticket.ArAmount"
                ng-change="ArWagerAmountOnChange(wagerItem)"
                ng-focus="WagerAmoutOnFocus('R', wagerItem, false, true)"
                ng-blur="WagerArOnBlur()"
                ng-disabled="!ticketServiceView.Ticket.Any() && ticketServiceView.Ticket.WagerItems.length != 2" />
            </p>
            <p ng-show="TicketServiceView.OpenDisable && wagerTypesServiceView.IsParlay()">
              <input class="form-control" type="tel" id="rrRisk" placeholder="{{RiskPlaceHolder}}"
                ng-model="ticketServiceView.Ticket.TotalRiskAmount"
                ng-change="WagerAmountOnChange(wagerItem, 'R', 0); CalculateTotalRisk()"
                ng-focus="WagerAmoutOnFocus('R', wagerItem, false, false)"
                ng-blur="WagerAmountOnBlur('R', null, 0)"
                ng-disabled="!ticketServiceView.Ticket.Any() || ticketServiceView.IsOpenPlays()"
                format-number />
            </p>
            <div class="tik-risk-amount" ng-show="TicketServiceView.OpenDisable && wagerTypesServiceView.IsParlay()">
              <input type="tel" id="totalRiskRR" class="form-control" placeholder="Risk Amount"
                ng-model="ticketServiceView.Ticket.RRTotalRiskAmount"
                ng-disabled="!ticketServiceView.Ticket.Any() || TicketServiceView.OpenDisable || wagerTypesServiceView.IsActionReverse() || ticketServiceView.IsOpenPlays()"
                format-number />
            </div>
            <div class="tik-risk-amount" ng-if="!(TicketServiceView.OpenDisable && wagerTypesServiceView.IsParlay())">
              <input type="tel" id="totalRisk" class="form-control" placeholder="{{RiskPlaceHolder}}"
                ng-model="ticketServiceView.Ticket.TotalRiskAmount"
                ng-focus="WagerAmoutOnFocus('R', wagerItem, false, false)"
                ng-blur="WagerAmountOnBlur('R', null, 0)"
                ng-change="WagerAmountOnChange(wagerItem, 'R', 0)"
                ng-disabled="!ticketServiceView.Ticket.Any() || TicketServiceView.OpenDisable || wagerTypesServiceView.IsActionReverse() || ticketServiceView.IsOpenPlays()"
                format-number />
            </div>
            <div class="tik-win-amount">
              <input type="tel" id="totalToWin" class="form-control" placeholder="{{WinPlaceHolder}}"
                ng-model="ticketServiceView.Ticket.TotalToWinAmount"
                ng-focus="WagerAmoutOnFocus('W', wagerItem, false, false)"
                ng-blur="WagerAmountOnBlur('W', null, 0)"
                ng-change="WagerAmountOnChange(wagerItem, 'W', 0)"
                ng-disabled="!ticketServiceView.Ticket.Any() || wagerTypesServiceView.IsParlay() || wagerTypesServiceView.IsActionReverse() || ticketServiceView.IsOpenPlays()"
                format-number />
            </div>
            <span ng-show="!ticketServiceView.Ticket.Posted() && !ticketServiceView.Ticket.WagerItems[0].IsOk" ng-bind="Translate('Line changed')"></span>
          </div>
          <div class="tik-amount tik-passw" ng-if="ShowPasswordInput() && !ticketServiceView.Ticket.Posted()">
            <form autocomplete="nope">
              <input id="user_fake" type="text" style="display: none; height: 0; background: transparent; color: transparent; border: none;" data-description="dummyUsername">
              <p ng-bind="Translate('Enter_Password')"></p>
              <input class="form-control" type="password" ng-model="ticketServiceView.Ticket.Password" placeholder="{{Translate('Password')}}" autocomplete="nope" readonly="" onfocus="javascript: this.removeAttribute('readonly');">
            </form>
          </div>

          <div class="autoacceptchang" ng-if="!ticketServiceView.Ticket.Posted()">
            <input type="checkbox" id="AutoAcceptChang" ng-model="customerServiceView.AutoAccept" ng-change="AutoAcceptSwitch()"><label for="AutoAcceptChang">
              <span class="teaserInfo" data-toggle="tooltip" data-placement="bottom" title="Auto Accept Line Changes will take effect during this session only, You can lock this feature permanently in settings." ng-bind="Translate('Auto Accept Changes')"></span>
            </label>
          </div>

          <button type="button" class="btn btn-placebet"
            ng-click="ProcessTicket()"
            ng-disabled="!IsSafeToPostTicket()"
            ng-show="!ticketServiceView.Ticket.Posted() && ShowProcessButton() && !IsMobileDevice" ng-bind="Translate('Place_Bet')">
          </button>

          <button type="button" class="btn btn-placebet"
            ng-click="PreProcessTicket()"
            ng-disabled="!IsSafeToPostTicket()"
            ng-show="!ticketServiceView.Ticket.Posted() && ShowContinue()" ng-bind="Translate('Continue')">
          </button>
        </div>
      </div>
      <div id="errorMessage" class="ticket tik-msg-err" ng-if="ErrorMessage != ''">
        <div class="tik-head">
          <button class="tik-close" aria-hidden="true" type="button" ng-click="CloseAlertBox()">×</button>
          <span ng-bind="Translate('Error')"></span>
        </div>
        <div class="tik-body" ng-bind="ErrorMessage"></div>
      </div>

      <a class="btn btn-small btn-default btn-remove" ng-click="RemoveAllWagerItems()" ng-show="!ticketServiceView.Ticket.Posted() && ticketServiceView.Ticket.Any() && !IsMobileDevice" ng-bind="Translate('Remove_All')"></a>
      <a href="#" id="aScroll"></a>
      <a href="" class="btn btn-small btn-default btn-openbets" ng-show="ticketServiceView.Ticket.Posted() && !IsMobileDevice" ng-click="ShowDialog('pending')" ng-bind="Translate('View Open Bets')"></a>
      <div class="ads" style="margin-top: 10px;" ng-show="ticketServiceView.Ticket.WagerItems.length < 3 && !IsMobileDevice">
        <iframe ng-show="BlackJackVisible" id="bjFrame" scrolling="no" style="overflow: hidden;" frameborder="0" width="100%" height="390px"></iframe>
      </div>

      <div class="ads" style="margin-top: 10px;" ng-repeat="b in Banners" ng-show="ticketServiceView.Ticket.WagerItems.length < 3 && !IsMobileDevice">
        <a href="#">
          <img ng-src="{{b.Image}}" ng-if="BannerActive(b)" ng-click="BannerAction(b)" /></a>
      </div>

    </div>
  </div>
  <div class="modal-footer" ng-show="IsMobileDevice" ng-class="{'modal-openspot' : ticketServiceView.IsOpenPlays() && ticketServiceView.openPlaysVal.value != 999}">
    <div class="row">
      <div class="col-xs-12" ng-if="ticketServiceView.openPlaysVal.value != 999 && ticketServiceView.IsOpenPlays()">
        <button type="button" ng-show="!ticketServiceView.Ticket.Posted() && ticketServiceView.Ticket.Any()" class="btn btn-cancelbet" data-dismiss="modal" ng-bind="PendingOpenBets()"></button>
      </div>
      <div class="col-xs-6">
        <button type="button" ng-click="CancelAction(true)" ng-show="!ticketServiceView.Ticket.Posted() && ticketServiceView.Ticket.Any()" class="btn btn-cancelbet" data-dismiss="modal" ng-bind="Translate('Cancel')"></button>
        <a href="#/openBets" class="btn btn-small btn-default btn-openbets" ng-show="ticketServiceView.Ticket.Posted() && IsMobileDevice" ng-click="OpenBets()" ng-bind="Translate('View Open Bets')"></a>
      </div>
      <div class="col-xs-6 no-padding-left">
        <button type="button" ng-click="ProcessTicket()" ng-class="{'btn-disabled': !IsSafeToPostTicket()}" ng-show="!ticketServiceView.Ticket.Posted() && ShowProcessButton()" class="btn btn-placebet ng-binding" ng-bind="Translate('Place_Bet')" onclick="return false;"></button>
        <button type="button" ng-click="PreProcessTicket()" ng-disabled="!IsSafeToPostTicket()" ng-show="!ticketServiceView.Ticket.Posted() && ShowContinue()" class="btn btn-placebet ng-binding" ng-bind="Translate('Continue')" onclick="return false;"></button>
        <a href="#/" class="btn btn-small btn-default btn-openbets" ng-show="ticketServiceView.Ticket.Posted() && IsMobileDevice" ng-click="CloseDialog()" ng-bind="Translate('Continue')" onclick="return false;"></a>
      </div>
    </div>
  </div>

</div>
