﻿<!DOCTYPE html>
<html>
<head>
  <title>SID Socket Admin</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="SIDSocketAdminApp" ng-controller="SIDSocketAdminController">
  <div class="container">
    <h1>Users:</h1>
    <div class="row">
      <div id="faq" class="col-md-9">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default" ng-repeat="user in users">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                  href="#collapse-{{$index}}">Customer: <span ng-bind="user.CustomerId"></span>
                </a>
                <span class="pull-right">
                  Store: <span ng-bind="user.Store" style="font-weight: bold"></span>
                  Patform: <span ng-bind="user.Platform" style="font-weight: bold"></span>
                  <span class="badge" ng-bind="user.Subscriptions.length"></span>
                </span>
              </h4>
            </div>
            <div id="collapse-{{$index}}" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li ng-repeat="s in user.Subscriptions">
                    <div ng-if="s.SportType">
                      <span ng-bind="s.SportType"></span>- <span ng-bind="s.SportSubType"></span>
                    </div>
                    <div ng-if="s.ContestType">
                      <span ng-bind="s.ContestType"></span>- <span ng-bind="s.ContestType2"></span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="panel-footer" style="height: 40px;">
                <!--
                <div class="btn-group btn-group-xs">
                  <span class="btn">Was this question useful?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Yes</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i>No</a>
                </div>
                -->
                <div class="btn-group btn-group-xs pull-right">
                  <a class="btn btn-primary" href="#" ng-click="CloseCustomerSession(user.CustomerId)">Close Session</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/jquery/jquery-3.3.1.js"></script>
  <script src="assets/jquery.signalR-2.3.0.min.js"></script>
  <script src="assets/angular/angular.js"></script>

  <script src="app/app.js"></script>
  <script src="app/controllers.js"></script>
  <script src="app/webSocketService.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script>
    $('.carousel').carousel({
      interval: 3000
    })
  </script>

  <script src="signalr/hubs"></script>

</body>
</html>
