﻿<div class="reports-mob">
    <div class="page-content inset">
    <h2 class="line_title"><span class="center" ng-bind="Translate('GRADE RESULTS')"></span></h2>
          
<div class="daily_figures"  ng-show="!ShowGrades">

    <ul class="menu_weeks" data-tabs="tabs">
        <li id="liWeeks_2" ng-class="{'active': (Report.DailyFigures.WeekOffset + 1) == 3}" class=""><a href="#dailyFigures" data-toggle="tab" ng-click="ShowDailyFigures(2)">2 {{Translate("Weeks")}}<br />{{Translate("Ago")}}</a></li>
        <li id="liWeeks_1" ng-class="{'active': (Report.DailyFigures.WeekOffset + 1) == 2}" class=""><a href="#dailyFigures" data-toggle="tab" ng-click="ShowDailyFigures(1)">{{Translate("Last")}}<br />{{Translate("Week")}}</a></li>
        <li id="liWeeks_0" ng-class="{'active': (Report.DailyFigures.WeekOffset + 1) == 1}" class="active"><a href="#dailyFigures" data-toggle="tab" ng-click="ShowThisWeek()">{{Translate("This")}}<br />{{Translate("Week")}}</a></li>
    </ul>
                
    <div class="report_dates">
        <a id="aLeftArrow" class="arrow_left" href="#dailyFigures" ng-click="ShowPreviousWeek()"></a>
        {{ShowShortDate(0)}} - {{ShowShortDate(6)}}
        <a id="aRightArrow" class="arrow_right" href="#dailyFigures" ng-click="ShowNextWeek()"></a>                            
    </div>
                
    <!-- panel group -->
    <div id="" class="report-tab-content">
    
        <!-- THIS WEEK -->
        <div class="tab-pane active" id="thisWeek">                    

            <div class="row verticalspace">
                <div class="col-xs-6" ng-bind="Translate('Starting Bal')">
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-class="{num_neg: ShowStartingBalance() < 0, num_zero: ShowStartingBalance() == 0, num_pos: ShowStartingBalance() > 0}" ng-bind="ShowStartingBalance() | dollar"></span>
                </div>
            </div>  
        
            <div class="row verticalspace">
                <div class="col-xs-6" ng-bind="Translate('Other trns')">
                </div>
                <div class="col-xs-6 text-right">
                    <span ng-class="{num_zero: ShowCashInOutTotal() == 0}" ng-bind="ShowCashInOutTotal() | dollar"></span>
                </div>
            </div>
                        
            <hr class="divider" />
        
            <div class="row verticalspace">
                <div class="col-xs-3">
                </div><!-- /.col-lg-6 -->
                <div class="col-xs-3 text-right" ng-bind="Translate('Win') + '/' + Translate('Loss')">
                </div><!-- /.col-lg-6 -->
                <div class="col-xs-3 text-right" ng-bind="Translate('Cash In/Out')">
                </div><!-- /.col-lg-6 -->
                <div class="col-xs-3 text-right" ng-bind="Translate('Balance')">
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->    
            <div class="row verticalspace">
                <div class="col-xs-3">
                    <span ng-class="" class="rep_day">{{Translate('Mon')}}</span> {{ShowDateNumber(0)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[0].hasValue, num_neg: DailyWinLossList[0].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[0].value | dollar" ng-click="ShowMoreDetails(0, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[0].hasValue, num_neg: DailyCashInOutList[0].value < 0,  num_pos: DailyCashInOutList[0].value >= 0}" ng-bind="DailyCashInOutList[0].value | dollar" ng-click="ShowMoreDetails(0, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[0].hasValue, num_neg: DailyBalanceList[0].value < 0,  num_pos: DailyBalanceList[0].value >= 0}" ng-bind="DailyBalanceList[0].value | dollar" ng-click="ShowMoreDetails(0, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->        
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Tue')}}</span> {{ShowDateNumber(1)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[1].hasValue, num_neg: DailyWinLossList[1].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[1].value | dollar" ng-click="ShowMoreDetails(1, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[1].hasValue, num_neg: DailyCashInOutList[1].value < 0,  num_pos: DailyCashInOutList[1].value >= 0}" ng-bind="DailyCashInOutList[1].value | dollar" ng-click="ShowMoreDetails(1, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[1].hasValue, num_neg: DailyBalanceList[1].value < 0,  num_pos: DailyBalanceList[1].value >= 0}" ng-bind="DailyBalanceList[1].value | dollar" ng-click="ShowMoreDetails(1, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Wed')}}</span> {{ShowDateNumber(2)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[2].hasValue, num_neg: DailyWinLossList[2].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[2].value | dollar" ng-click="ShowMoreDetails(2, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[2].hasValue, num_neg: DailyCashInOutList[2].value < 0,  num_pos: DailyCashInOutList[2].value >= 0}" ng-bind="DailyCashInOutList[2].value | dollar" ng-click="ShowMoreDetails(2, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[2].hasValue, num_neg: DailyBalanceList[2].value < 0,  num_pos: DailyBalanceList[2].value >= 0}" ng-bind="DailyBalanceList[2].value | dollar" ng-click="ShowMoreDetails(2, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row --> 
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Thu')}}</span> {{ShowDateNumber(3)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[3].hasValue, num_neg: DailyWinLossList[3].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[3].value | dollar" ng-click="ShowMoreDetails(3, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[3].hasValue, num_neg: DailyCashInOutList[3].value < 0,  num_pos: DailyCashInOutList[3].value >= 0}" ng-bind="DailyCashInOutList[3].value | dollar" ng-click="ShowMoreDetails(3, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[3].hasValue, num_neg: DailyBalanceList[3].value < 0,  num_pos: DailyBalanceList[3].value >= 0}" ng-bind="DailyBalanceList[3].value | dollar" ng-click="ShowMoreDetails(3, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->  
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Fri')}}</span> {{ShowDateNumber(4)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[4].hasValue, num_neg: DailyWinLossList[4].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[4].value | dollar" ng-click="ShowMoreDetails(4, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[4].hasValue, num_neg: DailyCashInOutList[4].value < 0,  num_pos: DailyCashInOutList[4].value >= 0}" ng-bind="DailyCashInOutList[4].value | dollar" ng-click="ShowMoreDetails(4, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[4].hasValue, num_neg: DailyBalanceList[4].value < 0,  num_pos: DailyBalanceList[4].value >= 0}" ng-bind="DailyBalanceList[4].value | dollar" ng-click="ShowMoreDetails(4, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->   
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Sat')}}</span> {{ShowDateNumber(5)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[5].hasValue, num_neg: DailyWinLossList[5].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[5].value | dollar" ng-click="ShowMoreDetails(5, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[5].hasValue, num_neg: DailyCashInOutList[5].value < 0,  num_pos: DailyCashInOutList[5].value >= 0}" ng-bind="DailyCashInOutList[5].value | dollar" ng-click="ShowMoreDetails(5, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyBalanceList[5].hasValue, num_neg: DailyBalanceList[5].value < 0,  num_pos: DailyBalanceList[5].value >= 0}" ng-bind="DailyBalanceList[5].value | dollar" ng-click="ShowMoreDetails(5, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->  
            <div class="row verticalspace">
                <div class="col-xs-3">
                <span class="rep_day">{{Translate('Sun')}}</span> {{ShowDateNumber(6)}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                    <span ng-class="{num_zero: !DailyWinLossList[6].hasValue, num_neg: DailyWinLossList[6].value < 0,  num_pos: DailyWinLossList[0].value >= 0}" ng-bind="DailyWinLossList[6].value | dollar" ng-click="ShowMoreDetails(6, 'winloss')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                  <span ng-class="{num_zero: !DailyCashInOutList[6].hasValue, num_neg: DailyCashInOutList[6].value < 0,  num_pos: DailyCashInOutList[6].value >= 0}" ng-bind="DailyCashInOutList[6].value | dollar" ng-click="ShowMoreDetails(6, 'cashintout')"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">                   
                    <span ng-class="{num_zero: !DailyBalanceList[6].hasValue, num_neg: DailyBalanceList[6].value < 0,  num_pos: DailyBalanceList[6].value >= 0}" ng-bind="DailyBalanceList[6].value | dollar" ng-click="ShowMoreDetails(6, 'bal')"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->  
                        
            <hr class="divider" />
        
            <div class="row verticalspace">
                <div class="col-xs-3" ng-bind="Translate('This week')">
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                <span ng-class="{num_neg: ShowWinLossTotal() < 0, num_zero: ShowWinLossTotal() == 0, num_pos: ShowWinLossTotal() > 0}" ng-bind="ShowWinLossTotal() | dollar"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                <span ng-class="{num_neg: ShowCashInOutTotal() < 0, num_zero: ShowCashInOutTotal() == 0, num_pos: ShowCashInOutTotal() > 0}" ng-bind="ShowCashInOutTotal() | dollar"></span>
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                <span ng-class="{num_zero: !DailyBalanceList[6].hasValue, num_neg: DailyBalanceList[6].value < 0,  num_pos: DailyBalanceList[6].value >= 0}" ng-bind="DailyBalanceList[6].value | dollar"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->   
            <div class="row verticalspace">
                <div class="col-xs-3">
                {{Translations.OVERALL_FIGURE}}
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                </div><!-- /.col-lg-3 -->
                <div class="col-xs-3 text-right">
                <span ng-class="{num_zero: EndingBalance == 0, num_neg: EndingBalance < 0,  num_pos: EndingBalance > 0}" ng-bind="EndingBalance | dollar"></span>
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->   

        </div>                   
    </div>
    <!-- end panel group -->
    
    <div class="collapse" id="monday">
        </div>
</div>


<div class="GradedResults" class="page-content inset ng-scope" ng-show="(Report.TransactionsByDate.length > 0 || Report.CashTransactions.length > 0) && ShowGrades">

    <div class="graded_results">
        <div class="ticket-header graded-title">
            <div class="row">
                <div class="col-xs-8 col-sm-9">
                    <h3 ng-bind="Translate('Transactions for') + ' ' + TransactionDate"></h3>
                </div>
                <div class="col-xs-4 col-sm-3 won-lost">
                    <span class="" ng-bind="Translate('WON')"></span>/ <span class="num_neg" ng-bind="Translate('LOST')"></span>
                </div>
            </div>
        </div>
        <!-- /.graded title -->

        <div class="ticket" ng-repeat="t in Report.TransactionsByDate">
            <div class="ticket-header">
                <div class="row">
                    <div class="col-xs-8 col-sm-9">
                        <h3><span ng-bind="t.DocumentNumber + '' + t.WagerNumber"></span><span class="tik-wagertype" ng-bind="Translate(WagerType(t)) || Translate(t.TranType.name) || t.ShortDesc" class="ng-binding"> </span></h3>
                        <span ng-bind="t.ShortDesc"></span>
                    </div>

                    <div class="col-xs-4 col-sm-3 won-lost">
                        <span class="num_neg" ng-class="{num_black: t.TranType.code == 'D' || t.TranType.code == 'C'}" ng-if="t.TranCode == 'D'">$-<format-num num="{{t.Amount}}" divide /></span>
                        <span class="num_pos" ng-class="{num_black: t.TranType.code == 'D' || t.TranType.code == 'C'}" ng-if="t.TranCode == 'C' || t.TranCode == 'X'">$<format-num num="{{t.Amount}}" divide /></span>
                    </div>
                </div>
            </div>
            <!-- panel group -->
            <div id="ticket-body-{{$index}}" class="ticket-body in">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="" ng-repeat="ti in t.Items">
                            <div class="row">
                                <div class="col-xs-1 visible-xs">
                                </div>
                                <div class="col-xs-10 col-sm-12 no-padding-xs">
                                    <a href="#dailyFigures" ng-show="t.Items.length > 0 && t.WagerType != 'C' && t.TranType != 'C' && t.TranType != 'D'" class="icon_viewresults" onclick="changeIcon(this)" ng-class="{pendingWager: ti.Outcome == 'P'}" role="button" data-toggle="collapse" data-target="#resultsf_{{$parent.$index}}_{{$index}}" aria-expanded="false" aria-controls="collapseExample"></a>
                                    <div class="team_rot">
                                        <strong ng-class="{num_neg: ti.Outcome == 'LOST', num_pos: ti.Outcome == 'WON'}" ng-bind="Translate(ti.Outcome) + ' '"></strong>
                                    </div>
                                    <div class="team_rot">
                                        <span ng-show="ti.FreePlayFlag == 'Y'" ng-bind="'***'+Translate('Free play') + '*** '"></span>
                                        <span ng-bind="GetWagerItemDescription(ti.Description, $index)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse" id="resultsf_{{$parent.$index}}_{{$index}}" ng-show="ti.Outcome != 'P'">

                                <div class="row">
                                    <div class="col-xs-1 visible-xs">
                                    </div>
                                    <div class="col-xs-10 col-sm-12 no-padding-xs">

                                        <div class="well well-sm">
                                            <b style="font-weight: bold" ng-bind="Translate('Game_Results')"></b>
                                            <span ng-bind="ScoredPtsHeader(ti)"></span>
                                            <br />
                                            <span ng-bind="WriteTeamsScores(ti)"></span>
                                            <br />
                                            <span ng-bind="WriteWinner(ti)"></span>
                                            <b ng-bind="Translate('Game Notes')" ng-show="ti.Comments"></b>
                                            <span ng-show="ti.Comments">{{ti.Comments}}</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ticket-header graded-summary-total">
            <div class="row">
                <div class="col-xs-8 col-sm-9 won-lost">Total</div>
                <div class="col-xs-4 col-sm-3 won-lost"><span ng-class="{'num_neg': Total < 0}"><span ng-bind="Total | dollar"></span></span></div>
            </div>
        </div>
    </div>
    </div>

    <div ng-show="ShowGrades" class="foo_continue" id="Div1">
        <div class="continue">
            <button  type="button" class="btn btn-continue" ng-click="HideGrades()" ng-bind="Translate('BACK TO DAILY FIGURES')"></button>
        </div>
    </div>

</div>

</div>