﻿<div class="reports-mob">

    <div class="page-content inset">

    <h2 class="line_title" bind-once><span class="center" ng-bind="Translate('OPEN_BETS_FOR') + ' ' + Customer.Info.CustomerID"></span></h2>
    <div class="ticket" ng-show="Report.OpenBets.length == 0" ng-bind="Translate('NO WAGERS PENDING')"></div>
    <div class="open_bets">
        <div class="ticket" ng-repeat ="oB in Report.OpenBets">
            <div class="ticket-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-5">
                    <h3>{{WagerType(oB)}}<span>{{Translations.TIK}}# {{oB.TicketNumber}}-{{oB.WagerNumber}}{{GetWagerStatus(oB)}}</span></h3>
                        {{FormatDateTime(oB)}}
                        <span ng-if="oB.WagerType == 'A'"><br /><strong style="text-transform: uppercase; color: #337AB7; float: left; margin-right: 5px; font-weight: bold;" ng-bind="WriteWagerStatus(oB.WagerStatus) + ' '"></strong></span>
                    </div>                           
                    <div class="col-xs-6 col-sm-6 text-right">
                        <div class="risk-amount">
                            {{Translate('RISK')}}<fpLabel ng-show="oB.FreePlayFlag == 'Y'"> ({{Translate("FP")}})</fpLabel> <span> $<format-num num="{{oB.AmountWagered}}" divide /></span>
                        </div>
                        <div class="win-amount">
                            {{Translate('WIN')}}<span> $<format-num num="{{oB.ToWinAmount}}" divide /></span>
                        </div>
                    </div>
                    <div class="col-sm-1 text-center hidden-xs">
                        <a class="" href="#" onclick="return false;" data-toggle="collapse" data-target="#ticket-body-{{$index}}"><span class="collapse_btn"></span></a>
                    </div>
               </div>                               
            </div>       
            <!-- panel group -->
            <div id="ticket-body-{{$index}}" class="ticket-body in">

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div id="ticket-body-{{$index}}m">
                        
                            <div class="row" ng-repeat="oBi in oB.Items">
                                <div class="col-xs-1 visible-xs">
                                    <a ng-show="oBi.Outcome == 'P' && oBi.WagerType != 'A'" class="icon_viewresults" ng-class=" { pendingWager: oBi.Outcome == 'P' }" href="#" data-toggle="modal" data-target="#openBetItemDetails_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}"></a>
                                </div>
                                <div class="col-xs-10 col-sm-12 no-padding-xs" ng-if="oBi.WagerType == 'A'">
                                    <div class="team_rot">{{WriteChosenTeamId(oBi)}}</div>
                                </div>
                                <div class="col-xs-10 col-sm-12 no-padding-xs" ng-if="oBi.WagerType != 'A'"> 
                                    <a ng-show="oBi.WagerType != 'C'" class="icon_viewresults hidden-xs" ng-class=" { pendingWager: oBi.Outcome == 'P' }" href="" data-toggle="modal" data-target="#openBetItemDetails_{{oB.TicketNumber}}_{{$index}}"></a>
                                    <strong style="text-transform: uppercase; color: #337AB7; float: left; margin-right: 5px; font-weight: bold;" ng-bind="Translate(oBi.Result) + ' '"></strong>
                                    <!--<div class="team_rot"><span class="line-rot-num" ng-show="oBi.WagerType != 'C'">{{oBi.SportType}} </span> {{WriteChosenTeamId(oBi)}}</div>-->
                                    <div class="team_line">{{GetWagerItemDescription(oBi.Description, $index)}}</div>
                                    <!--<br/><span class="team_line" ng-show="oBi.SportType == 'Baseball'">{{WritePitchersInfo(oBi)}}</span>-->
                                </div>     
                                
                                <div class="modal fade" id="openBetItemDetails_{{oB.TicketNumber}}_{{$index}}" role="dialog">
    	                            <div class="modal-dialog">
    		                            <div class="modal-content">
    		                                <div class="modal-header">
    		                                    <div class="bootstrap-dialog-header">
    		                                        <span ng-show="oBi.Team1ID != null && oBi.Team1ID != ''" ng-bind="oBi.Team1ID + ' vs ' + oBi.Team2ID"></span><br />
    		                                        <span ng-show="!(oBi.Result == 'WON' || oBi.Result == 'LOST')" ng-bind="Translate('Event date') + ': ' + FormatDateTime(oBi.EventDateTime, 12)"></span>
    		                                        <div class="bootstrap-dialog-close-button" style="display: block;">
    		                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
    		                                        </div>
    		                                    </div>
    		                                </div>
    			                            <div class="modal-body">
    			                                <div class="xtrainfo">
    			                                    <span ng-show="(oBi.Result == 'WON' || oBi.Result == 'LOST')" ng-bind="ScoredPtsHeader(oBi)"></span><br />
    			                                    <span ng-show="(oBi.Result == 'WON' || oBi.Result == 'LOST')" ng-bind="WriteTeamsScores(oBi)"></span>
    			                                </div>
    			                            </div>
    		                            </div>
    	                            </div>
                                </div>
                                  
                            </div>
                            <div class="row">
                                <div class="col-xs-12 openspot">
                                    <button ng-if="oB.WagerStatus == 'O' && GetCustomerRestriction(oB.WagerType == 'P' ? 'PLOPEN' : 'TEOPEN')" type="button" class="btn btn-small btn-openspot active" ng-bind="OpenButtonText(oB.totalPicks, oB.Items.length)" ng-click="SelectOpenWager(oB)"></button> 
                                </div>
                            </div>     
                                                                                      
                        </div>
                    </div>
                    <div class="col-xs-2 visible-xs text-center">
                        <a href="#" data-toggle="collapse" data-target="ticket-body-{{$index}}m"><span class="collapse_btn"></span></a>
                    </div>   
                </div>  
                    
            </div>
        </div>
    </div>   

    </div>

</div>