﻿<a id="menu-toggle" href="" class="icon_menu" ng-click="ToggleMenu()"><span class="icon-menu"></span></a>
<div class="uinfo">
    <div class="user"><span ng-bind="Translate('USER')"></span> <span class="user-id" ng-bind="Customer.Info.CustomerID.replace('TW','')"> </span></div>
   
    <div class="balance"><a href="#/dailyFigures" ng-click="CollapseCustomerBalanceInfo()"><span ng-bind="Translate('BALANCE')"></span><format-num ng-bind="Customer.Balances.CurrentBalance | dollar"></format-num></a></div>
</div>
<a href="" class="icon_more" data-toggle="collapse" data-target="#custBalInfo"><span class="icon-more"></span></a>
<div id="custBalInfo" class="collapse uinfopanel">
    <div class="row">
        <div>
            <p><span ng-bind="Translate ('AVAIL BAL')"></span> <small ng-bind="Customer.Balances.AvailableBalance | dollar"></small></p>
            <p><span ng-bind="Translate ('CR. LIMIT')"></span><small ng-bind="Customer.Info.CreditLimit | dollar"></small></p>
        </div>
        <div>
            <p><a href="#/openBets" ng-click="CollapseCustomerBalanceInfo()"><span ng-bind="Translate ('PENDING')"></span> <small ng-bind="Customer.Balances.PendingWagerBalance | dollar"></small></a></p>
            <p><span ng-bind="Translate ('NP CASINO')"></span> <small ng-bind="Customer.Balances.CasinoBalance | dollar"></small></p>
        </div>
    </div>
</div>