﻿<div class="dashbwrapper">
    <div class="allscrll">

        <div class="" ng-show="CustomerList.length == 0" ng-bind="">
            {{Translate('No Customers To Show')}}
        </div>

        <div class="data-filters">
            <div class="row">
                <div class="col-md-6 col-sm-5 col-xs-6 no-padding">
                    <h3>{{Translate('Customer Maintenance')}} <span class="visible-print">{{Translate('for')}} {{AgentAsCustomerInfo.CustomerID}}</span><span><a class="print-icon hidden-print hidden-xs" onclick="window.print();"></a></span></h3>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-6 text-right no-padding">
                    <form class="form-inline hidden-print">
                        <div class="form-group">
                            <label class="hidden-xs">{{Translate('Filters')}}</label>
                            <select class="form-control" ng-model="ReportFilters.CustomerStatus" ng-init="ReportFilters.CustomerStatus = 'X'" ng-change="OnFilterChanged()">
                                <option value="X">{{Translate('All')}}</option>
                                <option value="A">{{Translate('Access')}}</option>
                                <option value="I">{{Translate('Not access')}}</option>
                            </select>
                            <!--<select class="form-control" ng-model="ReportFilters.WeekNumber" ng-change="GetCustomersList()" ng-options="wR.DateRange for wR in WeeksRange"></select>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="data-component-summary">
            <div class="row">
                <div class="col-sm-3 col-xs-6 no-padding col-print-3">
                    <span class="icon-cust-maint"></span><span class="d-numb" ng-bind="Players.ActivePlayers"></span>{{Translate('Access Enabled')}}
                </div>
                <div class="col-sm-3 col-xs-6 col-print-3">
                    <span class="icon-cust-maint"></span><span class="d-numb" ng-bind="Players.InactivePlayers"></span>{{Translate('Access Disabled')}}
                </div>
            </div>
        </div>

    <div class="data-component cust-maint" ng-repeat="aL in AgentsList" id="custContainer_{{$index}}">
      <h2 ng-class="{'hidden-print' : AgentType != 'M'}"><span ng-bind="aL.AgentId" ng-show="AgentAsCustomerInfo.AgentType != 'A'"></span></h2>

            <div class="CircleLegend hidden-print">
                <i class="CircleLow">{{Translate('Indicates Temp. Limit')}}</i>
            </div>

            <table class="tablesaw" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap ng-if="!LoadingReportData">
                <thead class='header'>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Id</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist" data-tablesaw-sortable-default-col data-tablesaw-priority="3" class="hidden-xs">{{Translate('Password')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="2" class="text-right">{{Translate('Pending Bal')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="2" class="text-right">{{Translate('Non posted casino')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="4" class="text-right">{{Translate('Current Bal')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6" class="text-right">{{Translate('Last Wager')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="7" class="text-right">{{Translate('Credit Limit')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="7" class="text-right">{{Translate('Wager Limit')}}</th>
                        <th scope="col" data-tablesaw-sortable-col data-sortable-numeric data-tablesaw-priority="7" class="text-right">{{Translate('Settle Figure')}}</th>
          <th scope="col" data-tablesaw-priority="8" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Site Access"><span class="icon-userallow" id="WAGERING" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('WAGERING', 'Wagering', aL.CustomersList)"></span></span></th>
          <th scope="col" data-tablesaw-priority="9" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Wagering Access"><span class="icon-sports" id="NOWAGERING" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('NOWAGERING', 'Sports', aL.CustomersList)"></span></span></th>
          <th scope="col" data-tablesaw-priority="10" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Horses Access"><span class="icon-horses" id="HORSES" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('HORSES', 'Horses', aL.CustomersList)"></span></span></th>
          <th scope="col" data-tablesaw-priority="11" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Casino Access"><span class="icon-casino" id="VCASINO" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('VCASINO', 'Virtual Casino', aL.CustomersList)"></span></span></th>
          <!--<th scope="col" data-tablesaw-priority="12" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Mini BlackJack Access"><span class="icon-blackjack" id="MINIBJ" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('MINIBJ', 'Black Jack', aL.CustomersList)"></span></span></th>-->
                        <!--th scope="col" data-tablesaw-priority="13" class="text-center"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Live Dealer"><span class="icon-livedealer"></span></span></th-->
          <th scope="col" data-tablesaw-priority="14" class="text-center hidden-print"><span class="icon-container" data-toggle="tooltip" data-placement="bottom" title="Live Betting Access"><span class="icon-lb" id="LBETTING" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('LBETTING', 'Live Betting', aL.CustomersList)"></span></span></th>
                    </tr>
                </thead>
        <tbody>
            <tr ng-repeat="cL in ( sortedCustomer = (aL.CustomersList | filter:ReportFilter(aL.CustomersList, cL)))" table-saw>
                <!--ng-bind="cL.CustomerId"-->
                <td class="title"><a href="#" onclick="return false;" ng-click="ShowCustomerDialog(cL,1)" ng-bind="cL.CustomerId | RemoveIdString:'TW'"></a></td>
                <!--td class="title"><a href="#" onclick="return false;" ng-click="ShowCustomerDialog(cL,1)" ng-bind="cL.CustomerId" class="btn-is-disabled"></a></td-->
                <td class="hidden-xs"><span ng-bind="cL.password"></span></td>
                <td class="text-right">
                    <span ng-show="cL.PendingWagerBalance == 0" ng-bind="cL.PendingWagerBalance | formatNumber"></span>
                    <a ng-show="cL.PendingWagerBalance != 0" href="#" onclick="return false;" ng-click="ShowCustomerDialog(cL,3, cL.CustomerId)" ng-disabled="cL.PendingWagerBalance == 0" ng-bind="cL.PendingWagerBalance | formatNumber" class="btn-is-disabled"></a>
                </td>
                <td class="text-right"><span ng-bind="cL.CasinoBalance | formatNumber"></span></td>
                <td class="text-right"><span ng-bind="cL.CurrentBalance | formatNumber" ng-class="{num_neg: cL.CurrentBalance < 0, num_zero: cL.CurrentBalance == 0}"></span></td>
                <td class="text-right"><span ng-bind="FormatDateTime(cL.Lastplay, 4)"></span></td>
                <td class="text-right">
                    <span class="temp_credit" ng-show="cL.CreditIncrease > 0" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="<b>{{Translate('Temp. Limit:')}}</b>  {{cL.CreditIncrease | formatNumber: true}} <br/><b>{{Translate('Until:')}}</b> {{FormatDateTime(cL.TempCreditAdjExpDateString, 4)}}" data-html="true">
                        <i></i><span ng-if="cL.CreditIncrease > 0" ng-bind="cL.CreditIncrease + cL.CreditLimit | formatNumber"></span>
                    </span>
                    <span ng-if="cL.CreditIncrease == 0" ng-bind="cL.CreditLimit | formatNumber:true:true:false"></span>
                </td>
                <td class="text-right"><span ng-bind="WagerLimit(cL) | formatNumber:true:true:false"></span></td>
                <td class="text-right"><span ng-bind="cL.SettleFigure | formatNumber:false:true:false"></span></td>
                <td class="hidden-print">
                    <div class="restrictions" ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering}">
                        <input type="checkbox" id="WAGERING_{{$index}}" ng-model="cL.WageringActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.WageringActive, $parent.$index, 'WageringActive')" ng-disabled="!SuspendWagering">
                        <label for="WAGERING_{{$index}}"></label>
                    </div>
                </td>
                <td class="hidden-print">
                    <div class="restrictions" ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering }">
                        <input type="checkbox" id="NOWAGERING_{{$index}}" ng-model="cL.NoWagering" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.NoWagering, $parent.$index, 'NoWagering')">
                        <label for="NOWAGERING_{{$index}}"></label>
                    </div>
                </td>
                <td class="hidden-print">
                    <div class="restrictions" ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering }">
                        <input type="checkbox" id="HORSES_{{$index}}" ng-model="cL.HorsesActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.HorsesActive, $parent.$index, 'HorsesActive')">
                        <label for="HORSES_{{$index}}"></label>
                    </div>
                </td>
                <td class="hidden-print">
                    <div class="restrictions" ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering }">
                        <input type="checkbox" id="VCASINO_{{$index}}" ng-model="cL.VirtualCasinoActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.VirtualCasinoActive, $parent.$index, 'VirtualCasinoActive')">
                        <label for="VCASINO_{{$index}}"></label>
                    </div>
                </td>
                <!--<td class="hidden-print">
                        <div class="restrictions"  ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering }">
                            <input type="checkbox" id="MINIBJ_{{$index}}" ng-model="cL.MiniBJActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.MiniBJActive, $parent.$index, 'MiniBJActive')">
                            <label for="MINIBJ_{{$index}}"></label>
                        </div>
                    </td>-->
                <!--td>
                    <div class="restrictions">
                        <input type="checkbox" id="LDEALER_{{$index}}" ng-model="cL.LiveDealerActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event)">
                        <label for="LDEALER_{{$index}}"></label>
                    </div>
                </td-->
                <td class="hidden-print">
                    <div class="restrictions" ng-class="{'rest_disable' : ReportFilters.CustomerStatus != 'X' || !SuspendWagering }">
                        <input type="checkbox" id="LBETTING_{{$index}}" ng-model="cL.LiveBettingActive" ng-click="UpdateCustomerAccess(cL.CustomerId, $event, cL.LiveBettingActive, $parent.$index, 'LiveBettingActive')">
                        <label for="LBETTING_{{$index}}"></label>
                    </div>
                </td>

            </tr>
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade printable" id="ModalCust_req">
                <div class="modal-dialog">

                    <div class="modal-content">

                        <!-- Modal DISABLE ALL -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title">{{Translate('Customer Settings')}}</h1>
                        </div>
                        <div ng-if="ReportFilters.CustomerStatus != 'X'">
                            <div class="modal-body">
                                <h3>{{Translate('Change accounts status disable')}}</h3>
                                <br />
                                <p>{{Translate('Change the filter to -ALL- to change staus')}}</p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">{{Translate('OK')}}</button>
                            </div>
                        </div>
                        <div ng-if="ReportFilters.CustomerStatus == 'X'">
                            <div class="modal-body">
                                <h3>{{Translate('Disable All Accounts')}}</h3>
                                <br />
                                <p>{{Translate('Do you want to')}} {{Status}} {{Translate('all accounts for')}} {{RestricionName}}</p>
                            </div>
                            <div class="modal-footer">
                                <confirm ng-show="Status == 'disable'">

                                    <button type="button" class="btn btn-default" data-dismiss="mosdal">{{Translate('No')}}</button>
                                    <button type="button" class="btn btn-primary" ng-click="UpdateAllCustomersAccess(false)" data-dismiss="modal">{{Translate('Yes')}}</button>
                                </confirm>
                                <confirm ng-show="Status == 'enable'">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{Translate('No')}}</button>
                                    <button type="button" class="btn btn-primary" ng-click="UpdateAllCustomersAccess(false)" data-dismiss="modal">{{Status}} {{Translate('all accounts')}}</button>
                                    <button type="button" class="btn btn-primary" ng-click="UpdateAllCustomersAccess(true)" data-dismiss="modal">{{Translate('previous state')}}</button>
                                </confirm>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>