﻿<div class="dashbwrapper">
    <div id="div_sport" class="allscrll">

        <div class="data-filters">
            <div class="row">
                <div class="col-md-6 col-sm-5 col-xs-6 no-padding">
                    <h3>{{Translate('Wager Limits for')}} {{Selection.Customer.CustomerId | RemoveIdString:'TW'}}</h3>
                    <p>({{Translate('Current Limit')}})</p>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-6 text-right no-padding">

                    <form class="form-inline">
                        <div class="form-group">
                            <label class="hidden-xs" for="">{{Translate('Choose an account:')}}</label>
                            <select class="form-control" ng-options="t as t.DisplayCustomerId for t in ActionCustomers | filter : $searchTerm " ng-model="Selection.Customer" ng-init="Selection.Customer=ActionCustomers[0]" ng-change="GetSportsLimits(Selection.Customer.CustomerId)">
                        </select>
            </div>

                <div class="form-group">
                    <label class="hidden-xs" for="exampleInputName2">Sport</label>
                    <select class="form-control" ng-model="SportType" ng-init="SportType = 'Baseball'" ng-change="GetSportsLimits(Selection.Customer.CustomerId)">
                        <option value="Baseball">{{Translate('Baseball')}}</option>
                        <option value="Basketball">{{Translate('Basketball')}}</option>
                        <option value="Football">{{Translate('Football')}}</option>
                        <option value="Hockey">{{Translate('Hockey')}}</option>
                        <option value="Soccer">{{Translate('Soccer')}}</option>
                        <option value="Other Sports">{{Translate('Other Sports')}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="hidden-xs" for="exampleInputName2">Period</label>
                    <select class="form-control" ng-model="PeriodNumber" ng-init="PeriodNumber = '0'" ng-change="GetSportsLimits(customer.CustomerId)">
                        <option value="0">{{Translate('Game')}}</option>
                        <option value="1">{{Translate('1st Half')}}</option>
                        <option value="2">{{Translate('2nd Half')}}</option>
                    </select>
                </div>
            </form>

                </div>
            </div>
        </div>


        <div class="data-component">

            <table class="tablesaw wager-limits" cellpadding="0" cellspacing="0" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap ng-if="!LoadingReportData">
                <thead class='header'>
                    <tr>
                        <th class="cell-divider" data-tablesaw-priority="persist" ng-bind="SportType"></th>
                        <th class="text-center cell-divider" colspan="2">{{Translate('Spread or RunLine')}}
                        <br />
                            {{Translate('Call Unit / Internet')}}</th>
                        <th class="text-center cell-divider" colspan="2">{{Translate('Money Line')}}
                        <br />
                            {{Translate('Call Unit / Internet')}}</th>
                        <th class="text-center cell-divider" colspan="2">{{Translate('Total Points')}}
                        <br />
                            {{Translate('Call Unit / Internet')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="sportRow_{{sl.sportSubType.replace(' ', '').trim()}}" ng-repeat="sl in SportsLimits" ng-class="{'highlighted' : sl.Changed == true}" table-saw>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="cell-divider" ng-bind="Translate(sl.sportSubType)"></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right">(<span class="wag-limits" ng-bind="sl.cuStoreSpreadLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newCuSpreadLimit" placeholder="{{sl.cuSpreadLimit | formatNumber: true: false: false}}" /></span></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right cell-divider">(<span class="wag-limits" ng-bind="sl.inetStoreSpreadLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newInetSpreadLimit" placeholder="{{sl.inetSpreadLimit | formatNumber: true: false: false}}" /></span></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right">(<span class="wag-limits" ng-bind="sl.cuStoreMoneyLineLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newCuMoneyLineLimit" placeholder="{{sl.cuMoneyLineLimit | formatNumber: true: false: false}}" /></span></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right cell-divider">(<span class="wag-limits" ng-bind="sl.inetStoreMoneyLineLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newInetMoneyLineLimit" placeholder="{{sl.inetMoneyLineLimit | formatNumber: true: false: false}}" /></span></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right">(<span class="wag-limits" ng-bind="sl.cuStoreTotalPointsLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newCuTotalPointsLimit" placeholder="{{sl.cuTotalPointsLimit | formatNumber: true: false: false}}" /></span></td>
                        <td ng-click="MoveToTop(sl.sportSubType.replace(' ', '').trim())" class="text-right">(<span class="wag-limits" ng-bind="sl.inetStoreTotalPointsLimit | formatNumber: true: false: false"></span>)<span class="wag-limits"><input ng-keypress="Readkey(event)" type="text" class="form-control" ng-blur="ChangeLimit(sl)" ng-model="sl.newInetTotalPointsLimit" placeholder="{{sl.inetTotalPointsLimit | formatNumber: true: false: false}}" /></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button type="button" ng-click="UpdateCustomerSportLimits()" class="btn btn-default btn-limits">{{Translate('Submit')}}</button>
                </div>
            </div>
    </div>

    </div>﻿
</div>