﻿<div ng-show="AgentInfo.EnterTransactionFlag=='Y' || AgentInfo.ChangeCreditLimitFlag=='Y' || AgentInfo.ChangeTempCreditFlag =='Y' || AgentInfo.SuspendWageringFlag=='Y' || AgentInfo.UpdateCommentsFlag=='Y' || AgentInfo.ChangeWagerLimitFlag=='Y' || AgentInfo.AddNewAccountFlag=='Y'">

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li ng-show="AgentInfo.EnterTransactionFlag=='Y'" ng-class="{'active':TabActive('P')}"><a data-toggle="tab" data-target="#menu1" ng-click="confirmationMsg = ''">{{Translate('Payments')}}</a></li>
  <li ng-show="AgentInfo.ChangeCreditLimitFlag=='Y' || AgentInfo.ChangeTempCreditFlag =='Y' || AgentInfo.ChangeWagerLimitFlag=='Y'" ng-class="{'active':TabActive('Q')}" class=""><a data-toggle="tab" data-target="#menu2" ng-click="confirmationMsg = ''">{{Translate('Limits')}}</a></li>
  <li ng-show="AgentInfo.SuspendWageringFlag=='Y'" ng-class="{'active':TabActive('D')}"><a data-toggle="tab" data-target="#menu3" ng-click="confirmationMsg = ''">{{Translate('Disable')}}</a></li>
  <li ng-show="AgentInfo.UpdateCommentsFlag=='Y'" ng-class="{'active':TabActive('C')}"><a data-toggle="tab" data-target="#menu4" ng-click="confirmationMsg = ''">{{Translate('Comments')}}</a></li>
  <li ng-show="AgentInfo.AddNewAccountFlag=='Y'" ng-class="{'active':TabActive('A')}"><a data-toggle="tab" data-target="#menu5" ng-click="confirmationMsg = ''">{{Translate('Customer')}}</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">

<div id="menu1" class="tab-pane fade" ng-class="{'in active':TabActive('P')}">
  <form>

    <div class="form-row">
      <div class="form-group col-xs-6">
        <label for="txtPaymentAmt">{{Translate('Amount:')}}</label>
        <input type="number" class="form-control" ng-model="paymentAmt" id="txtPaymentAmt" ng-disabled="IsDisabled()">
      </div>
      <div class="form-group col-xs-6"></div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">

        <label class="radio-inline">
          <input type="radio" ng-model="tranType" value="Deposit" ng-disabled="agentInfo.EnterTransactionFlag=='N' || IsDisabled()" name="tranType">
          {{Translate('Deposit')}}
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="tranType" value="Withdrawal" ng-disabled="agentInfo.EnterTransactionFlag=='N' || IsDisabled()" name="tranType">
          {{Translate('Withdrawal')}}
        </label>
        <label class="radio-inline" ng-show="agentInfo.EnterBettingAdjFlag=='Y'">
          <input type="radio" ng-model="tranType" value="BetAdjCredit" name="tranType">
          {{Translate('Bet Adj Credit')}}
        </label>
        <label class="radio-inline" ng-show="agentInfo.EnterBettingAdjFlag=='Y'">
          <input type="radio" ng-model="tranType" value="BetAdjDebit" name="tranType">
          {{Translate('Bet Adj Debit')}}
        </label>
        <label class="radio-inline" ng-show="agentInfo.EnterBettingAdjFlag=='Y' && agentInfo.ChangeTempCreditFlag == 'Y'">
          <select class="form-control" ng-model="dailyFigureDate" ng-options="dR.DayOfWeekStr for dR in DatesRange"></select>
        </label>
        <label class="radio-inline" ng-show="agentInfo.EnterFpTransactionsFlag=='Y'">
          <input type="radio" ng-model="tranType" value="FpDeposit" id="chbFpDeposit" ng-disabled="IsDisabled()">
          {{Translate('Free Plays Deposit')}}
        </label>
        <label class="radio-inline" ng-show="agentInfo.EnterFpTransactionsFlag=='Y'">
          <input type="radio" ng-model="tranType" value="FpWithdrawal" id="chbFpWithdrawal" ng-disabled="IsDisabled()">
          {{Translate('Free Plays Withdrawal')}}
        </label>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <label for="txtPaymentAmt">{{Translate('Description:')}}</label>
        <textarea id="txtADescription" class="form-control" ng-model="paymentDescr" ng-disabled="IsDisabled()"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <input type="button" class="btn btn-primary" value="{{Translate('Submit')}}" ng-click="PostPaymentTransaction()" ng-disabled="IsDisabled()">
        <label ng-bind="confirmationMsg" ng-show="confirmationMsg != ''"></label>
      </div>
    </div>


  </form>
</div>

<div id="menu2" class="tab-pane fade" ng-class="{'in active':TabActive('Q')}">

  <form>

    <div class="form-row" ng-show="AgentInfo.ChangeWagerLimitFlag =='Y' ">
      <div class="form-group col-xs-6">
        <label for="txtQuickLimitAmt">{{Translate('Wager Limit:')}}</label>
        <input type="number" class="form-control" name="txtQuickLimitAmt" ng-model="quickLimitAmt" ng-disabled="agentInfo.ChangeWagerLimitFlag=='N'|| customer.TempWagerLimit || IsDisabled()" id="txtQuickLimitAmt" placeholder="{{QuickAmountPlaceholder()}}">
        <small class="text-muted" ng-if="customer.TempWagerLimit" ng-bind="'Temp quick limit set (' + (customer.TempWagerLimit | formatNumber) + ') until ' + FormatDateTime(customer.TempWagerLimitExpiration, 4)"></small>
      </div>
      <div class="form-group col-xs-6"></div>
    </div>

    <div class="form-row" ng-show="AgentInfo.ChangeCreditLimitFlag =='Y' ">
      <div class="form-group col-xs-6">
        <label for="txtCreditLimitAmt">{{Translate('Credit Limit:')}}</label>
        <input type="number" class="form-control" name="txtCreditLimitAmt" ng-model="creditLimitAmt" ng-disabled="agentInfo.ChangeCreditLimitFlag=='N' || IsDisabled()" id="txtCreditLimitAmt" placeholder="{{AmountPlaceholder()}}">
      </div>
      <div class="form-group col-xs-6"></div>
    </div>

    <div class="form-row" ng-show="AgentInfo.ChangeTempCreditFlag =='Y' ">
      <div class="form-group col-xs-6">
        <label for="txtTmpCreditLimitAmt">{{Translate('Temp Credit Adj:')}}</label>
        <input type="number" class="form-control" name="txtTmpCreditLimitAmt" ng-model="tmpCreditLimitAmt" ng-disabled="agentInfo.ChangeTempCreditFlag=='N' || IsDisabled()" id="txtTmpCreditLimitAmt" placeholder="{{TempPlaceholder()}}">
      </div>
      <div class="form-group col-xs-6">
        <label for="txtTempCreditAdjThru">{{Translate('Until:')}}</label>
        <div class="date-picker">
          <input type="text" class="form-control" name="txtTempCreditAdjThru" ng-model="tmpCreditAdjDateThru" ng-disabled="agentInfo.ChangeTempCreditFlag=='N' || IsDisabled()" placeholder="{{DatePlaceholder()}}" />
        </div>
      </div>
    </div>
                
    <div class="form-row" ng-show="AgentInfo.ChangeCreditLimitFlag =='Y' ">
      <div class="form-group col-xs-6">
        <label for="settlefigure">{{Translate('Settle Figure:')}}</label>
        <input type="number" class="form-control" name="settlefigure" ng-model="settleLimitAmt" ng-disabled="agentInfo.ChangeSettleFigureFlag=='N' || IsDisabled()" placeholder="{{SettlePlaceholder()}}">
      </div>
      <div class="form-group col-xs-6"></div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <input type="button" class="btn btn-primary" value="{{Translate('Submit')}}" ng-click="PostQuickLimitsTransaction()" ng-disabled="IsDisabled()">
      </div>
    </div>

    <span>
      <label ng-bind="quickLimitTranPostedMsg" ng-show="quickLimitTranPostedMsg != ''"></label>
      <br />
      <label ng-bind="quickLimitTempPostedMsg" ng-show="quickLimitTempPostedMsg != ''"></label>
      <br />
      <label ng-bind="detailLimitTranPostedMsg" ng-show="quickLimitTranPostedMsg != ''"></label>
      <br />
      <label ng-bind="detailLimitTempPostedMsg" ng-show="quickLimitTempPostedMsg != ''"></label>
    </span>


  </form>
</div>

<div id="menu3" class="tab-pane fade" ng-class="{'in active':TabActive('D')}">

  <div class="row">
    <div class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-userallow" id="WAGERINGICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('WAGERING', 'Wagering', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Site')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(customer.CustomerId, 'WageringActive', $event)">
        <input type="checkbox" ng-model="customer.WageringActive" ng-disabled="IsDisabled()">
        <label id="WAGERING" for="WAGERING"></label>
      </div>
    </div>

    <span class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-sports" id="NOWAGERINGICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('NOWAGERING', 'Sports', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Wagering')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(customer.CustomerId, 'NoWagering', $event)" ng-disabled="IsDisabled()">
        <input type="checkbox" class="" ng-model="customer.NoWagering" ng-disabled="IsDisabled()">
        <label id="NOWAGERING" for="NOWAGERING"></label>
      </div>
    </span>

    <span class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-horses" id="HORSESICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('HORSES', 'Horses', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Horses')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(customer.CustomerId, 'HorsesActive', $event)" ng-disabled="IsDisabled()">
        <input type="checkbox" class="" ng-model="customer.HorsesActive" ng-disabled="IsDisabled()">
        <label id="HORSES" for="HORSES"></label>
      </div>
    </span>

    <span class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-casino" id="VCASINOICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('VCASINO', 'Virtual Casino', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Casino')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(customer.CustomerId, 'VirtualCasinoActive', $event)" ng-disabled="IsDisabled()">
        <input type="checkbox" ng-model="customer.VirtualCasinoActive">
        <label id="VCASINO" for="VCASINO"></label>
      </div>
    </span>

    <span class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-blackjack" id="MINIBJICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('MINIBJ', 'Black Jack', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Mini BJ')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(cL.CustomerId, 'MiniBJActive', $event)" ng-disabled="IsDisabled()">
        <input type="checkbox" ng-model="customer.MiniBJActive">
        <label id="MINIBJ" for="MINIBJ"></label>
      </div>
    </span>

    <span class="col-xs-4 col-sm-2 text-center">
      <span class="icon-container">
        <span class="icon-lb" id="LBETTINGICON" data-toggle="modal" data-target="#ModalCust_req" ng-click="SetIcon('LBETTING', 'Live Betting', aL.CustomersList)"></span>
      </span>
      <span style="font-weight: normal; font-size: 0.85em; margin: 5px 0 8px 0; display: block; line-height: 1.2em;">{{Translate('Live Betting')}}<br />
        {{Translate('Access')}}</span>
      <div class="restrictions" ng-click="UpdateCustomerAccess(customer.CustomerId, 'LiveBettingActive', $event)" ng-disabled="IsDisabled()">
        <input type="checkbox" class="" ng-model="customer.LiveBettingActive">
        <label id="LBETTING" for="LBETTING"></label>
      </div>
    </span>

  </div>

</div>

<div id="menu4" class="tab-pane fade" ng-class="{'in active':TabActive('C')}">
  <form>

    <div class="form-row">
      <div class="form-group col-xs-6">
        <label for="">{{Translate('Message type:')}}</label>
        <div class="date-picker">
          <select class="form-control" ng-model="msgPriority">
            <option value="M">{{Translate('Alert Once')}}</option>
            <option value="H">{{Translate('Alert Always')}}</option>
            <option value="L">{{Translate('Inbox Only')}}</option>
            <option value="S">{{Translate('Suspend')}}</option>
          </select>
        </div>
        <small class="text-muted" ng-bind="PriorityText"></small>
      </div>
      <div class="form-group col-xs-6">
        <label for="txtTempCreditAdjThru">{{Translate('Expiration:')}}</label>
        <div class="date-picker">
          <input type="text" class="form-control" name="txtTempCreditAdjThru" ng-model="msgExpirationDate" />
        </div>
        <small class="text-muted">{{Translate('Message will expire (stop displaying) at 12:00:01 A.M on selected date.')}}</small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <label for="txtSbjMsg">{{Translate('Subject:')}}</label>
        <input type="text" class="form-control" ng-model="msgSubject" id="txtSbjMsg" ng-disabled="IsDisabled()">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <label for="txtBodyMsg">{{Translate('Message:')}}</label>
        <textarea id="txtBodyMsg" class="form-control" ng-model="msgBody" ng-disabled="IsDisabled()"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <input type="button" class="btn btn-primary" value="{{Translate('Submit')}}" ng-click="AddCustomerMessage()">
      </div>
      <label ng-bind="confirmationMsg" ng-show="confirmationMsg != ''"></label>
    </div>

  </form>
</div>

<div id="menu5" class="tab-pane fade" ng-class="{'in active':TabActive('A')}">
  <form>
    <div class="form-row">
      <div class="form-group col-xs-6 col-md-4">
        <label for="txtCreditLimitAmt">{{Translate('Password Reset:')}}</label>
        <input type="text" class="form-control" name="txtCustomerPassowrd" ng-model="customer.password" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" id="password" maxlength="10">
      </div>
      <div class="form-group col-xs-6 col-md-8"></div>

    </div>

    <div class="form-row">
      <div class="form-group col-xs-12 col-md-4">
        <label for="Name">{{Translate('First Name')}}</label>
        <input type="text" class="form-control" id="Name" ng-model="customer.NameFirst" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="30">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label for="Ml">{{Translate('Ml')}}</label>
        <input type="text" class="form-control" id="Ml" ng-model="customer.NameMI" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="1">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label for="Last">{{Translate('Last')}}</label>
        <input type="text" class="form-control" id="Last" ng-model="customer.NameLast" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="150">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <label for="">{{Translate('Address:')}}</label>
        <input type="text" class="form-control" name="" id="" ng-model="customer.Address" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="100">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12 col-md-4">
        <label for="City">{{Translate('City')}}</label>
        <input type="text" class="form-control" id="City" ng-model="customer.City" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="100">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label for="State">{{Translate('State')}}</label>
        <select id="inputState" class="form-control" ng-model="customer.State" ng-options="s.abrev as s.name for s in states" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()">
        </select>
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label for="Zip">{{Translate('Zip')}}</label>
        <input type="text" class="form-control" id="Zip" ng-model="customer.Zip" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()" maxlength="15">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-xs-12">
        <input type="button" class="btn btn-primary" value="Update" ng-click="UpdateCustomer()" ng-disabled="agentInfo.AddNewAccountFlag=='N' || IsDisabled()">
        <label ng-bind="confirmationMsg" ng-show="confirmationMsg != ''"></label>
      </div>
    </div>
  </form>


</div>
</div>

</div>