﻿<div class="modal-header">
    <button type="button" class="close" ng-click="CloseDialog()" id="closeButton">&times;</button>
    <h1 class="modal-title" ng-bind='Translate("INBOX")'></h1>
</div>
<div class="modal-body">

    <div id="inbox" ng-controller="inboxController" class="page-content inset ng-scope">


        <div class="row inbox_header">
            <div class="col-xs-8" ng-bind="Translate('SUBJECT')">
            </div>
            <div class="col-xs-4 text-right" ng-bind="Translate('SENT ON')">
            </div>
        </div>

        <div class="panel-group inbox_body" id="rules-accordion">
            <div ng-repeat="msg in Inbox.PendingMsgs" class="panel panel-default" ng-class="{'unread-mail' : msg.MsgStatus=='U'}" id="mail_{{$index}}">
                    <!-- mail -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#msg_{{$index}}" ng-click="FlagCustomerMessage(msg.CustomerMessageId, 'Read', $index + 1)">
                                <span class="col-xs-9 no-padding" ng-bind='msg.MsgSubject'>Subject</span><span class="mail_date">{{FormatDate(msg)}}<br />
                                    {{FormatTime(msg)}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id="msg_{{$index}}" class="collapse in">
                        <div class="panel-body">
                            <span ng-bind-html="msg.MsgBody">Message</span>
                            <div class="mail_actions">
                                <button type="submit" class="btn btn-primary" ng-click="FlagCustomerMessage(msg.CustomerMessageId, 'Delete', $index);">{{Translate("DELETE MESSAGE")}}</button>
                            </div>
                        </div>
                    </div>
                    <!-- ./end mail -->
            </div>
        </div>
    </div>

</div>
