﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>
<html>
	<head>
		<title>Virtual Casino</title>

		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
	</head>
	<body onLoad="document.forms[0].submit();">
	<form method="post" action="https://games.trdwd.ec/BOSSWagering/Casino/InternetGaming/?SiteId=Casino">
	   <input type="hidden" name="txtCode" id="login" value="<%= ViewData["loginId"] %>">
	   <input type="hidden" name="txtPassword" id="password" value="<%= ViewData["password"] %>">
	   <input type="hidden" name="lang" value="en">
	</form>
</body>
</html>
