﻿<div class="dashbwrapper">
    <div class="allscrll">

        <div class="data-filters">
            <div class="row">
                <div class="col-sm-6 col-xs-6 no-padding">
                    <h3>{{Translate('Position By Game')}} <span><a class="print-icon hidden-print hidden-xs" onclick="window.print();"></a></span></h3>
                </div>
                <div class="col-sm-6 col-xs-6 text-right no-padding">
                    <form class="form-inline visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
                        <div class="form-group">
                            <label class="hidden-xs" for="exampleInputName2" ng-bind="Translate('Filter by Sport')"></label>
                            <select class="form-control" ng-model="DDBox.ActiveSport" ng-change="ActiveSportChanged()" ng-options="aS.SportType for aS in ActiveSports"></select>
                            <select class="form-control" ng-model="DDBox.ActiveSubSport" ng-change="SelectedSports = []; LoadGamePeriodInfoFromSport(DDBox.ActiveSport.SportType, DDBox.ActiveSubSport)" ng-options="aSS.SportSubType for aSS in DDBox.ActiveSport.SubSportsList"></select>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="data-component">
            <div class="pg-report-cont">

                <div class="" ng-show="(ActiveSports == null || ActiveSports.length == 0)" ng-bind="Translate('No Info To Show')"></div>

                <div class="pg-leftmenu">

                    <div class="sports-container">
                        <div class="panel panel-default">


                            <div id="SportsAv" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="panel-group sports" id="accordion">

                                        <div class="panel panel-default" ng-repeat="sp in ActiveSports">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" data-parent="#{{sp.SportType}}" ng-bind="Translate(sp.SportType)"></a>
                                                </h4>
                                            </div>
                                            <div id="{{sp.SportType}}" class="panel-collapse collapsed">
                                                <div class="panel-body">
                                                    <ul class="list-one">
                                                        <li ng-repeat="ssp in sp.SubSportsList" ng-class="{'selected' : ssp.Selected}">
                                                            <span ng-click="LoadGamePeriodInfoFromSport(sp.SportType, ssp, $event)"></span>
                                                            <input class="checkbox" id="input-{{$parent.$index}}-{{$index}}" type="checkbox" name="list" ng-click="LoadGamePeriodInfoFromSport(sp.SportType, ssp, $event)" />
                                                            <label for="input-{{$parent.$index}}-{{$index}}" ng-bind="Translate(ssp.SportSubType)"></label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="pg-content">

                    <div class="page-content inset">

                        <div class="panel-group" id="gamesAccordion" ng-repeat="sSs in SelectedSports" ng-show="SelectedSports.length != 0">
                            <div class="panel panel-default" id="{{'agPos.' + sSs.SportType + '.' + sSs.SportSubType}}" ng-show="sSs.PositionByGame != null">

                                <div class="panel-heading">
                                    <div class="pan-heading">
                                        <a class="ng-binding" data-target="#subSport_{{$index}}" data-toggle="collapse" data-parent="#gamesAccordion">
                                            <span class="panel-title" ng-bind="sSs.SportType + ' ' + sSs.SportSubType"></span></a>
                                    </div>
                                    <div class="pan-options">
                                        <a class="game-fave" href="#"></a>
                                        <a class="gametest" href="#subSport_{{$index}}" data-toggle="collapse" data-parent="#gamesAccordion"><span class="league-collapse"></span></a>
                                    </div>

                                    <span class="btn-period-group" class="panel-collapse in" id="subSport_{{$index}}_periods">
                                        <button ng-repeat="aP in sSs.AvailablePeriods" class="btn btn-small btn-period" ng-click="LoadGamePeriodInfoFromGamePeriod(sSs, aP, $event)" ng-class="{ 'active': aP.Selected }"
                                            ng-bind="aP.PeriodDescription" id="{{'btn.' + sSs.SportType + '.' + sSs.SportSubType + '.' + aP.PeriodNumber}}" aria-hidden="true">
                                        </button>
                                    </span>
                                </div>


                                <div style="height: auto;" class="panel-collapse in" id="subSport_{{$index}}">


                                    <div class="wagertypetitle">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12 col-xl-12 no-padding-right">
                                                <div class="row">
                                                    <div class="col-xs-5 col-sm-5 col-lg-4 col-xl-5 no-padding"></div>
                                                    <div class="col-xs-7 col-sm-7 col-lg-8 col-xl-7 no-padding">

                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-4 text-center text-xs-right wagertypetitle-divider no-padding-left">
                                                                Spread
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the agent profit on both sides in a game')}}">{{Translate('Profit($)')}}</span>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the volume on both sides in the game. The volume is calculated as the lower of the risk or the win amount on a wager')}}">{{Translate('Volume')}}</span>
                                                                    </div>
                                                                    <div class="col-md-4 no-padding text-right hidden-sm hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the actual number of wagers that have been placed on both sides')}}">{{Translate('Count')}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-4 text-center text-xs-right wagertypetitle-divider no-padding-left">
                                                                Money Line
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the agent profit on both sides in a game.')}}">{{Translate('Profit($)')}}</span>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the volume on both sides in the game. The volume is calculated as the lower of the risk or the win amount on a wager')}}">{{Translate('Volume')}}</span>
                                                                    </div>
                                                                    <div class="col-md-4 no-padding text-right hidden-sm hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the actual number of wagers that have been placed on both sides')}}">{{Translate('Count')}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4 col-sm-4 text-center text-xs-right wagertypetitle-divider no-padding-left">
                                                                Totals
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the agent profit on both sides in a game.')}}">{{Translate('Profit($)')}}</span></div>
                                                                    <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the volume on both sides in the game. The volume is calculated as the lower of the risk or the win amount on a wager')}}">{{Translate('Volume')}}</span>
                                                                    </div>
                                                                    <div class="col-md-4 no-padding text-right hidden-sm hidden-xs">
                                                                        <span class="line_limit" data-toggle="tooltip" data-placement="bottom" title="{{Translate('Shows the actual number of wagers that have been placed on both sides')}}">{{Translate('Count')}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <ul class="bettinglines">

                                        <li ng-repeat="pG in sSs.PositionByGame">

                                            <div class="gameTitle text-center-xs" ng-if="pG.IsTitle" ng-bind="FormatDateTime(pG.GameDate, 11, null, null)"></div>
                                            <div class="gameLineInfo" ng-if="!pG.IsTitle">
                                                <div class="row">

                                                    <div class="game-line col-sm-12 col-lg-12 col-xl-12 no-padding-right">

                                                        <div class="row">
                                                            <div class="col-xs-5 col-sm-5 col-lg-4 col-xl-5 no-padding">
                                                                <span ng-bind="DisplayTeam(pG.Team1Data)"></span>
                                                            </div>

                                                            <div class="col-xs-7 col-sm-7 col-lg-8 col-xl-7 no-padding">
                                                                <div class="row">
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a href="#" ng-click="GetGameActionByLine(pG.Team1Data, 'S', 'Spread')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team1Data.SpreadCount == 0}"><span ng-bind="CalculateProfit(pG.Team1Data, pG.Team2Data, sSs.SportType, sSs.SportSubType, 'S')" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team1Data, 'S')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team1Data, 'S')"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a href="#" ng-click="GetGameActionByLine(pG.Team1Data, 'M', 'Money Line')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team1Data.MoneyLineCount == 0}"><span ng-bind="CalculateProfit(pG.Team1Data, pG.Team2Data, sSs.SportType, sSs.SportSubType, 'M')"></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team1Data, 'M')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team1Data, 'M')"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a href="#" ng-click="GetGameActionByLine(pG.Team1Data, 'L', 'Total')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team1Data.TotalPointsCount == 0}"><span ng-bind="CalculateProfit(pG.Team1Data, pG.Team2Data, sSs.SportType, sSs.SportSubType, 'L')" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team1Data, 'L')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team1Data, 'L')"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-xs-5 col-sm-5 col-lg-4 col-xl-5 no-padding">
                                                                <span ng-bind="DisplayTeam(pG.Team2Data)"></span>
                                                            </div>

                                                            <div class="col-xs-7 col-sm-7 col-lg-8 col-xl-7 no-padding">
                                                                <div class="row">
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a ng-click="GetGameActionByLine(pG.Team2Data, 'S', 'Spread')" href="#" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team2Data.SpreadCount == 0}"><span ng-bind="CalculateProfit(pG.Team2Data, pG.Team1Data, sSs.SportType, sSs.SportSubType, 'S')" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team2Data, 'S')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team2Data, 'S')"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a href="#" ng-click="GetGameActionByLine(pG.Team2Data, 'M', 'Money Line')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team2Data.MoneyLineCount == 0}"><span ng-bind="CalculateProfit(pG.Team2Data, pG.Team1Data, sSs.SportType, sSs.SportSubType, 'M')" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team2Data, 'M')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team2Data, 'M')"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4 wagertypetitle-divider-data no-padding-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding text-right hidden-xs"><a href="#" ng-click="GetGameActionByLine(pG.Team2Data, 'L', 'Total')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.Team2Data.TotalPointsCount == 0}"><span ng-bind="CalculateProfit(pG.Team2Data, pG.Team1Data, sSs.SportType, sSs.SportSubType, 'L')" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding text-right" ng-bind="CalculateVolume(pG.Team2Data, 'L')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.Team2Data, 'L')"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row" ng-if="pG.DrawData">

                                                            <div class="col-xs-5 col-sm-5 col-lg-4 col-xl-5 no-padding">
                                                                <span ng-bind="DisplayTeam(pG.DrawData)"></span>
                                                                <!--i style="color: #2A6D91;"></i-->
                                                            </div>

                                                            <div class="col-xs-7 col-sm-7 col-lg-8 col-xl-7 no-padding">
                                                                <div class="row">
                                                                    <div class="col-xs-4 col-sm-4">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding-left text-right hidden-xs"></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left text-right"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding-left text-right hidden-sm hidden-xs"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding-left text-right hidden-xs"><a href="#" ng-click="GetGameActionByLineDraw(pG.Team1Data.TeamId, pG.Team2Data.TeamId, pG.DrawData, 'M', 'Money Line')" onclick="return false" data-toggle="modal" data-target="#ModalAgentPos" ng-class="{'num_zero' : pG.DrawData.MoneyLineCount == 0}"><span ng-bind="CalculateProfit(pG.Team2Data, pG.Team1Data, sSs.SportType, sSs.SportSubType, 'D', pG.DrawData)" eval></span></a></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left text-right" ng-bind="CalculateVolume(pG.DrawData, 'M')"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding-left text-right hidden-sm hidden-xs" ng-bind="CalculateCount(pG.DrawData, 'M')"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-4 col-sm-4">
                                                                        <div class="row">
                                                                            <div class="col-sm-6 col-md-4 no-padding-left text-right hidden-xs"></div>
                                                                            <div class="col-xs-12 col-sm-6 col-md-4 no-padding-left text-right"><span class="num_neg"></span></div>
                                                                            <div class="col-md-4 no-padding-left text-right hidden-sm hidden-xs"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-wide modal-wide_agposition" id="ModalAgentPos">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title" ng-bind="'Agent Position by Line for '  + AgentInfo.AgentID |  RemoveIdString:'TW'"></h1>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="info in GameActionByLine">
                            <h1 ng-bind="info.AgentID" ng-if="AgentAsCustomerInfo.AgentType == 'M'"></h1>
                            <div class="row graded-header">

                                <div class="col-sm-2 col-lg-2 no-padding">
                                    <h2>{{Translate('Date')}}</h2>
                                </div>
                                <div class="col-sm-2 col-lg-2 no-padding">
                                    <h2>{{Translate('Customer ID')}}</h2>
                                </div>
                                <div class="col-sm-4 col-lg-4 no-padding">
                                    <h2 ng-bind="LineTitle"></h2>
                                </div>
                                <div class="col-sm-4 col-lg-4 no-padding text-right">
                                    <h2>{{Translate('Amount')}}</h2>
                                </div>
                            </div>
                            <div class="row graded-data" ng-repeat="g in info.Items track by $index">
                                <div class="col-sm-2 col-lg-2 no-padding" ng-bind="LineDate">
                                </div>
                                <div class="col-sm-2 col-lg-2 no-padding" ng-bind="g.CustomerId">
                                </div>
                                <div class="col-sm-4 col-lg-4 no-padding" ng-bind="FormatLine(g)">
                                </div>
                                <div class="col-sm-4 col-lg-4 no-padding text-right" ng-bind="g.VolumeAmount | formatNumber">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ï»¿
</div>