﻿<html>
<head id="Head1" runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>Language Maintenance</title>


    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/LangMaintenanceStyle.css" rel="stylesheet" />
    <script src="/assets/libs/jquery/jquery-2.1.4.js"></script>
    <script src="/assets/libs/angular/angular.js"></script>

    <script type="text/javascript" src="/assets/libs/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/libs/bootstrap/js/boostrap-dialog.js"></script>
    <script type="text/javascript" src="/assets/libs/jquery/jquery.blockUI.js"></script>

    <script src="/app/components/settings/langMaintController.js"></script>

</head>
<body ng-app="LangMaintApp">

    <div id="wrapper" ng-controller="langMaintCtrl">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">SID Web Language Maintenance</span>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="{active : LangFiles.Selected.Code == lng.Code}" ng-repeat="lng in LangFiles.Files">
                        <a ng-click="ChangeLanguageFile(lng)" href="#"><i class="fa fa-dashboard"></i>{{lng.Name}}</a>
                    </li>
                </ul>
            </div>


        </nav>

        <div id="page-wrapper">

            <!--
            <div class="row">
              <div class="col-lg-12 breadcrumb">
                <input type="text" class="form-control" style="border: none; border-bottom: 1px solid #CCC" ng-model="txtSearchFilter" id="srch-term" name="srch-term" placeholder="Search" >
              </div>
            </div>
            -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title text-right"><i class="fa fa-bar-chart-o"></i>
                                <button class="btn btn-default" ng-click="AddTranslation()">Add Translation</button>
                                <button class="btn btn-success" ng-click="SaveTranslations()">Save Changes</button>
                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped tablesorter">
                                    <thead>
                                        <tr>
                                            <th style="width: 30%">Lang Code or Text<i class="fa fa-sort"></i></th>
                                            <th>Translation<i class="fa fa-sort"></i></th>
                                            <th style="width: 2%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="trn in Translations">
                                            <td>
                                                <span ng-show="trn.status != 'New'">{{trn.key}}</span>
                                                <span ng-show="trn.status == 'New'">
                                                    <input class="form-control" style="border: none;" type="text" ng-model="trn.key" ng-keyup="ValidateTranslation($event, trn)" />
                                                </span>
                                            </td>
                                            <td>
                                                <input class="form-control" style="border: none;" type="text" ng-model="trn.value" ng-keypress="TranslationChanged($event)" />
                                            </td>
                                            <td>
                                                <button style="margin-top: 10px" aria-hidden="true" class="close" type="button" ng-click="RemoveTranslation(trn)">×</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-right">
                                <button class="btn btn-success" ng-click="SaveTranslations()">Save Changes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>


    </div>

</body>
</html>
