﻿<div class="modal-body" ng-controller="settingsController">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title" ng-bind="Translate('Settings')" title="{{ServerInfo}}">Settings</h1>
    </div>
    <div class="tab-pane" id="settingsMenu">
        <div class="sel_lang">
            <h3 ng-bind="Translate('Select your Languages')"></h3>
            <ul>
                <li ng-repeat="l in Settings.Languages" ng-class="l.Class">
                    <a onclick="return false;" ng-class="{lang_active: selectedLanguage == l}" ng-click="ChangeLanguage(l)"></a>
                </li>
            </ul>
        </div>
        <!--<div class="sel_home">
                <h3 ng-bind="Translate('Home_Page')"></h3>
                <div class="settings">
                    <select id="id_select01" ng-model="selectedHomePage"  ng-options="h.name for h in Settings.HomePages" class="dropdown" ng-change="SaveSettings()">
                    </select>
                </div>

            </div>-->

        <div class="sel_home">
            <h3 ng-bind="Translate('Favorite Sport')"></h3>
            <div class="settings">
                <select id="FavSport" class="dropdown" ng-model="selectedSport" ng-options="m.FullName for m in Settings.MainSports" ng-change="SaveSettings()">
                </select>
            </div>
        </div>

        <div class="sel_home">
            <h3 ng-bind="Translate('Baseball_Pitchers')"></h3>
            <div class="settings">
                <select id="Pitcher" class="dropdown" ng-model="selectedBaseballAction" ng-options="b.name for b in Settings.BaseballActionTypes" ng-change="SaveSettings()">
                </select>
            </div>
        </div>

        <div class="sel_home">
            <h3 ng-bind="Translate('Remember_Password')"></h3>
            <div class="settings psswchk">
                <input type="checkbox" id="rememberPasswordCheckuu" ng-model="rememberPassword" ng-change="SaveSettings()"><label for="rememberPasswordCheckuu"></label>
            </div>
        </div>

        <div class="sel_home">
            <h3 ng-bind="Translate('Auto_Accept_lines')"></h3>
            <div class="settings psswchk">
                <input type="checkbox" id="autoAcceptLines" ng-change="AutoAcceptSwitch()" ng-model="autoAccept"><label for="autoAcceptLines"></label>
            </div>
        </div>

        <!--<div class="sel_home">
            <a ng-click="SaveLearnedTexts()"><h3 >Save Learned Texts</h3></a>
        </div>       

        <div class="sel_home">
            <a ng-click="LangMaintenance()"><h3 >Language Maintenance</h3></a>
        </div>-->
    </div>


</div>
