﻿<div class="data-filters">
    <div class="row">
    <div class="col-md-6 col-sm-3 col-xs-12">
            <h3>{{Translate('Live Bet Ticker For Agent')}} {{AgentAsCustomerInfo.CustomerID | RemoveIdString:'TW'}}</h3>
        </div>
    <div class="col-md-6 col-sm-9 col-xs-12 text-right">
            <form class="form-inline">
                <div class="form-group">
          <label>
            {{Translate('Wager Type:')}}
                    <select class="form-control" ng-model="ReportFilters.WagerType" ng-change="GetLiveTickerInfo()" ng-options="wT.WagerType for wT in WagerTypes"></select>
          </label>
          <label>
            {{Translate('Wager Amount:')}}
                    <select class="form-control color-ranges" ng-model="ReportFilters.WagerAmount" ng-change="GetLiveTickerInfo()" ng-options="wT.WagerAmount for wT in WagerAmounts"></select>
          </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="data-component">
    <div ng-show="LiveTickerInfo.length == 0">
        {{Translate('No Wagers To Show')}}
    </div>
  <!--table id="liveTickerTable" class="tablesaw" data-tablesaw-sortable data-tablesaw-mode="swipe" data-tablesaw-minimap-->
  <table id="liveTickerTable" class="tablesaw">
        <thead class="header">
            <tr>
                <th scope="col" data-tablesaw-priority="persist" class="hidden-xs">{{Translate('Ticket')}}</th>
                <th scope="col" data-tablesaw-priority="persist">{{Translate('ID')}}</th>
                <th scope="col">{{Translate('Time')}}</th>
                <th scope="col" data-tablesaw-priority="2" class="hidden-xs">{{Translate('Clerk')}}</th>
                <th scope="col" data-tablesaw-priority="3">{{Translate('Wager Type')}}</th>
                <th scope="col" data-tablesaw-priority="4" class="text-right">{{Translate('Risk')}}</th>
                <th scope="col" data-tablesaw-priority="5" class="text-right">{{Translate('Win')}}</th>
                <th scope="col" data-tablesaw-priority="6">{{Translate('Description')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lT in LiveTickerInfo" id="{{lT.TicketNumber}}_{{lT.WagerNumber}}_liveTicket" table-saw>
                <td class="hidden-xs"><span ng-bind="lT.TicketNumber + '-' + lT.WagerNumber"></span></td>
                <td><span ng-bind="lT.CustomerId"></span></td>
                <td>
                    <span ng-bind="FormatDateTime(lT.PostedDateTimeString, 6)" class="LiveTickerInfo-date"></span>
                    <span ng-bind="FormatDateTime(lT.PostedDateTimeString, 8)" class="LiveTickerInfo-time"></span>
                </td>
                <td class="hidden-xs"><span ng-bind="lT.TicketWriter"></span></td>
                <td><span ng-bind="DisplayWagerTypeName(lT)"></span></td>
                <td class="text-right" ng-class="{'amount-middle': lT.AmountWagered > 100000 && lT.AmountWagered < 1000000  , 'amount-high': lT.AmountWagered > 1000000, 'amount-low': lT.AmountWagered < 100000}"><span ng-bind="lT.AmountWagered |formatNumber"></span></td>
                <td class="text-right" ng-class="{'amount-middle': lT.AmountWagered > 100000 && lT.AmountWagered < 1000000  , 'amount-high': lT.AmountWagered > 1000000, 'amount-low': lT.AmountWagered < 100000}"><span ng-bind="lT.ToWinAmount |formatNumber"></span></td>
                <td>
                    <ul class="livetick_details">
                        <li ng-if="lT.WagerType == 'A'">{{Translate('Manual play')}}
                        </li>
                        <li ng-repeat="wI in lT.WagerItems" ng-bind="wI.FreePlayFlag == 'Y' ? Translate('**Free Play** ') + GetWagerItemDescription(wI.Description, $index): GetWagerItemDescription(wI.Description, $index)">
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
  </table>
</div>