﻿<div class="{{customClass}}" ng-class="{ttCircleLow : line.Status == 'I' && limitType == 'L', ttCircleHigh : line.Status == 'I' && limitType == 'H'}">
  <button tabindex="0" data-toggle="tooltip" data-placement="top" title="{{maxWager | formatNumber:true}}" class="btn btn-default btn-xs btn-disabled" id='{{typeId}}_{{$parent.gameLine.GameNum}}_{{$parent.gameLine.PeriodNumber}}' ng-click="$parent.GameLineAction($parent.gameLine, subType, position)" ng-disabled="$parent.IsGameLineDisabled($parent.gameLine,subType,position)" ng-class="{ changedline : changed, active: active }">
        <i ng-class="{CircleLow: line.Status == 'I' && limitType == 'L', CircleHigh: line.Status == 'I' && limitType == 'H'}" ></i>
        <span ng-bind="bind | formatLine: this : $parent.gameLine : typeId"></span>
    </button>
</div>