﻿<div id="GameLinesCtrl" ng-show="menuTab == 1">
  <div class="search" ng-show="Selections.length > 0">
    <form class="form-search form-inline" style="margin: 0;">
      <input tabindex="-1" ng-blur="SearchBlur()" ng-model="SearchFilter.value" type="text" class="search-query" placeholder="Search" name="srch-term" id="srch-term" style="border-radius: 0; width: 100%; border: none; border-bottom: 1px solid #CCC">
    </form>
  </div>

  <div class="alert alert-warning" role="alert" ng-show="ShowNoTeasersMessage">
    <strong ng-bind="'Games no available'"></strong>
    <br>
    <p></p>
  </div>

  <a id="menu-toggle" href="" class="icon_menu" ng-click="ToggleMenu()" ng-if="Customer.IsDemo"><span class="icon-menu"></span></a>

<div class="alert alert-warning" role="alert" ng-repeat="message in MessagesNotficationList" ng-show="MessagesNotficationList && Selections.length == 0">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="BanMessageOnSession(message.MessageID, MessagesNotficationList)">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong ng-bind="message.Subject"></strong>
  <br>
  <p ng-bind="message.Body"></p>
</div>

    <div class="openspot_msg" ng-if="IsMobileDevice && TicketServiceView.IsOpenPlays() && TicketServiceView.openPlaysVal.value < 8 && !TicketServiceView.Ticket.Posted()" >
        <span ng-bind="PendingOpenBets()"></span><br/>
        <span ng-if="Selections.length == 0" ng-bind="Translate('Please select a sport')"></span>
    </div>

<div class="page-content inset" ng-show="Selections.length > 0">

    <h2 class="line_title"><span class="center" ng-bind="Translate(WagerTypesView.Selected.name)"></span></h2>

    <div class="CircleLegendMob">
      <i class="CircleLow">Low Circled</i>
      <i class="CircleHigh">High Circled</i>
    </div>

    <div class="panel-group" id="gamesAccordion">
      <div class="panel panel-default" ng-repeat="league in Selections" id="divSubSport_{{league.SportSubTypeId}}" ng-show="Selections.length > 0">
        <div class="alert alert-warning" role="alert" ng-repeat="message in Selections.MessagesNotficationList" ng-show="league.MessagesNotficationList">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="BanMessageOnSession(message.MessageID, league.MessagesNotficationList)">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong ng-bind="message.Subject"></strong>
          <br>
          <p ng-bind="message.Body"></p>
        </div>
        <div class="panel-heading" ng-if="league.Type == 'G' && league.Lines.length > 0">
          <a href="" data-target="#subSport_{{league.SportSubType.RemoveSpecials()}}" data-toggle="collapse" ng-click="CollapsePeriods(league)" id="lnkSubSport_{{league.SportSubType.RemoveSpecials()}}" data-parent="#gamesAccordion">
            <h3 class="panel-title"><span ng-bind="Translate(league.SportType) + '-' + Translate(league.SportSubType)"></span></h3>
          </a>
        </div>
        <div class="panel-collapse collapse" ng-class="{'collapsed': WagerTypesView.Selected.name == 'Teaser', 'in': WagerTypesView.Selected.name != 'Teaser'}" id="subSport_{{league.SportSubType.RemoveSpecials()}}">

          <div class="panel-heading-sub" ng-show="WagerTypesView.Selected.name != 'Teaser'" ng-if="league.Type == 'G' && league.Lines.length > 0">
            <div class="period">
              <select tabindex="-1" class="dropdown" id="period_{{league.SportSubTypeId}}" name="period_{{league.SportSubTypeId}}" ng-model="league.ActivePeriod" ng-options="p.PeriodDescription for p in league.Periods" ng-change="ChangePeriod(league, league.ActivePeriod)"></select>
            </div>
            <div class="team-total" ng-show="league.IncludeTeamTotals == true && league.ActivePeriod.PeriodNumber == 0">
              <input tabindex="-1" type="checkbox" class="checkbox" ng-model="league.TeamTotalSelected" ng-disabled="league.IncludeTeamTotals != true" name="chkTeamTotal_{{league.SportSubTypeId}}" id="chkTeamTotal_{{league.SportSubTypeId}}" />
              <label for='chkTeamTotal_{{league.SportSubTypeId}}' ng-bind="Translate('TEAM TOTALS')"></label>
            </div>
          </div>

          <ul class="bettinglines">

            <li ng-repeat="gameLine in (sortedGameLines = (league.Lines | filter:Filters.Game(league, gameLine))) | orderBy:['ScheduleDate','GameDate','Team1RotNum','GameDateTime']" ng-class="{ gameTitle: gameLine.IsTitle == true  }">

              <h3 ng-show="gameLine.header == true || $index == 0 || sortedGameLines[$index-1].GameDateTimeString.split(' ')[0] != gameLine.GameDateTimeString.split(' ')[0]" bind-once>{{gameLine.GameDateTimeString | formatGameDate}}</h3>
              <div class="gameLineInfo" ng-if="gameLine.IsTitle == false">
                <h4 bind-once>
                  <span class="line-rot-num">{{gameLine.Team1RotNum}}</span>
                  {{Translate(gameLine.Team1ID)}}
            <span class="line-time">{{gameLine.GameDateTimeString | formatGameDate}} - {{gameLine.GameDateTimeString | formatGameTime}}</span>
                </h4>
                <div ng-show="gameLine.SportType == 'Baseball' && gameLine.ListedPitcher1" class="pitchers" bind-once>
                  {{ gameLine.ListedPitcher1 }}
                </div>
                <div class="btn-group btn-group-justified" data-toggle="buttons" ng-show="!league.TeamTotalSelected">
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'S', 1)" ng-disabled="IsGameLineDisabled(gameLine,'S', 1)" ng-class="{ changedline : gameLine.SpreadChanged == true, active : gameLine.Spread1Selected }" ng-model="gameLine.Spread1Selected" name='S1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='S1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{ gameLine.Spread1 | formatLine: this : gameLine : 'S1'}}
                <i ng-show="gameLine.CircledMaxWagerSpread > 0 && (gameLine.CircledMaxWagerSpreadType == 'L' || gameLine.CircledMaxWagerSpreadType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerSpreadType == 'H', CircleLow : gameLine.CircledMaxWagerSpreadType == 'L' }"></i>
                  </button>
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'M', 1)" ng-disabled="IsGameLineDisabled(gameLine,'M', 1)" ng-class="{changedline : gameLine.MoneyLineChanged == true, active : gameLine.MoneyLine1Selected }" ng-model="gameLine.MoneyLine1Selected" name='M1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='M1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{gameLine.MoneyLine1 | formatLine: this : gameLine : 'M1'}}
                <i ng-show="GetWagerType().code != 2 && gameLine.CircledMaxWagerMoneyLine > 0 && (gameLine.CircledMaxWagerMoneyLineType == 'L' || gameLine.CircledMaxWagerMoneyLineType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerMoneyLineType == 'H', CircleLow : gameLine.CircledMaxWagerMoneyLineType == 'L' }"></i>
                  </button>
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'L', 1)" ng-disabled="IsGameLineDisabled(gameLine,'L', 1)" ng-class="{changedline : gameLine.TeamTotalChanged == true, active : gameLine.TotalPoints1Selected }" ng-model="gameLine.TotalPoints1Selected" name='L1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='L1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{ gameLine.TotalPoints | formatLine: this : gameLine : 'L1'}}
                <i ng-show="gameLine.CircledMaxWagerTotal > 0 && (gameLine.CircledMaxWagerTotalType == 'L' || gameLine.CircledMaxWagerTotalType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTotalType == 'L' }"></i>
                  </button>
                </div>

                <div class="btn-group btn-group-justified" data-toggle="buttons" ng-show="league.TeamTotalSelected">
                  <div class="row teamtotal">
                    <div class="col-sm-offset-2 col-sm-8 no-padding-left">
                      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 1)" ng-disabled="IsGameLineDisabled(gameLine,'E', 1)" ng-class="{changedline : gameLine.TeamTotalChanged == true, active : gameLine.Team1TtlPtsAdj1Selected}" name='E1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team1TtlPtsAdj1Selected">
                        {{ gameLine.Team1TotalPoints | formatLine: this : gameLine : 'E1'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
                      </button>
                      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 3)" ng-disabled="IsGameLineDisabled(gameLine,'E', 1)" ng-class="{changedline : gameLine.TeamTotalChanged == true, active : gameLine.Team1TtlPtsAdj2Selected}" name='E3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team1TtlPtsAdj2Selected">
                        {{gameLine.Team1TotalPoints | formatLine: this : gameLine : 'E3'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
                      </button>

                    </div>
                  </div>

                </div>

                <h4 bind-once>
                  <span class="line-rot-num">{{gameLine.Team2RotNum}}</span>
                  {{Translate(gameLine.Team2ID)}}
                </h4>
                <div ng-show="gameLine.SportType == 'Baseball' && gameLine.ListedPitcher2" class="pitchers" bind-once>
                  {{ gameLine.ListedPitcher2 }}
                </div>
                <div class="btn-group btn-group-justified" data-toggle="buttons" ng-show="!league.TeamTotalSelected">
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'S', 2)" ng-disabled="IsGameLineDisabled(gameLine,'S', 2)" ng-class="{changedline : gameLine.SpreadChanged == true, active : gameLine.Spread2Selected}" ng-model="gameLine.Spread2Selected" name='S2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='S2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{gameLine.Spread2 | formatLine: this : gameLine : 'S2'}}
                <i ng-show="gameLine.CircledMaxWagerSpread > 0 && (gameLine.CircledMaxWagerSpreadType == 'L' || gameLine.CircledMaxWagerSpreadType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerSpreadType == 'H', CircleLow : gameLine.CircledMaxWagerSpreadType == 'L' }"></i>
                  </button>
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'M', 2)" ng-disabled="IsGameLineDisabled(gameLine,'M', 2)" ng-class="{changedline : gameLine.MoneyLineChanged == true, active : gameLine.MoneyLine2Selected }" ng-model="gameLine.MoneyLine2Selected" name='M2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='M2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{gameLine.MoneyLine2 | formatLine: this : gameLine : 'M2'}}
                <i ng-show="GetWagerType().code != 2 && gameLine.CircledMaxWagerMoneyLine > 0 && (gameLine.CircledMaxWagerMoneyLineType == 'L' || gameLine.CircledMaxWagerMoneyLineType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerMoneyLineType == 'H', CircleLow : gameLine.CircledMaxWagerMoneyLineType == 'L' }"></i>
                  </button>
                  <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'L', 2)" ng-disabled="IsGameLineDisabled(gameLine,'L', 2)" ng-class="{changedline : gameLine.TotalPointsChanged == true, active : gameLine.TotalPoints2Selected}" ng-model="gameLine.TotalPoints2Selected" name='L2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='L2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}'>
                    {{gameLine.TotalPoints | formatLine: this : gameLine : 'L2'}}
                <i ng-show="gameLine.CircledMaxWagerTotal > 0 && (gameLine.CircledMaxWagerTotalType == 'L' || gameLine.CircledMaxWagerTotalType == 'H')" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTotalType == 'L' }"></i>
                  </button>
                </div>

                <div class="btn-group btn-group-justified" data-toggle="buttons" ng-show="league.TeamTotalSelected">
                  <div class="row teamtotal">
                    <div class="col-sm-offset-2 col-sm-8 no-padding-left">

                      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 2)" ng-disabled="IsGameLineDisabled(gameLine,'E', 2)" ng-class="{changedline : gameLine.TeamTotalChanged == true, active : gameLine.Team2TtlPtsAdj1Selected}" name='E2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team2TtlPtsAdj1Selected">
                        {{gameLine.Team2TotalPoints | formatLine: this : gameLine : 'E2'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
                      </button>
                      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 4)" ng-disabled="IsGameLineDisabled(gameLine,'E', 2)" ng-class="{changedline : gameLine.TeamTotalChanged == true, active : gameLine.Team2TtlPtsAdj2Selected}" name='E4_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E4_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team2TtlPtsAdj2Selected">
                        {{gameLine.Team2TotalPoints | formatLine: this : gameLine : 'E4'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
                      </button>

                    </div>
                  </div>
                </div>

                <div ng-show="gameLine.MoneyLineDraw != null && gameLine.DrawRotNum != null && gameLine.DrawRotNum > 0 && !league.TeamTotalSelected">
                  <h4 bind-once>
                    <span class="line-rot-num">{{gameLine.DrawRotNum}}</span>
                    Draw
                  </h4>
                  <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4 no-padding">
                      <div class="btn-group btn-group-justified teamtotal" data-toggle="buttons">
                        <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'M', 3)" ng-disabled="isChkDisabled(gameLine,'M', 3)" ng-class="{changedline : gameLine.MoneyLineChanged == true,  active : gameLine.MoneyLine3Selected}">
                          <input tabindex="-1" bind-once type='button' ng-model="gameLine.MoneyLineDraw" name='M3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='M3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' />
                          {{gameLine.MoneyLineDraw | formatLine: this : gameLine : 'M3'}}
                        </button>
                      </div>
                    </div>
                    <div class="col-xs-4"></div>
                  </div>
                </div>

                <div ng-show="gameLine.Comments != ''" class="gameComments" bind-once>
                  {{ gameLine.Comments }}
                </div>

              </div>
              <div ng-if="gameLine.IsTitle == true" bind-once ng-bind="GetGamesTitle(gameLine)" class="gametitleinner text-center-xs"></div>
            </li>

            <!-- CONTESTS -->
            <div ng-if="league.Type == 'C'">
              <div class="panel-heading contests">
                <a href="" data-target="#contest_{{league.ContestNum}}" data-toggle="collapse" id="lnkContest_{{league.ContestNum}}">
                  <h3 class="panel-title" ng-bind="GetContestDescription(league)"></h3>
                </a>
                <br />
                <span ng-bind="league.ContestDateTimeString | formatGameDate"></span>
                <span ng-bind="league.ContestDateTimeString | formatGameTime"></span>
                <span ng-bind="league.ContestDateTimeString | formatGameZone"></span>
              </div>
              <div style="height: auto;" class="panel-collapse" ng-class="{'collapse': AllSelected}" id="contest_{{league.ContestNum}}">
                <ul class="bettinglines">
                  <li ng-repeat="contestantLine in (sortedContestLines = (league.ContestantsLines | filter:Filters.Contest(league, contestantLine) | orderBy:'RotNum'))">


                    <!-- contest new -->
                    <div class="gameLineInfo">

                      <h4><span class="line-rot-num" bind-once>{{contestantLine.RotNum}}</span> {{GetContestantName(contestantLine, league)}}</h4>
                      <div class="btn-group btn-group-justified btn-contest" data-toggle="buttons" ng-show="!league.TeamTotalSelected">

                        <button class="btn btn-betlines" disabled="disabled">
                          <input tabindex="-1" bind-once type='button' name='' id='' />N/A</button>

                        <button class="btn btn-betlines" ng-if="!Customer.IsDemo" ng-click="ContestantLineAction(league, contestantLine)" ng-class="{ changedline : contestantLine.LineChanged, active: contestantLine.Selected }">
                          {{GetContestantLine(contestantLine)}}
                        </button>

                        <button class="btn btn-betlines" ng-if="Customer.IsDemo" ng-class="{ changedline : contestantLine.LineChanged, active: contestantLine.Selected }">
                          {{GetContestantLine(contestantLine)}}
                        </button>

                        <button class="btn btn-betlines" disabled="disabled">
                          <input tabindex="-1" bind-once type='button' name='' id='Checkbox5' />N/A</button>
                      </div>
                    </div>
                  </li>
                </ul>

                <div ng-if="league.CategoryInfo.Comments" class="game-note"><i ng-bind="league.CategoryInfo.Comments"></i></div>



              </div>

            </div>
            <!-- ./ CONTESTS -->

          </ul>
        </div>
      </div>

    </div>



  </div>
</div>


<li ng-repeat="gameLine in (sortedGameLines = (league.Lines | filter:Filters.Game(league, gameLine))) | orderBy:['ScheduleDate','GameDate','Team1RotNum','GameDateTime']" my-post-repeat-directive="{{gameLine}}">
  <h3 ng-show="gameLine.header == true || $index == 1" bind-once>{{GetGroupedDate(gameLine, sportOffering.GameLines[$index-1])}}</h3>
  <div class="gameLineInfo" ng-if="gameLine.IsTitle == false">
    <h4 bind-once>
      <span class="line-rot-num">{{gameLine.Team1RotNum}}</span>
      {{Translate(gameLine.Team1ID)}}  
            <span class="line-time">{{gameLine.GameDateTimeString | formatGameDate}} - {{gameLine.GameDateTimeString | formatGameTime}}</span>
    </h4>
    <div bind-once ng-show="gameLine.SportType == 'Baseball' && gameLine.ListedPitcher1" class="pitchers">
      <i>{{ gameLine.ListedPitcher1 }}</i>
    </div>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 1)" ng-disabled="IsGameLineDisabled(gameLine,'E', 1)" ng-class="{changedline : gameLine.TeamTotalChanged == true}" name='E1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E1_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team1TtlPtsAdj1Selected">
        {{ gameLine.Team1TotalPoints | formatLine: this : gameLine : 'E1'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
      </button>
      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 3)" ng-disabled="IsGameLineDisabled(gameLine,'E', 1)" ng-class="{changedline : gameLine.TeamTotalChanged == true}" name='E3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E3_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team1TtlPtsAdj2Selected">
        {{gameLine.Team1TotalPoints | formatLine: this : gameLine : 'E3'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
      </button>
    </div>

    <h4 bind-once>
      <span class="line-rot-num">{{gameLine.Team2RotNum}}</span>
      {{Translate(gameLine.Team2ID)}}
    </h4>
    <div bind-once ng-show="gameLine.SportType == 'Baseball' && gameLine.ListedPitcher2" class="pitchers">
      <i>{{ gameLine.ListedPitcher2 }}</i>
    </div>
    <div class="btn-group btn-group-justified" data-toggle="buttons">
      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 2)" ng-disabled="IsGameLineDisabled(gameLine,'E', 2)" ng-class="{changedline : gameLine.TeamTotalChanged == true}" name='E2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E2_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team2TtlPtsAdj1Selected">
        {{gameLine.Team2TotalPoints | formatLine: this : gameLine : 'E2'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
      </button>
      <button class="btn btn-betlines" ng-click="GameLineAction(gameLine, 'E', 4)" ng-disabled="IsGameLineDisabled(gameLine,'E', 2)" ng-class="{changedline : gameLine.TeamTotalChanged == true}" name='E4_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' id='E4_{{gameLine.GameNum}}_{{gameLine.PeriodNumber}}' ng-model="gameLine.Team2TtlPtsAdj2Selected">
        {{gameLine.Team2TotalPoints | formatLine: this : gameLine : 'E4'}}
                <i ng-show="gameLine.CircledMaxWagerTeamTotal != null && gameLine.CircledMaxWagerTeamTotal > 0 && gameLine.Status == 'I'" ng-class="{ CircleHigh : gameLine.CircledMaxWagerTeamTotalType == 'H', CircleLow : gameLine.CircledMaxWagerTeamTotalType == 'L' }"></i>
      </button>
    </div>
  </div>

  <div bind-once ng-if="gameLine.IsTitle == true" class="gameTitle text-center-xs" ng-bind="GetGamesTitle(gameLine)"></div>
</li>

<div id="RulesContentCtrl" class="page-content inset" ng-show="menuTab == 5">
  <div ng-bind-html="pageContent"></div>
</div>

<div class="page-content inset BettingOptions_foo" ng-show="!Customer.IsDemo && Selections.length == 0 && TeaserLoaded">

  <div style='background-color: #FFF; text-align: center; margin: 5px auto 10px auto; padding: 5px 0; border-top: 1px solid #069; border-bottom: 1px solid #069;' ng-if="GetCustomerCurrencyCode() == 'MXP'">
    <h4>As of Dec. 19th your account's currency is registered as Mexican Peso(MXP).</h4>
  </div>


  <div ng-if="ShowContactInfo && !TicketServiceView.IsOpenPlays()" class="row contact-info animated fadeInUp">
    <div class="col-sm-12 col-xs-12 text-center">
      <a ng-show="LiveChatAvailable" href="#" ng-click="OpenLiveChat()" class="btn btn-block btn-reports btn-livechatmob lz_cbl" ng-bind="Translate('Live chat')" onclick="return false;"></a>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <b ng-bind="Translate('Alternate Phone Number:')"></b>
      888-854-6219<br />
      011-506-2298 5901
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <b ng-bind="Translate('Website Problems?')"></b>
      <span ng-bind="Translate('Call')"></span>855-949-9490<br />
      <span ng-bind="Translate('or submit a report to')"></span>
      <br />
      backoffice@trdwd.co.cr
    </div>
  </div>

</div>
