﻿<div class="alert alert-info" style="margin: 10px 0;">
  Home team is always displayed on the bottom or left.
</div>
<div  class="embed-container radio4n3"><iframe id="liveBettingIframe" name="liveBettingIframe" width="100%" height="1000"></iframe></div>