﻿<script language="JavaScript" type="text/JavaScript">
    function loadLDC(data) {
        window.open("https://www.golivedealer.net/LiveDealer/LiveDealerLobby.aspx?data=" + data, "LiveDealer", "toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,copyhistory=no,width=1024,height=720")
    }

    function MM_openBrWindow(theURL, winName, features) { //v2.0
        window.open(theURL, winName, features);
    }

    function openMD() {
        window.open('https://www.deal4realcasino.com/sitioEvodp/dealers/Kimberly.html', "newWin", "toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,copyhistory=no,width=900,height=680");
    }
</script>
<style>
<!--
* {margin:0; padding:0;}
.annoucement { width:630px; margin: 15px auto 0 auto; padding: 0 30px 0 0; text-align:center;}
.annoucement strong { color: #FC0;}
.livedealer { width:690px; height:502px; background: transparent url(https://classic.trdwd.ec/asi/trdwd/images/bg_livedealer_trw.png) top left repeat-x; margin: 15px auto 0 auto; padding: 0; text-align:left; border-top: 1px solid #000;}
.playnow { margin-top: 120px; padding: 0;}
.games { margin-top: 3px; text-align: center;}
.games img { margin-right: 10px;}
.req { margin-top: 125px; text-align: center;}
img { border: none; }
.clear {clear: both;}
-->
</style>

<div class="annoucement">
    <strong>- Effective Monday August 16th -<br/>
        The Live Dealer Casino will be open 24 hours a day , 7 days a week.</strong>
    <br />
</div>
<div class="livedealer">
    <div class="playnow">
        <a href="#" ng-clicl="LoadLiveDealer()" ><img src="https://classic.trdwd.ec/asi/trdwd/images/button_playnow.jpg"/></a>
    </div>

    <div class="games">
        <a ng-click="LoadLiveDealer()" ><img src="https://classic.trdwd.ec/asi/trdwd/images/button_blackjack.png" border="0" onclick="return false;"/></a>
        <a ng-click="LoadLiveDealer()" ><img src="https://classic.trdwd.ec/asi/trdwd/images/button_baccarat.png" border="0" onclick="return false;"/></a>
        <a ng-click="LoadLiveDealer()" ><img src="https://classic.trdwd.ec/asi/trdwd/images/button_roulette.png" border="0" onclick="return false;"/></a>
    </div>
    
    <div class="req">
        <a href="#" onClick="MM_openBrWindow('PopupBlockerHelp.html','','scrollbars=yes,width=900,height=600')"><img src="https://classic.trdwd.ec/asi/trdwd/images/button_popup.png" border="0"/></a>
        <a href="https://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash&amp;promoid=BIOW" alt="Get Flash!" target="_blank"><img src="http://classic.trdwd.ec/asi/trdwd/images/button_getflash.png" border="0"/></a>
        <a href="liveDealer_systemr.html" target="_blank"><img src="https://classic.trdwd.ec/asi/trdwd/images/button_system.png" border="0"/></a>
    </div>

</div>