﻿<div id="all-transactions" class="tap-pane active" role="tabpanel">
    <div class="row">
        <div class="col-sm-6 no-padding-print">
            <h2 class="RepTitle"><span ng-bind="Translate('All_Transactions') + ' '"></span><span class="visible-print" ng-bind="Translate('FOR') + ' ' +Customer.Info.CustomerID"></span><span><a class="print-icon hidden-print" href="#" onclick="window.print();"></a></span></h2>
        </div>
        <div class="col-sm-6 no-padding-print">
            <div class="date-picker">

                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 0; width: 100%">
                    <b class="glyphicon glyphicon-calendar fa fa-calendar"></b><span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="ticket" ng-show="Report.AllTransactions.length == 0" ng-bind="Translate('YOU DON\'T HAVE TRANSACTIONS ON DATE RANGE')">
    </div>
    <section ng-if="Report.AllTransactions.length > 0">
        <div class="row">
            <div class="col-sm-12 report-detail-open-bets no-padding col-print-12">
                <div class="row graded-header">
                    <div class="col-sm-12 col-lg-12 col-xl-12 col-print-12 no-padding-print">
                        <div class="row">
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding">
                                <h2 ng-bind="Translate('TIK')"></h2>
                            </div>
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding">
                                <h2 ng-bind="Translate('Date')"></h2>
                            </div>
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding">
                                <h2 ng-bind="Translate('type')"></h2>
                            </div>
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right">
                                <h2 ng-bind="Translate('Credit/Debit')"></h2>
                            </div>
                            <!--<div class="col-lg-1 col-xl-1 no-padding text-right">
                                <h2 ng-bind="Translate('Debit')"></h2>
                            </div>-->
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right">
                                <h2 ng-bind="Translate('Balance')"></h2>
                            </div>
                            <div class="col-sm-7 col-lg-7 col-xl-7 padding-left">
                                <h2 ng-bind="Translate('Wager Details')"></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row graded-data" ng-repeat="t in Report.AllTransactions | reverse">
                    <div class="col-sm-12 col-lg-12 col-xl-12 col-print-12 no-padding-print">
                        <div class="row">

                            <div class="col-sm-1 col-lg-1 no-padding" ng-if="!t.WagerNumber" ng-bind="t.DocumentNumber"> </div><div class="col-sm-1 col-lg-1 no-padding" ng-if="t.WagerNumber" ng-bind="t.DocumentNumber + '-' + t.WagerNumber">
                            </div>
                            <div class="col-sm-1 col-lg-1 no-padding col-print-1">
                                <span ng-bind="FormatDateTime(t.TranDateTimeString,7)"></span><br/>
                                <span ng-bind="FormatDateTime(t.TranDateTimeString,8)"></span>
                            </div>
                            <div class="col-sm-1 col-lg-1 no-padding col-print-1">
                                <span ng-if="t.WagerNumber" ng-bind="Translate(WagerType(t))"></span>
                                <span ng-if="!t.WagerNumber" ng-bind="t.ShortDesc"></span><br/>  
                                <span ng-if="t.TranCode == 'C' && !(t.TranType == 'E' || t.TranType == 'T')" ng-bind="Translate('WON')" class="num_pos"></span>
                                <span ng-if="t.TranCode == 'D' && !(t.TranType == 'E' || t.TranType == 'T' || t.TranType == 'I')" ng-bind="Translate('LOST')" class="num_neg"></span>
                            </div>
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
                                <span ng-show="t.TranCode == 'C'" ng-bind="'+ ' + (t.Amount | dollar)"></span><span ng-show="t.TranCode == 'D'" ng-bind="'- ' + (t.Amount | dollar)"></span>
                            </div>
                            <!--<div class="col-lg-1 col-xl-1 no-padding text-right col-print-1">
                                <span ng-show="t.TranCode == 'D'" ng-bind="t.Amount | dollar"></span>
                            </div>-->
                            <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
                                <span ng-bind="t.CurrentBalance | dollar"></span>
                            </div>
                            <div class="col-sm-7 col-lg-7 no-padding col-print-7 padding-left">
                                <button ng-if="t.WagerNumber" role="button" data-toggle="collapse" href="#alltrans_{{$index}}" aria-expanded="false" aria-controls="collapseExample" class="btn btn-small btn-graded" ng-bind="Translate('View Graded Results')" ng-show="!(t.TranType == 'X')"></button>

                                <section ng-if="!(t.TranType == 'X')">
                                    <div class="collapse" id="alltrans_{{$index}}">
                                        <div ng-repeat="ti in t.Items">
                                            <div class="graded-data-detail">
                                                <a class="icon_viewresults" onclick="changeIcon(this)" role="button" data-toggle="collapse" href="#resultsf_{{$parent.$index}}_{{$index}}" aria-expanded="false" aria-controls="collapseExample"></a>
                                                <strong ng-class="{num_neg: ti.Result == 'LOST', num_pos: ti.Result == 'WON'}" ng-bind="Translate(ti.Result) + ' '"></strong><span ng-bind="ti.Description"></span>
                                                <div class="collapse" id="resultsf_{{$parent.$index}}_{{$index}}" ng-show="ti.Outcome != 'P'">
                                                    <b ng-bind="Translate('Game Results')+':'"></b>
                                                    <span ng-bind="ScoredPtsHeader(ti)"></span>
                                                    <br />
                                                    <span ng-bind="WriteTeamsScores(ti)"></span>
                                                    <br />
                                                    <span ng-bind="WriteWinner(ti)"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section ng-bind="t.Description || t.ShortDesc " ng-if="(t.TranType == 'X')">
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.graded-data -->
            </div>
        </div>
    </section>
</div>