﻿<div ng-show="Report.OpenBets != null">
  <div class="row">
    <div class="col-sm-12 no-padding-print">
      <h2 class="RepTitle"><span class="center" ng-bind="Translate('OPEN_BETS') + ' '"></span><span class="visible-print" ng-bind="Translate('FOR') + ' ' +Customer.Info.CustomerID"></span><span><a class="print-icon hidden-print" href="#" onclick="window.print();"></a></span></h2>
    </div>
  </div>


  <div class="ticket" ng-show="Report.OpenBets.length == 0" ng-bind="Translate('NO WAGERS PENDING')">
  </div>
  <div class="ticket" ng-show="Report.OpenBets.length > 0">
    <div class="row">
      <div class="col-sm-12 report-detail-open-bets no-padding col-print-12">
        <div class="row graded-header">
          <div class="col-sm-4 col-lg-4 col-xl-3 col-print-4 no-padding-print">
            <div class="row">
              <div class="col-sm-4 col-lg-4 no-padding">
                <h2><span ng-bind="Translate('TIK')"></span>#</h2>
              </div>
              <div class="col-sm-4 col-lg-4 no-padding">
                <h2 ng-bind="Translate('Accepted Date') + ' '"><br class="visible-print"><span ng-bind="Translate('Accepted Date')"> </span></h2>
              </div>
              <div class="col-sm-4 col-lg-4 no-padding">
                <h2 ng-bind="Translate('Type')"></h2>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xl-7 no-padding-right col-print-6 no-padding-print">
            <h2 ng-bind="Translate('Details')"></h2>
          </div>
          <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
            <h2 ng-bind="Translate('RISK')"></h2>
          </div>
          <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
            <h2 ng-bind="Translate('WIN')"></h2>
          </div>
        </div>

        <div class="row graded-data" ng-repeat="oB in Report.OpenBets">
          <div class="col-sm-4 col-lg-4 col-xl-3 col-print-4 no-padding-print">
            <div class="row">
              <div class="col-sm-4 col-lg-4 no-padding">
                <span>{{oB.TicketNumber}}-{{oB.WagerNumber}} {{GetWagerStatus(oB)}}</span>
              </div>
              <div class="col-sm-4 col-lg-4 no-padding">
                <span ng-bind="FormatDateTime(oB.AcceptedDateTimeString, 7)"></span>
                <br />
                <span ng-bind="FormatDateTime(oB.AcceptedDateTimeString, 8)"></span>
              </div>
              <div class="col-lg-4 no-padding">
                <span ng-bind="Translate(WagerType(oB))"></span>
                <br />
                <span ng-if="oB.WagerType == 'T' || oB.WagerType == 'P'" ng-bind="' (' + oB.totalPicks + ' ' + Translate('Teams') + ') '"></span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xl-7 no-padding-right col-print-6 no-padding-print">
            <div ng-repeat="oBi in oB.Items">
              <div class="graded-data-detail">
                <a class="icon_viewresults test1" onclick="changeIcon(this)" role="button" data-toggle="collapse" href="#openbet_{{$parent.$index}}_{{$index}}" aria-expanded="false" aria-controls="collapseExample" ng-show="oB.WagerType != 'A'"></a>
                <strong style="text-transform: capitalize; color: #337AB7;" ng-bind="Translate(oBi.Result) + ' '" ng-show="oBi.Result != 'PENDING'"></strong><span ng-bind="GetWagerItemDescription(oBi.Description,$index)"></span>
                <div class="collapse" id="openbet_{{$parent.$index}}_{{$index}}" style="margin-left: 18px; margin-bottom: 10px;">
                  <b ng-bind="Translate('Game Notes')"></b>
                  <span ng-show="oBi.Team1ID != null && oBi.Team1ID != ''">{{oBi.Team1ID}} vs {{oBi.Team2ID}}<br /></span>
                  <span ng-show="oBi.Comments">{{oBi.Comments}}<br /></span>
                  <span ng-show="!(oBi.Result == 'WON' || oBi.Result == 'LOST')" ng-bind="Translate('Event date') + ': ' + FormatDateTime(oBi.EventDateTime, 12)"></span>
                  <section id="resultsf_{{$parent.$index}}_{{$index}}" ng-show="oBi.Result == 'WON' || oBi.Result == 'LOST'">
                    <b ng-bind="Translate('Game Results')+':'"></b>
                    <span ng-bind="ScoredPtsHeader(oBi)"></span>
                    <br />
                    <span ng-bind="WriteTeamsScores(oBi)"></span>
                    <br />
                    <span ng-bind="WriteWinner(oBi)"></span>
                  </section>
                </div>
              </div>
            </div>
            <div class="graded-data-detail">
              <button ng-if="oB.WagerStatus == 'O' && GetCustomerRestriction(oB.WagerType == 'P' ? 'PLOPEN' : 'TEOPEN')" type="button" class="btn btn-small btn-openspot active" ng-bind="OpenButtonText(oB.totalPicks, oB.Items.length)" ng-click="SelectOpenWager(oB)"></button>
            </div>
          </div>
          <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
            <fplabel ng-show="oB.FreePlayFlag == 'Y'"> ({{Translate("FP")}})</fplabel>
            <span>$<format-num num="{{oB.AmountWagered}}" divide /></span>
          </div>
          <div class="col-sm-1 col-lg-1 col-xl-1 no-padding text-right col-print-1">
            <span>$<format-num num="{{oB.ToWinAmount}}" divide /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>