﻿<div ng-controller="reportsController" id="reportsController">
    <div class="modal-header">
        <button type="button" class="close" ng-click="CloseDialog()" id="closeButton">&times;</button>
        <h1 class="modal-title" ng-bind="Translate('Reports')"></h1>

        <ul class="nav nav-pills">
            <li ng-class="{active: Page == 'dailyfigures'}"><a class="btn btn-small btn-report-modal" href="#daily-figures" aria-controls="daily-figures" role="pill" data-toggle="pill" ng-click="ShowDailyFigures(0)" ng-bind="Translate('Daily Figures')"></a></li>
            <li ng-class="{active: Page == 'pending'}"><a class="btn btn-small btn-report-modal" href="#open-bets" aria-controls="open-bets" role="pill" data-toggle="pill" ng-click="ShowOpentBets()" ng-bind="Translate('Open Bets')"></a></li>
            <li><a class="btn btn-small btn-report-modal" href="#all-transactions" aria-controls="all-transactions" role="pill" data-toggle="pill" ng-click="ShowAllTransactions()" ng-bind="Translate('All Transactions')"></a></li>
        </ul>
    </div>
    <div class="modal-body">
        <div class="reports">
            <div class="tab-content" style="width: 100%" ng-include="Templates.reports.selected"></div>
        </div>
    </div>
</div>
