﻿<p ng-if="LiveDealer"><button type="button" class="btn btn-block btn-reports" ng-click="ChangePath('/liveDealer')" ng-bind="Translate('Live_Dealer')"></button></p>
<p ng-if="VirtualCasino"><button type="button" class="btn btn-block btn-reports" ng-click="ChangePath('/casinos')" ng-bind="Translate('Virtual_Casino')"></button></p>