﻿<div id="leftMenu-content" class="tab-content menu-test-nel">
    <div class="tab-pane active" ng-include="Templates.leftSidebar.sportsMenu" id="selectionMenu">
    </div>

    <div class="tab-pane" id="casinosMenu">
        <span ng-include="Templates.leftSidebar.casinosMenu"></span>
    </div>
    <div class="tab-pane" id="horsesMenu"></div>
</div>