﻿<!-- FAKE CODE -->
<div class="tab-pane" id="rules">

    <div class="rules-container">
            
        <div class="panel-group" id="accordionParent">
                
            <!-- Site Rules -->
            <div class="panel panel-default" ng-repeat="menu0 in rulesMenus">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionParent" href="#SiteRules" ng-bind="menu0.label"></a>
                    </h4>
                </div>
                <div id="SiteRules" class="panel-collapse collapse in">
                    <div class="panel-body">
            
                        <div class="panel-group rules" id="accordion">
                      
                            <!-- Football -->
                            <div class="panel panel-default" ng-repeat="menu1 in menu0.menu">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" ng-click="ShowRule(menu1)" href="#m_{{menu1.id}}" ng-bind="menu1.label"></a>
                                    </h4>
                                </div>
                                <div id="m_{{menu1.id}}" class="panel-collapse collapse" ng-show="menu1.subMenu.length > 0">
                                    <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="menu2 in menu1.subMenu"><a href="#" ng-click="ShowRule(menu2)" ng-bind="menu2.label"></a></li>
                                    </ul>
                                    </div>
                                </div>
                            </div><!-- ./end Football -->

                        </div>
            
                    </div>
                </div>
            </div><!-- ./end Site Rules -->
           
        </div>
                
    </div>

</div><!-- end #.rules --> 
<!-- END FAKE CODE -->