﻿<div class="sel_lang">
    <h3>{{Translate("SELECT_LANGUAGE")}}</h3>
    <ul style="text-align:center;">
        <li class="lang_eng"><a id="aLang_eng" href="#" ng-click="ChangeLanguage('ENG')" ng-class="{lang_active : Customer.settings.WebLanguage == 'ENG'}"></a></li>
        <li class="lang_spa"><a id="aLang_spa" href="#" ng-click="ChangeLanguage('SPA')" ng-class="{lang_active : Customer.settings.WebLanguage == 'SPA'}"></a></li>
        <li class="lang_chi"><a id="aLang_zh" href="#" ng-click="ChangeLanguage('ZH')" ng-class="{lang_active : Customer.settings.WebLanguage == 'ZH'}"></a></li>
        <!--
            <li class="lang_tha"><a id="aLang_tha" href="#" ng-click="ChangeLanguage('THA')" ng-class="{lang_active : customerData.settings.WebLanguage == 'THA'}"></a></li>
        -->
    </ul>
</div>
                        
<div class="sel_home">
    <h3>{{Translate("HOME_PAGE")}}</h3>
    <div class="settings">
        <select id="homePageSelect" ng-model="Settings.homePages.selected" ng-options="Translate(w.name) for w in Settings.homePages.pages" ng-change="ChangeHomePage()" class="dropdown" ></select>
    </div>
</div>

<div class="sel_fav">
    <h3>{{Translate("FAVORITE_YOUR_SPORT")}}</h3>
    <div class="settings">
        <select id="FavSport" ng-model="Settings.sportTypes.Selected" ng-options="s.FullName for s in Settings.sportTypes.Data" ng-change="ChangeFavoriteSport()" class="dropdown"></select>
        <br />
        <select ng-show="false" id="FavTeam" ng-model="Settings.teams.Selected" ng-options="t.TeamID for t in Settings.teams.Data | filter: {TeamID: '!*'}" ng-change="Settings.ChangeFavoriteTeam()" class="dropdown"></select>
    </div>
</div>
            
<div class="sel_pitcher">
    <div class="row">
        <div class="col-xs-4 no-padding text-left">
        <h3 style="text-align: left; width: 80px;">{{Translate("BASEBALL_PITCHERS")}}</h3>
        </div>
        <div class="col-xs-7 col-sm-offset-1 no-padding">
            <select id="baseballActionSelect" ng-model="Settings.baseballActionTypes.Selected" ng-options="Translate(w.name) for w in Settings.baseballActionTypes.Names" ng-change="Settings.ChangePitchersAction()" class="dropdown" ></select>
        </div>
    </div>
</div>
            
<div class="sel_pitcher">
    <div class="row">
        <div class="col-xs-4 no-padding text-left">
        <h3 style="text-align: left; width: 80px;">{{Translate("TIME_ZONE")}}</h3>
        </div>
        <div class="col-xs-7 col-sm-offset-1 no-padding">
            <select id="timeZoneSelect" ng-model="TimeZones.Selected" ng-options="w.name for w in TimeZones.Names" ng-change="ChangeTimeZone()" class="dropdown" ></select>                
        </div>
    </div>
</div>

<div class="sel_pitcher">
    <div class="row">
        <div class="col-xs-7 no-padding text-left">
        <h3 style="text-align: left;">{{Translate("REMEMBER_PASSWORD")}}</h3>
        </div>

        <div class="col-xs-5 no-padding text-right psswchk">
            <input id="rememberPasswordCheck" ng-model="Customer.settings.WebRememberPassword" type="checkbox" ng-change="ConfirmRememberPassword()" />
            <label for="rememberPasswordCheck"></label>
        </div>
    </div>
</div>

<div ng-show="TranslationLearningMode == true">
    <button ng-click="SaveTranslations()">Save New Translations</button><br/>
    <a href="/LangMaintenance" target="_blank">Language Maintenance</a>
</div>

<div style="font-size:xx-small; margin-left:15px;">
    <label>{{SocketServer}}</label>-<label>{{WebServer}}</label>
</div>