﻿<div class="livebetting" ng-if="LiveBetting && !Customer.IsDemo">
  <a onclick="return false;" href="#" ng-click="ChangePath('/liveBetting')" ng-bind="Translate('Live_Betting')"></a>
</div>
<div class="wtype">
  <div class="selectwrap">
    <select tabindex="-1" ng-model="::WagerTypesView.Selected" ng-options="Translate(w.name) for w in WagerTypesView.List" class="dropdown" ng-change="Events.ChangeWagerType()"></select>
  </div>
</div>

<!-- Sports Container -->
<div class="sports-container">
  <div class="panel panel-default">
    <div id="SportsAv" class="panel-collapse collapse in">
      <div class="panel-body">

        <div class="panel-group sports" id="accordion" ng-show="!WagerTypesView.IsTeaser();">
          <div class="spotlight">
            <a href="#" ng-show="spotlight.ConstestStatus == 1 || spotlight.GameStatus == 1" ng-class="{selected : spotlight.Switch && Selections.length > 0}" ng-bind="Translate('Spotlight')" ng-click="SpotlightSwitch(spotlight.Switch)"></a>

          </div>

          <div class="panel panel-default" ng-repeat="sport in SportsAndContests | orderBy:'SequenceNumber'" ng-init="sportIndex = $index">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a id="{{sport.SportType.RemoveSpecials()}}" class="collapsed" data-toggle="collapse" data-target="#sp_{{sport.SportType.RemoveSpecials()}}" ng-bind="Translate(sport.SportType)" ng-click="SaveToggles($event, 'sp_'); SaveToggles($event, '')"></a>
              </h4>
            </div>
            <div id="sp_{{sport.SportType.RemoveSpecials()}}" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="list-one">
                  <a ng-show="sport.SportSubTypes.length > 2" ng-class="{'checkall-disabled' : Events.toggleAllSubSportsInProgress == true}" ng-click="Events.toggleAllSubSports(sport)" href="" class="checkall" ng-bind="sport.allSelected == true ? 'Uncheck all' : 'Check all'"></a>
                  <li ng-class="{'selected': sub.Selected == true}" ng-repeat="sub in sport.SportSubTypes  | orderBy:['-Active','SequenceNumber']" ng-init="subSportIndex = $index ; sub.Selected = SavedSelectedSport(sport, sub)">
                    <span ng-if="sub.Selectable" ng-click="Events.ToggleSubSport(sport, sub);" ng-class="{'league_disabled': sub.Active != 1}"></span>
                    <input ng-if="sub.Selectable" type="checkbox" ng-model="sub.Selected" class="checkbox" id="gl_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}" disabled="disabled" />
                    <label ng-if="sub.Selectable" for="gl_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}" ng-bind="Translate(sub.SportSubType)" ng-click="Events.ToggleSubSport(sport, sub);" ng-class="{'league_disabled': sub.Active != 1}"></label>
                    <ul>
                      <li ng-repeat="cnt in sub.ContestTypes | orderBy:['-Active','FirstRotNum']" ng-class="{orphaned: !sub.Selectable}" class="unselected">
                        <div class="fourlevel">
                          <span id='span_ssc_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}' ng-click="SaveToggles($event, 'div_');" class="collapsed" data-toggle="collapse" data-target="#div_ssc_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" aria-expanded="false"></span>
                          <a id="a_ssc_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" ng-click="SaveToggles($event, 'div_'); cnt.Selected = !cnt.Selected;" class="collapsed" data-toggle="collapse" data-target="#div_ssc_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" aria-expanded="false" ng-bind="Translate(cnt.ContestType)"></a>
                          <div class="collapse" id="div_ssc_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}">
                            <ul class="list-two">
                              <a ng-show="cnt.ContestTypes2.length > 2" ng-class="{'checkall-disabled' : Events.toggleAllContestsInProgress == true}" ng-click="Events.ToggleAllContests(cnt)" href="" class="checkall" ng-bind="cnt.allSelected == true ? 'Uncheck all' : 'Check all'"></a>
                              <li ng-repeat="cnt2 in cnt.ContestTypes2" ng-init="cnt2Index = $index ; cnt2.Selected = SavedSelectedContest(cnt, cnt2)" ng-class="{'selected': cnt2.Selected == true}">
                                <span ng-click="cnt2.Selected = !cnt2.Selected; Events.ToggleContest(cnt, cnt2)"></span>
                                <input type="checkbox" class="checkbox" ng-model="cnt2.Selected" ng-click="Events.ToggleContest(cnt, cnt2)" id="cnt_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2Index}}" />
                                <label for="cnt_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2Index}}" ng-bind="Translate(cnt2.ContestType2)" ng-if="cnt2.ContestType2 != '.'"></label>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>

                  <!--<li ng-if="sub.ContestTypes.lenght > 0" ng-class="{'selected': sub.Selected == true}" ng-repeat="sub in sport.SportSubTypes" ng-init="subSportIndex = $index ; sub.Selected = SavedSelectedSport(sport, sub)"></li>-->

                  <li ng-repeat="cnt in sub.ContestTypes | orderBy:'FirstRotNum'" ng-show="sub.Selectable == false" class="fourlevel" ng-init="contestIndex = $index ; cnt.Selected =  SavedSelectedContest(cnt, cnt)" ng-class="{'selected': cnt.Selected == true && cnt.Selectable == true}">
                    <!--este es el Future del SUB DEPORTE-->
                    <div class="list-one">
                      <span ng-click="Events.ToggleContest(cnt, cnt);"></span>
                      <input type="checkbox" name="something" class="checkbox" id="cnt_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" ng-click="Events.ToggleContest(cnt, cnt)" ng-model="cnt.Selected" />
                      <label for="cnt_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" ng-bind="Translate(cnt.ContestType)"></label>
                    </div>
                    <div class="fourlevel">
                      <span id='span_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}' class="collapsed" data-toggle="collapse" data-target="#scl_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" aria-expanded="false"></span>
                      <a id='a_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}' ng-click="SaveToggles($event, 'scl_'); cnt.Selected = !cnt.Selected;" class="collapsed" data-toggle="collapse" data-target="#scl_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" aria-expanded="false" ng-bind="Translate(cnt.ContestType)"></a>
                      <div class="collapse" id="scl_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}">
                        <ul class="list-two">
                          <a ng-show="cnt.ContestTypes.length > 2" ng-class="{'checkall-disabled' : Events.toggleAllContestsInProgress == true}" ng-click="Events.ToggleAllContests(cnt)" href="" class="checkall" ng-bind="cnt.allSelected == true ? 'Uncheck all' : 'Check all'"></a>
                          <li ng-repeat="cnt2 in cnt.ContestTypes2" ng-init="cnt2Index = $index ; cnt2.Selected = SavedSelectedContest(cnt, cnt2)" ng-class="{'selected': cnt2.Selected == true}">
                            <span ng-click="cnt2.Selected = !cnt2.Selected; Events.ToggleContest(cnt, cnt2)"></span>
                            <input type="checkbox" class="checkbox" ng-model="cnt2.Selected" id="cnt2_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2Index}}" ng-click="Events.ToggleContest(cnt, cnt2)" />
                            <label for="cnt2_{{sport.SportType.RemoveSpecials()}}_{{sub.SportSubType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2Index}}" ng-bind="Translate(cnt2.ContestType2)" ng-if="cnt2.ContestType2 != '.'"></label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li ng-repeat="cnt in sport.ContestTypes | orderBy:'FirstRotNum'" ng-init="cntIndex = $index ; cnt.Selected = SavedSelectedContest(cnt, cnt)">
                    <div class="fourlevel">
                      <span id="span_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" ng-click="SaveToggles($event, '')" ng-click="Events.ToggleContest(cnt, cnt); cnt.Selected = !cnt.Selected" href="#cl_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" data-toggle="collapse" class="collapsed" aria-controls="cl_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}"></span>
                      <a id="a_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" data-toggle="collapse" ng-click="SaveToggles($event, 'cl_');" class="collapsed" href="#cl_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" aria-controls="cl_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}" ng-bind="Translate(cnt.ContestType)"></a>
                      <div class="collapse" id="cl_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}">
                        <ul class="list-two">
                          <a ng-show="cnt.ContestTypes2.length > 2" ng-class="{'checkall-disabled' : Events.toggleAllContestsInProgress == true}" ng-click="Events.ToggleAllContests(cnt)" href="" class="checkall" ng-bind="cnt.allSelected == true ? 'Uncheck all' : 'Check all'"></a>
                          <li ng-repeat="cnt2 in cnt.ContestTypes2" ng-init="cnt2Index = $index ; cnt2.Selected = SavedSelectedContest(cnt, cnt2)" ng-class="{'selected': cnt2.Selected == true}">
                            <span ng-click="cnt2.Selected = !cnt2.Selected; Events.ToggleContest(cnt, cnt2)"></span>
                            <input type="checkbox" class="checkbox" ng-model="cnt2.Selected" id="cnt2_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2.ContestType2.RemoveSpecials()}}" ng-click="Events.ToggleContest(cnt, cnt2)" />
                            <label for="cnt2_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2.ContestType2.RemoveSpecials()}}" ng-bind="Translate(cnt2.ContestType2)" ng-if="cnt2.ContestType2 != '.'"></label>
                            <label for="cnt2_{{sport.SportType.RemoveSpecials()}}_{{cnt.ContestType.RemoveSpecials()}}_{{cnt2.ContestType2.RemoveSpecials()}}" ng-bind="Translate(cnt2.ContestType)" ng-if="cnt2.ContestType2 == '.'"></label>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div class="teasers-options" ng-show="WagerTypesView.IsTeaser()">
          <div ng-repeat="tc in Teasers track by $index">
            <p>
              <span ng-bind="tc.OpenAllowed ? Translate('Open Teasers') : Translate(tc.SportType)"></span>
              <span ng-if="tc.SportType == 'NFL Teaser'" class="teaserInfo" title="" data-placement="right" data-toggle="tooltip" data-original-title="{{Translate(TeaserDesc.NFLTeaser)}}"></span>
              <span ng-if="tc.SportType == 'Standard Teaser'" class="teaserInfo" title="" data-placement="right" data-toggle="tooltip" data-original-title="{{Translate(TeaserDesc.StandardTeaser)}}"></span>
              <span ng-if="tc.SportType == 'Special Teaser'" class="teaserInfo" title="" data-placement="right" data-toggle="tooltip" data-original-title="{{Translate(TeaserDesc.SpecialTeaser)}}"></span>
            </p>
            <div class="btn-group-vertical">
              <button id="btnTeaser_{{$parent.$index}}{{$index}}" type="button" class="btn btn-teasers" ng-model="s.Selected" ng-repeat="s in tc.Sub" ng-class="{ 'active' : s.Selected == true }" ng-click="Events.ToggleTeasers(s, $parent.$index, $index, tc.OpenAllowed)" ng-bind="tc.OpenAllowed ? Translate(s.SportType.replace('TW ', '')) : Translate(s.SportType.replace('TW ', ''))"></button>
            </div>
          </div>
        </div>

        <a ng-if="HorsesActive" ng-show="IsMobileDevice" href="#" onclick="return false;" class="btn btn-block btn-reports btn-horses ng-binding" ng-click="ChangePath('/horsesApp')" ng-bind="Translate('Horses')"></a>
        <a ng-show="ShowClassicButton && !IsMobileDevice" href="#" class="btn btn-block btn-reports btn-classicsite ng-binding" ng-click="SwitchToClassic()" ng-bind="Translate('Classic site')"></a>

      </div>
    </div>
  </div>

</div>
<!-- ./end Sports Container -->

<div class="debugInfo">
  <h5><strong>Socket Info: </strong></h5>
  <ul>
    <li><strong>Server:</strong> <span ng-bind="GetCurrentSocketServer()"></span></li>
    <li><strong>Status:</strong> <span ng-bind="GetWebSocketState()"></span></li>
    <li><strong>Last Msg:</strong> <span ng-bind="GetLastMessage()"></span></li>
  </ul>
</div>