﻿<nav>
  <ul class="menu m_topmenu" data-tabs="tabs">
    <li ng-class="{active: menuTab == 1}"><a href="#selectionMen" data-toggle="tab" ng-click="ChangeTap(1)"><span class="icon-select"></span>Selection</a></li><li ng-class="{active: menuTab == 2}"><a href="#/dailyFigures" data-target="#reportsMenu" data-toggle="tab" ng-click="ChangeTap(2)"><span class="icon-reports"></span>Reports</a></li><li ng-class="{active: menuTab == 3}"><a href="#settingsMenu" data-toggle="tab" ng-click="ChangeTap(3)"><span class="icon-settings"></span>Settings</a></li>
  </ul>
</nav>

<div id="leftMenu-content" class="tab-content" ng-class="{tab_content_sel: menuTab == 1, tab_content_reports: menuTab == 2, tab_content_settings: menuTab == 3}">

  <div class="tab-pane" ng-class="{active: menuTab == 1}" id="selectionMen">
    <section ng-include="Templates.leftSidebar.sportsMenuAll">
    </section>
  </div>

  <div class="tab-pane" ng-class="{active: menuTab == 2}" id="reportsMenu" ng-if="IsMobileDevice">
    <a href="#/dailyFigures" class="btn btn-block btn-reports" ng-bind="Translate('DAILY_FIGURES')" ng-click="ToggleMenu()"></a>
    <a href="#/openBets" class="btn btn-block btn-reports" ng-bind="Translate('OPEN_BETS')" ng-click="ToggleMenu()"></a>
  </div>

  <div class="tab-pane" id="settingsMenu" ng-class="{active: menuTab == 3}" ng-controller="settingsController" ng-if="IsMobileDevice">

    <div class="sel_lang">
      <h3>{{Translate("SELECT_LANGUAGE")}}</h3>
      <ul>
        <li ng-repeat="l in Settings.Languages" ng-class="l.Class">
          <a onclick="return false;" ng-class="{lang_active: selectedLanguage == l}" ng-click="ChangeLanguage(l)"></a>
        </li>
      </ul>
    </div>

    <div class="sel_fav">
      <h3>{{Translate("FAVORITE_YOUR_SPORT")}}</h3>
      <div class="settings">
        <select id="FavSport" class="dropdown" ng-model="selectedSport" ng-options="m.FullName for m in Settings.MainSports" ng-change="SaveSettings()">
        </select>
        <br />
        <select ng-show="false" id="FavTeam" ng-model="Teams.Selected" ng-options="t.TeamID for t in Teams.Data | filter: {TeamID: '!*'}" ng-change="ChangeFavoriteTeam()" class="dropdown"></select>
      </div>
    </div>

    <div class="sel_pitcher">
      <div class="row">
        <div class="col-xs-4 no-padding text-left">
          <h3 style="text-align: left; width: 80px;">{{Translate("BASEBALL_PITCHERS")}}</h3>
        </div>
        <div class="col-xs-7 col-sm-offset-1 no-padding">
          <select id="Pitcher" class="dropdown" ng-model="selectedBaseballAction" ng-options="b.name for b in Settings.BaseballActionTypes" ng-change="SaveSettings()">
          </select>
        </div>
      </div>
    </div>

    <div class="sel_pitcher sel_passw">
      <div class="row">
        <div class="col-xs-7 no-padding text-left">
          <h3 style="text-align: left;">{{Translate("REMEMBER_PASSWORD")}}</h3>
        </div>

        <div class="col-xs-5 no-padding text-right psswchk">
          <input type="checkbox" id="rememberPasswordCheckuu" ng-model="rememberPassword" ng-change="SaveSettings()"><label for="rememberPasswordCheckuu"></label>
          <label for="rememberPasswordCheck"></label>
        </div>
      </div>
    </div>

    <a ng-show="LiveChatAvailable" href="#" ng-click="OpenLiveChat()" class="btn btn-block btn-reports btn-livechatmob lz_cbl" ng-bind="Translate('Live chat')"></a>
    <a ng-show="ShowClassicButton" href="#" class="btn btn-block btn-reports btn-classicsite ng-binding" ng-click="SwitchToClassic(true)" ng-bind="Translate('Classic mobile site')"></a>
    <a ng-show="ShowClassicButton" href="#" class="btn btn-block btn-reports btn-classicsite ng-binding" ng-click="SwitchToClassic()" ng-bind="Translate('Classic site')"></a>

    <div style="font-size: xx-small; margin-left: 15px;">
      <label>{{SocketServer}}</label>-<label>{{WebServer}}</label>
    </div>
  </div>

  <div class="tab-pane" ng-class="{active: menuTab == 5}" id="rulesMenu" ng-if="IsMobileDevice">
    <div ng-include="rulesMenuMobileTemplate" ng-controller="rulesController" ng-if="menuTab == 5"></div>
  </div>

</div>

<div class="logout" id="logout">
  <nav>
    <ul class="menu" data-tabs="tabs">
      <li class="inactive"><a href="" ng-click="ShowDialog('inbox');"><span class="icon-inbox"></span><span class="badge pull-right" ng-show="Customer.Info.NewMessagesCount > 0" ng-bind="Customer.Info.NewMessagesCount"></span>Inbox</a></li><li ng-class="{active: menuTab == 5}"><a href="#" ng-click="ChangeTap(5)" data-toggle="tab"><span class="icon-rules"></span>Rules</a></li><li><a href="#" ng-click="Logout()"><span class="icon-logout"></span>{{Translate("LOGOUT")}}</a></li>
    </ul>
  </nav>
</div>
