﻿<form id="slick-login" class="form-signin" ng-submit="CustomerSignIn();">
    <input type="text" class="form-control" name="customerId" id="customerId" required="" autofocus="" ng-model="credentials.customerId" placeholder="Username">
    <input type="password" class="form-control" name="password" id="password" required="" ng-model="credentials.password" placeholder="Password">
    <input type="submit" id="submitBtn" value="Log In" class="btn btn-lg btn-primary btn-block"/>

    <input type="hidden" id="setSession" name="setSession" value="true" />
    <div style="text-align:center; margin-top:20px;">
        <a href="https://classic.trdwd.ec?nm=1">Classic Site</a>
    </div>
</form>