﻿<div class="dashbwrapper">
  <div class="allscrll" id="scrollBox">

    <div class="data-filters hidden-print">
      <div class="row">
        <div class="col-md-5 col-sm-3 col-xs-6 no-padding">
          <h3><span ng-if="NoProps">{{Translate('All Open Bets')}}</span><span ng-if="!NoProps">{{Translate('All Futures/Props Open Bets')}}</span> <span><a class="print-icon hidden-print hidden-xs" ng-click="PrintReport()"></a></span></h3>
          <p class="hidden-print">{{Translate('Click here to see')}} <a ng-if="NoProps" href="#" onclick="return false" ng-click="GetCustomerOpenBets()">{{Translate('Open Futures/Props bets')}}</a><a ng-if="!NoProps" href="#" onclick="return false" ng-click="GetCustomerOpenBets()">{{Translate('All Open bets')}}</a></p>
        </div>
        <div class="col-md-7 col-sm-9 col-xs-6 text-right no-padding">
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputName2" class="hidden-xs">{{Translate('Sort by')}}</label>
              <select class="form-control" ng-model="ReportFilters.CustomerId" ng-options="cL.CustomerName for cL in CustomersList"></select>
              <select class="form-control" ng-model="ReportFilters.WagerType" ng-change="ResetSportType()" ng-disabled="!NoProps">
                <option value="" selected>{{Translate('All wagers')}}</option>
                <option value="SMEL">{{Translate('Straight Bets')}}</option>
                <option value="P">{{Translate('Parlay/Round Robin')}}</option>
                <option value="R">{{Translate('Action Reverse')}}</option>
                <option value="T">{{Translate('Teaser')}}</option>
                <option value="I">{{Translate('If bets')}}</option>
              </select>
              <select class="form-control" ng-model="ReportFilters.SportType" ng-options="sL.SportName for sL in SportsList" ng-disabled="ReportFilters.WagerType == 'C'"></select>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="data-component open-bets-p">

      <div ng-show="GroupedCustomerBets.length == 0">
        {{Translate('No Open Bets To Show')}}
      </div>
      <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default" ng-show="sortedTickets.length > 0" ng-repeat="gC in (sortedCustomers = (GroupedCustomerBets | filter:Filters.Customer(GroupedCustomerBets, gC))) | limitTo:totalDisplayed"  on-finish-render="ngRepeatFinished">
          <div id="headingOne" class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" onclick="return false;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_{{$index}}" aria-expanded="true" aria-controls="collapseOne" ng-bind="ShowingOpenBetsFor(gC.CustomerID)"></a>
            </h4>
          </div>
          <div id="collapseOne_{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row hidden-print">
                <div class="col-sm-12 no-padding-print">
                  <span class="visible-print" ng-bind="' for ' + gC.CustomerID"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 report-detail-open-bets col-print-12 no-padding">

                  <div class="row graded-header hidden-xs">
                                        
                    <!--  1 -->
                    <!--div class="col-md-5 no-padding col-print-5 no-padding-print"-->
                    <div class="col-xs-6 col-md-5 no-padding col-print-5 no-padding-print">
                      <div class="row">
                        <div class="col-sm-3 col-lg-3 no-padding col-print-3 no-padding-print">
                          <h2>{{Translate('TICKET#')}}</h2>
                        </div>
                        <div class="col-sm-5 col-lg-5 no-padding col-print-5 no-padding-print">
                          <h2>{{Translate('ACCEPTED DATE')}}</h2>
                        </div>
                        <div class="col-sm-3 col-lg-3 no-padding col-print-4 no-padding-print">
                          <h2>{{Translate('TYPE')}}</h2>
                        </div>
                      </div>
                    </div>

                    <!--  3 -->
                    <!--div class="col-md-2 col-md-push-5 no-padding col-print-3 col-print-push-4 no-padding-print"-->
                    <div class="col-xs-6 col-md-2 col-md-push-5 no-padding col-print-3 col-print-push-4 no-padding-print">
                      <div class="row">
                        <!--div class="col-md-6 no-padding text-right col-print-6"-->
                        <div class="col-xs-6 col-md-6 no-padding text-right col-print-6">
                          <h2>{{Translate('RISK')}}</h2>
                        </div>
                                                
                        <div class="col-xs-6 col-md-6 no-padding text-right col-print-6" >
                          <!--div class="col-md-6 no-padding text-right col-print-6" -->
                          <h2>{{Translate('WIN')}}</h2>
                        </div>
                      </div>
                    </div>

                    <!--  2 -->
                    <div class="col-xs-12 col-md-5 col-md-pull-2 no-padding-right col-print-4 col-print-pull-3 no-padding-print">
                      <!--div class="col-md-5 col-md-pull-2 no-padding-right col-print-4 col-print-pull-3 no-padding-print"-->
                      <h2>{{Translate('DETAILS')}}</h2>
                    </div>

                  </div>

                  <div class="row graded-data" ng-show="sortedTickets.length > 0" ng-repeat="oB in (sortedTickets = (gC.ObjectList | filter:Filters.Tickets(gC.ObjectList, oB)))">
                                        
                    <!--  1 -->
                    <div class="col-xs-6 col-md-5 no-padding col-print-5 no-padding-print">
                      <div class="row">
                        <div class="col-xs-12 col-sm-3 col-lg-3 no-padding strong" ng-bind="FormatTicketNumberDisplay(oB)"></div>
                        <div class="col-xs-12 col-sm-5 col-lg-5 no-padding">
                          <span ng-bind="FormatDateTime(oB.AcceptedDateTimeString, 6)"></span> - <br class="visible-print">
                          <span ng-bind="DisplayTimeFromDate(oB.AcceptedDateTimeString)"></span>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 no-padding">
                          <span ng-bind="Translate(DisplayWagerTypeName(oB))"></span><br />
                          <span ng-if="oB.WagerType == 'T' || oB.WagerType == 'P'" ng-bind="ParlayText(oB.TotalPicks, oB.Items.length)"></span>
                        </div>                                              
                      </div>
                    </div>

                    <!--  3 -->
                    <div class="col-xs-6 col-md-2 col-md-push-5 no-padding col-print-3 col-print-push-4 no-padding-print">
                      <div class="row">
                        <div class="col-xs-6 col-md-6 no-padding text-right col-print-6">
                          <span class="strong visible-xs">Risk</span>
                          <span ng-bind="oB.AmountWagered | formatNumber"></span>
                        </div>
                        <div class="col-xs-6 col-md-6 no-padding text-right col-print-6" >
                          <span class="strong visible-xs">Win</span>
                          <span ng-bind="oB.ToWinAmount | formatNumber"></span>
                        </div>
                      </div>
                    </div>

                    <!--  2 -->
                    <div class="col-xs-12 col-md-5 col-md-pull-2 no-padding-right col-print-4 col-print-pull-3 no-padding-print">
                      <div class="graded-data-detail" ng-repeat="oBi in oB.Items">
                        <a onclick="return false" class="icon_viewresults" onclick="changeIcon(this)" role="button" data-toggle="collapse" href="#openbet_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}" aria-expanded="false" aria-controls="collapseExample" ng-show="oB.WagerType != 'A'"></a>
                        <strong ng-class="{num_neg: oBi.Outcome == 'LOST ', num_pos: oBi.Outcome == 'WON'}" ng-bind="oBi.Outcome"></strong> <span ng-bind="oBi.FreePlayFlag == 'Y' ? '**Free Play** ' : ''"></span><span ng-bind="GetWagerItemDescription(oBi.Description,$index)"></span>
                        <div class="collapse" id="openbet_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}">
                          <b ng-bind="'Game Notes'"></b>
                          <span ng-show="oBi.Team1ID != null && oBi.Team1ID != ''">{{oBi.Team1ID}} vs {{oBi.Team2ID}}<br />
                          </span>
                          <span ng-show="oBi.Comments">{{oBi.Comments}}<br />
                          </span>
                          <span ng-if="oB.EventDateTimeString" ng-show="!(oBi.WagerStatus == 'W' || oBi.WagerStatus == 'L')" ng-bind="'Event date' + ': ' + FormatDateTime(oB.EventDateTimeString, 12)"></span>
                          <section id="resultsf_{{$parent.$index}}_{{$index}}" ng-show="oBi.Result == 'WON' || oBi.Result == 'LOST'">
                            <b ng-bind="Translate('Game Results')+':'"></b>
                            <span ng-bind="ScoredPtsHeader(oBi)"></span>
                            <br />
                            <span ng-bind="WriteTeamsScores(oBi)"></span>
                            <br />
                            <span ng-bind="WriteWinner(oBi)"></span>
                          </section>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <button ng-show="GroupedCustomerBets.length > 4" class="btn hidden-print" ng-click="LoadMore()">{{Translate('Load more')}}</button>
      </div>
    </div>
  </div>
</div>