﻿<div ng-controller="customerController">

    <section ng-if="IsMobile">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CloseDialog()" id="closeButton">&times;</button>
            <h1 class="modal-title" ng-bind="TitleCustomer()"></h1>
        </div>
        <div class="modal-body">
            <cust-actions customer="SelectedCustomer" agent-info="AgentInfo" update-customer-balance="UpdateCustomerBalance(customerId, currentBalance)" update-customer-password="UpdateCustomer(customer)"></cust-actions>
        </div>
    </section>
    <section ng-if="!IsMobile">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CloseDialog()" id="closeButton">&times;</button>
            <h1 class="modal-title">{{Translate('Customer')}}</h1>
            <ul class="nav nav-pills">
                <li class="active"><a class="btn btn-small btn-report-modal" aria-controls="performance" role="pill" data-toggle="pill" ng-click="SetCustomerOption(0)">{{Translate('Performance')}}</a></li>
                <li><a ng-show="ActionsVisible()" class="btn btn-small btn-report-modal" role="pill" data-toggle="pill" ng-click="SetCustomerOption(1)">{{Translate('Actions')}}</a></li>
                <li><a class="btn btn-small btn-report-modal" role="pill" data-toggle="pill" ng-click="SetCustomerOption(2)">{{Translate('Daily Figures')}}</a></li>
                <li><a id="tbOpenBets" class="btn btn-small btn-report-modal" role="pill" data-toggle="pill" ng-click="SetCustomerOption(3)">{{Translate('Open Bets')}}</a></li>
                <li><a class="btn btn-small btn-report-modal" role="pill" data-toggle="pill" ng-click="SetCustomerOption(4)">{{Translate('All Transactions')}}</a></li>
            </ul>

        </div>
        <div class="modal-body">
            <div class="cust-sidebar">

                <div class="cust-list">

                    <div class="search">
                        <form>
                            <i class="glyphicon icon-search"></i>
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="filters.searchCustomer" />
                        </form>
                    </div>

                    <div class="cust-sublist" ng-repeat="aL in AgentsList">
            <span ng-bind="aL.AgentId"></span>
                        <ul>
              <li ng-repeat="cL in aL.CustomersList | filter : {CustomerId : filters.searchCustomer}" ng-class="{'selected':cL.CustomerId.trim() == SelectedCustomer.CustomerId.trim()}">
                  <a href="#" onclick="return false;" ng-click="SetSelectedCustomer(cL)"  id="a_{{cL.CustomerId}}">
                     <!-- ng-bind="cL.CustomerId | RemoveIdString:'TW' + ' (' + cL.password + ')'"-->
                      {{cL.CustomerId | RemoveIdString:'TW'}}{{' (' + cL.password + ')'}}
                  </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="cust-content-body">
                <div class="tab-content" style="width: 100%;">

                    <div role="tabpanel" class="tab-pane" ng-class="{'active' : SelectedTab == 0}" id="modal-performance">
                        <performance version="'modal'" customer-id="SelectedCustomer.CustomerId"></performance>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="modal-actions" ng-class="{'active' : SelectedTab == 1}">
                        <h3 >
                            <!--ng-bind="Translate('Account Actions for ') + SelectedCustomer.CustomerId"-->
                            {{Translate('Account Actions for ')}} {{SelectedCustomer.CustomerId | RemoveIdString:'TW'}}
                        </h3>
                        <p ng-bind="Translate('Payments and Quick Actions Module')"></p>
                        <div class="cust_dropdown">
                            <span ng-bind="Translate('Current balance: ')"></span><strong ng-bind="SelectedCustomer.CurrentBalance | formatNumber"></strong>
                            <span ng-bind="Translate('Available balance: ')"></span><strong ng-bind="CustomerBalance.AvailableBalance | formatNumber"></strong>
                        </div>
                        <cust-actions customer="SelectedCustomer" agent-info="AgentInfo" update-customer-balance="UpdateCustomerBalance(customerId, currentBalance)" update-customer-password="UpdateCustomer(customer)"></cust-actions>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="modal-daily-figures" ng-include="dailyFigureTemplate" ng-class="{'active' : SelectedTab == 2}"></div>

                    <div role="tabpanel" class="tab-pane" id="modal-open-bets" ng-include="openBetsTemplate" ng-class="{'active' : SelectedTab == 3}"></div>

                    <div role="tabpanel" class="tab-pane" id="modal-all-transactions" ng-include="allTransactionsTemplate" ng-class="{'active' : SelectedTab == 4}"></div>

                </div>
            </div>
        </div>
    </section>
</div>
