﻿<div id="performance" class="tab-pane active" role="tabpanel">
    <div class="data-component">
        ->>>___>>____{{SelectedCustomer.CustomerId}}
        <performance version="'full'" customer-id="SelectedCustomer.CustomerId"></performance>        
    </div>
</div>