﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<%@ Import Namespace="SIDWebLibraries.HelperClasses" %>

<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title><%=WebConfigManager.GetSiteTitle() %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <%: Styles.Render("~/Content/style") %>
</head>
<body ng-app="mainModule" id="body_bg">
  <div ng-controller="appController" id="app" dw-loading="Rep" class="<%= SessionVariablesCore.InstanceManager.InstanceModuleInfo.InstanceInfo.IsProduction ? "" : "test_warning"%>">

	<asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>

	<header ng-include="Templates.header"></header>

	<div id="wrapper" class="{{PageWrapperClass}}" ng-class="{active: IsMobileDevice}">

	  <div class="sidebar-wrapper hidden-print" ng-include="Templates.leftSidebar.sportsMenu" id="{{sideBarId}}"></div>
	  <div class="page-content-wrapper" id="lineDiv" ng-class="{dashboard: Selections.length == 0 || FirstLoad, 'hidden-print': DialogTemplate != ''}" ng-controller="betOfferingController">
		<div class="page-content-wrapper-inner">

		  <div class="content-header navbar-fixed-top sb-expanded" id="topHeader" ng-include="Templates.mobileHeader"></div>
		  <!-- Mobile Header-->

		  <div ng-if="!IsMobileDevice" ng-include="BetOfferingTemplate"></div>
		  <div ng-if="IsMobileDevice" ng-show="TicketServiceView.TotalWagers() > 0 && menuTab == 1 && !TicketServiceView.Ticket.Posted()" class="foo_continue" id="Div1">
			<div class="continue">
			  <button type="button" class="btn btn-continue" ng-click="MobileContinueOnClick()" ng-bind="Translate('CONTINUE')"></button>
			</div>
		  </div>
		  <ng-view ng-if="IsMobileDevice"></ng-view>
		</div>
	  </div>
	  <div ng-if="!IsMobileDevice" id="betSlipController">
		<div ng-include="betSlipTemplate"></div>
	  </div>
	  <!-- Display of bet slip -->

	  <div class="foo_options" id="page_footer"></div>
	  <!-- footer -->
	</div>

	<!-- Modal -->
	<div class="modal fade modal-wide" ng-class="ModalClass" id="modalDialog" role="dialog" data-keyboard="false" data-backdrop="static">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		  <div ng-include="DialogTemplate"></div>
		</div>
	  </div>
	</div>

	<!-- livezilla.net PLACE SOMEWHERE IN BODY -->
	<!-- PASS THRU DATA OBJECT -->
	<script type="text/javascript">
	  var lz_data = { overwrite: false, 111: '' };
	</script>
	<!-- PASS THRU DATA OBJECT -->
	<div ng-show="LiveChatAvailable" style="display: none">
	  <div id="lvztr_c58" style="display:none"></div><script id="lz_r_scr_7dd680d17bae49f538b669ffb1dbfcef" type="text/javascript" defer>lz_code_id = "7dd680d17bae49f538b669ffb1dbfcef"; var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; var src = "//support.trdwd.ec/server.php?rqst=track&output=jcrpt&hfk=MQ__&cboo=MQ__&nse=" + Math.random(); script.src = src; document.getElementById('lvztr_c58').appendChild(script);</script>
	  <!-- livezilla.net PLACE SOMEWHERE IN BODY -->
	</div>

  </div>

  <form name="LoginForm" method="post" action="https://engine.trdwd.ec/LoginVerify.asp" id="loginform" style="display: none">
	<input type="text" name="customerID" id="customerID" />
	<input type="password" name="password" id="password" />
	  <input type="hidden" id="Site" name="Site" value="tradewinds">
	<input type="hidden" id="DomainURL" name="DomainURL" value="trdwd.ec">
  </form>

  <%: Scripts.Render("~/Content/angular") %>
  <%: Scripts.Render("~/Content/appLibs") %>
  <%: Scripts.Render("~/Content/bootstrap") %>
  <%: Scripts.Render("~/Content/appControllers") %>
  <%: Scripts.Render("~/Content/appCore") %>
  <%: Scripts.Render("~/Content/appServices") %>
  <%--<script src="http://wsqc.trdwd.ec/signalr/hubs"></script>--%>
  <script src="https://ws.trdwd.ec/signalr/hubs"></script>
  <script>var sip = "<% Response.Write(Request.ServerVariables["LOCAL_ADDR"]); %>";</script>

  <script src="/assets/js/googleAnalytics.js"></script>

</body>
</html>
